[Desktop Entry]
Name=KAlarm Directory
Name[ar]=دليل «منبّهك»
Name[bg]=Папка за KAlarm
Name[bs]=KAlarm direktorij
Name[ca]=Directori del KAlarm
Name[ca@valencia]=Directori del KAlarm
Name[cs]=Adresář KAlarmu
Name[da]=KAlarm-mappe
Name[de]=KAlarm-Ordner
Name[el]=Κατάλογος KAlarm
Name[en_GB]=KAlarm Directory
Name[es]=Directorio de KAlarm
Name[et]=KAlarmi kataloog
Name[fi]=KAlarm-kansio
Name[fr]=Dossier KAlarm
Name[ga]=Comhadlann KAlarm
Name[gl]=Directorio de KAlarm
Name[hu]=KAlarm mappa
Name[ia]=Directorio de KAlarm
Name[it]=Directory KAlarm
Name[kk]=KAlarm каталогын
Name[km]=ថត KAlarm
Name[ko]=KAlarm 디렉터리
Name[lt]=KAlarm aplankas
Name[lv]=KAlarm mape
Name[nb]=KAlarn-mappe
Name[nds]=KAlarm-Verteken
Name[nl]=KAlarm-map
Name[pl]=Katalog KAlarm
Name[pt]=Pasta do KAlarm
Name[pt_BR]=Pasta do KAlarm
Name[ru]=Папка KAlarm
Name[sk]=Adresár KAlarm
Name[sl]=Mapa za KAlarm
Name[sr]=К‑алармова фасцикла
Name[sr@ijekavian]=К‑алармова фасцикла
Name[sr@ijekavianlatin]=K‑alarmova fascikla
Name[sr@latin]=K‑alarmova fascikla
Name[sv]=Kalarm-katalog
Name[tr]=KAlarm Dizini
Name[uk]=Каталог KAlarm
Name[x-test]=xxKAlarm Directoryxx
Name[zh_CN]=KAlarm 目录
Name[zh_TW]=KAlarm 目錄
Comment=Loads data from a local KAlarm folder
Comment[ar]=يحمّل البيانات من مجلّد «منبّهك» محليّ
Comment[bg]=Зареждане на данни от локална папка KAlarm
Comment[bs]=Čita podatke iz lokalnog KAlarm direktorija
Comment[ca]=Carrega les dades des d'una carpeta local del KAlarm
Comment[ca@valencia]=Carrega les dades des d'una carpeta local del KAlarm
Comment[cs]=Načítá data z místní složky KAlarmu
Comment[da]=Indlæser data fra en lokal KAlarm-mappe
Comment[de]=Laden von Daten aus einem lokalen KAlarm-Ordner
Comment[el]=Φορτώνει δεδομένα από έναν τοπικό φάκελο KAlarm
Comment[en_GB]=Loads data from a local KAlarm folder
Comment[es]=Carga datos de una carpeta local de KAlarm
Comment[et]=Andmete laadimine kohalikust KAlarmi kataloogist
Comment[fi]=Lataa tietoja paikallisesta KAlarm-kansiosta
Comment[fr]=Charge des données d'un dossier KAlarm
Comment[ga]=Luchtaíonn sé sonraí ó fhillteán logánta KAlarm
Comment[gl]=Carga datos desde un cartafol de KAlarm local.
Comment[hu]=Adatok betöltése egy helyi KAlarm mappából
Comment[ia]=Carga datos ex un dossier local de KAlarm
Comment[it]=Carica dati da una cartella locale KAlarm
Comment[kk]=Жергілікті KAlarm қапшығынан деректі алып береді
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​ថត KAlarm មូលដ្ឋាន
Comment[ko]=로컬 KAlarm 폴더에서 데이터를 가져옵니다
Comment[lt]=Įkelia duomenis iš vietinio KAlarm aplanko
Comment[lv]=Ielādē datus no lokālās KAlarm mapes
Comment[nb]=Laster data fra en lokal KAlarm-mappe
Comment[nds]=Laadt Daten ut en lokaal KAlarm-Orner
Comment[nl]=Laadt gegevens uit een lokale KAlarm-map
Comment[pl]=Wczytuje dane z lokalnego katalogu KAlarm
Comment[pt]=Carrega os dados de uma pasta local do KAlarm
Comment[pt_BR]=Carrega os dados de uma pasta local do KAlarm
Comment[ru]=Загрузка данных из локальной папки KAlarm
Comment[sk]=Načíta dáta z miestneho priečinka KAlarm
Comment[sl]=Naloži podatke iz krajevne mape za KAlarm
Comment[sr]=Учитава податке из локалне К‑алармове фасцикле
Comment[sr@ijekavian]=Учитава податке из локалне К‑алармове фасцикле
Comment[sr@ijekavianlatin]=Učitava podatke iz lokalne K‑alarmove fascikle
Comment[sr@latin]=Učitava podatke iz lokalne K‑alarmove fascikle
Comment[sv]=Laddar data från en lokal Kalarm-katalog
Comment[tr]=Yerel KAlarm dizininden veri yükleme aracı
Comment[uk]=Завантажує дані з локальної теки KAlarm
Comment[x-test]=xxLoads data from a local KAlarm folderxx
Comment[zh_CN]=从本地 KAlarm 文件夹加载数据
Comment[zh_TW]=從本地 KAlarm 目錄中載入資料
Type=AkonadiResource
Exec=akonadi_kalarm_dir_resource
Icon=kalarm
X-Akonadi-MimeTypes=application/x-vnd.kde.alarm,application/x-vnd.kde.alarm.active,application/x-vnd.kde.alarm.archived,application/x-vnd.kde.alarm.template
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kalarm_dir_resource
