[Desktop Entry]
Name=Generic IMAP Email Server
Name[ca]=Servidor de correu IMAP genèric
Name[ca@valencia]=Servidor de correu IMAP genèric
Name[cs]=Obecný emailový IMAP server
Name[da]=Generisk IMAP e-mail-server
Name[de]=Allgemeiner IMAP-E-Mail-Server
Name[el]=Γενικός εξυπηρετητής ηλ.ταχυδρομείου IMAP
Name[en_GB]=Generic IMAP Email Server
Name[es]=Servidor de correo IMAP genérico
Name[et]=Üldine IMAP e-posti server
Name[fr]=Serveur de courriels IMAP générique
Name[ga]=Freastalaí Ríomhphoist IMAP Ginearálta
Name[gl]=Servidor de correo IMAP xenérico
Name[ia]=Servitor generic de e-posta IMAP
Name[it]=Server di posta IMAP generico
Name[ja]=汎用 IMAP メールサーバ
Name[kk]=Жалпы IMAP эл.пошта сервері
Name[km]=ម៉ាស៊ីន​បម្រើ​អ៊ីមែល IMAP ទូទៅ
Name[lt]=Pagrindinis IMAP pašto serveris
Name[nb]=Generisk IMAP E-post-tjener
Name[nds]=Allgemeen IMAP-Nettpostserver
Name[nl]=Generieke IMAP e-mailserver
Name[pa]=ਆਮ IMAP ਈਮੇਲ ਸਰਵਰ
Name[pl]=Zwykły serwer poczty IMAP
Name[pt]=Servidor Genérico de E-Mail IMAP
Name[pt_BR]=Servidor de e-mails IMAP genérico
Name[ro]=Server de poștă IMAP generic
Name[sl]=Splošni poštni strežnik IMAP
Name[sv]=Generell IMAP e-postserver
Name[uk]=Типовий сервер пошти IMAP
Name[x-test]=xxGeneric IMAP Email Serverxx
Name[zh_CN]=普通 IMAP 电子邮件服务器
Name[zh_TW]=一般 IMAP 信件伺服器
Icon=network-server
Comment=Imap account
Comment[bg]=Сметка IMAP
Comment[ca]=Compte Imap
Comment[ca@valencia]=Compte Imap
Comment[cs]=Imap účet
Comment[da]=IMAP-konto
Comment[de]=IMAP-Zugang
Comment[el]=Λογαριασμός imap
Comment[en_GB]=Imap account
Comment[es]=Cuenta Imap
Comment[et]=IMAP konto
Comment[fr]=Compte Imap
Comment[ga]=Cuntas IMAP
Comment[gl]=Conta de IMAP
Comment[ia]=Conto de IMAP
Comment[it]=Account IMAP
Comment[ja]=Imap アカウント
Comment[kk]=Imap тіркелгісі
Comment[km]=គណនី Imap
Comment[lt]=Imap paskyra
Comment[nb]=Imap-konto
Comment[nds]=Imap-Konto
Comment[nl]=Imap-account
Comment[nn]=IMAP-konto
Comment[pa]=Imap ਅਕਾਊਂਟ
Comment[pl]=Konto Imap
Comment[pt]=Conta de IMAP
Comment[pt_BR]=Conta IMAP
Comment[ro]=Cont Imap
Comment[sl]=Račun IMAP
Comment[sv]=Imap-konto
Comment[uk]=Обліковий запис IMAP
Comment[x-test]=xxImap accountxx
Comment[zh_CN]=IMAP 账户
Comment[zh_TW]=Imap 帳號

[Wizard]
Type=message/rfc822
Script=imapwizard.es

[Translate]
Filename=accountwizard_imap
