[Desktop Entry]
Name=Akonadi
Name[de]=Akonadi-Ressource
Name[x-test]=xxAkonadixx
Comment=Provides access to calendars stored in Akonadi calendar folders
Comment[ca]=Proporciona l'accés als calendaris emmagatzemats en carpetes de calendari de l'Akonadi
Comment[el]=Προσφέρει πρόσβαση σε ημερολόγια αποθηκευμένα σε φακέλους ημερολογίου του Akonadi
Comment[et]=Võimaldab kasutada Akonadi kalendrikaustadesse salvestatud kalendreid
Comment[fr]=Fourni l'accès aux calendriers stockés dans les dossiers de calendrier Akonadi
Comment[gl]=Permite acceder aos calendarios almacenados nos cartafoles de calendario do Akonadi
Comment[ja]=Akonadi のカレンダーフォルダに保存されているカレンダーへのアクセスを提供します
Comment[km]=ផ្ដល់​សិទ្ធិ​ចូល​ដំណើរការ​ទៅកាន់​ប្រតិទិន​ដែល​បាន​រក្សាទុក​នៅ​ក្នុង​ថត​ប្រតិទិន Akonadi
Comment[lv]=Nodrošina piekļuvi kalendāriem, kas glabājas Akonadi kalendāru mapēs
Comment[nb]=Gir tilgang til kalendere lagret i Akonadi adressebok-mappene
Comment[nds]=Stellt Togriep op binnen Akonadi sien Kalennerornern wohrte Kalenners praat
Comment[nl]=Geeft toegang tot de in de agendamappen van Akonadi opgeslagen agenda's
Comment[nn]=Gjev tilgang til kalendrar lagra i Akonadi-kalendermapper
Comment[pt]=Oferece o acesso aos calendários guardados nas pastas de calendários do Akonadi
Comment[pt_BR]=Fornece acesso aos calendários armazenados nas pastas de calendários do Akonadi
Comment[sv]=Ger tillgång till kalendrar lagrade i Akonadi-kalenderkataloger
Comment[tr]=Akonadi takvim dizinlerindeki takvimlere erişim sağlar
Comment[uk]=Надає доступ до календарів, які зберігаються у теках календарів Akonadi
Comment[x-test]=xxProvides access to calendars stored in Akonadi calendar foldersxx
Comment[zh_TW]=提供存取儲存在 Akonadi 通訊錄資料夾中的行事曆
X-KDE-Library=kcal_akonadi
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=akonadi
