[Desktop Entry]
Name=Akonadi
Name[x-test]=xxAkonadixx
X-KDE-Library=kcal_akonadi
Type=Service
X-KDE-ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=calendar
X-KDE-ResourceType=akonadi
