[Desktop Entry]
Name=Strigi Feeder
Name[en_GB]=Strigi Feeder
Name[es]=Fuentes de Strigi
Name[et]=Strigi söötur
Name[fr]=Chargeur Strigi
Name[gl]=Fornecedor de Strigi
Name[pt]=Fonte do Strigi
Name[pt_BR]=Fonte do Strigi
Name[sv]=Inmatning till Strigi
Name[tr]=Strigi Besleyici
Name[uk]=Передавач Strigi
Name[x-test]=xxStrigi Feederxx
Comment=Strigi-based fulltext search
Comment[en_GB]=Strigi-based fulltext search
Comment[es]=Búsqueda de texto completo basada en Strigi
Comment[et]=Strigi-põhine täistekstiotsing
Comment[fr]=Recherche textuelle fondée sur Strigi
Comment[ga]=Cuardach lántéacs bunaithe ar Strigi
Comment[gl]=Procura de texto completo baseada en Strigi
Comment[hi]=स्ट्रिगि आधारित संपूर्ण-पाठ खोज
Comment[it]=Ricerca del testo completo basata su Strigi
Comment[pt]=Pesquisa por texto completo baseada no Strigi
Comment[pt_BR]=Pesquisa por texto completo baseada no Strigi
Comment[sv]=Fulltextsökning baserad på Strigi
Comment[tr]=Strigi-tabanlı tam metin araması
Comment[uk]=Повнотекстовий пошук на основі Strigi
Comment[x-test]=xxStrigi-based fulltext searchxx
Type=AkonadiAgent
Exec=akonadi_strigi_feeder

X-Akonadi-MimeTypes=all/all
X-Akonadi-Capabilities=Unique
X-Akonadi-Identifier=akonadi_strigi_feeder
