[Desktop Entry]
Name=KMail Mail Folder
Name[el]=Φάκελος αλληλογραφίας KMail
Name[ia]=Dossier de posta de KMail
Name[nds]=KMail-Nettpostorner
Name[nl]=E-mailmap van KMail
Name[pt]=Pasta de Correio do KMail
Name[pt_BR]=Pasta de e-mails do KMail
Name[sv]=Kmail brevkatalog
Name[uk]=Тека пошти KMail
Name[x-test]=xxKMail Mail Folderxx
Comment=Loads data from a local KMail mail folder
Comment[el]=Φόρτωση δεδομένων από έναν τοπικό φάκελο αλληλογραφίας του KMail
Comment[ia]=Carga datos ex un dossier local de posta de KMail
Comment[nds]=Laadt Daten ut en lokaal KMail-Nettpostorner
Comment[nl]=Laadt gegevens van een lokale e-mailmap van Kmail
Comment[pt]=Carrega os dados a partir de uma pasta de correio local do KMail
Comment[pt_BR]=Carrega os dados de uma pasta de e-mails local do KMail
Comment[sv]=Laddar data från en lokal Kmail brevkatalog
Comment[uk]=Завантажує дані з локальної теки пошти KMail
Comment[x-test]=xxLoads data from a local KMail mail folderxx
Type=AkonadiResource
Exec=akonadi_mixedmaildir_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_mixedmaildir_resource
