[Desktop Entry]
Name=KMail Maildir
Name[km]=KMail Maildir
Name[pt]=MailDir do KMail
Name[pt_BR]=Maildir do KMail
Name[sv]=Kmail maildir
Name[uk]=Maildir KMail
Name[x-test]=xxKMail Maildirxx
Comment=Loads data from a local KMail maildir folder
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​ថត KMail maildir មូលដ្ឋាន
Comment[pt]=Carrega os dados de uma pasta Maildir local do KMail
Comment[pt_BR]=Carrega os dados de uma pasta maildir local do KMail
Comment[sv]=Laddar data från en lokal Kmail maildir-katalog
Comment[uk]=Завантажує дані з локальної теки maildir KMail
Comment[x-test]=xxLoads data from a local KMail maildir folderxx
Type=AkonadiResource
Exec=akonadi_mixedmaildir_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_mixedmaildir_resource
