[Desktop Entry]
Name=KMail Mail Folder
Name[de]=KMail-Mailordner
Name[el]=Φάκελος αλληλογραφίας KMail
Name[es]=Carpeta de correo de KMail
Name[ia]=Dossier de posta de KMail
Name[lt]=KMail el. laiškų katalogas
Name[nb]=KMail e-postmappe
Name[nds]=KMail-Nettpostorner
Name[nl]=E-mailmap van KMail
Name[pt]=Pasta de Correio do KMail
Name[pt_BR]=Pasta de e-mails do KMail
Name[sv]=Kmail brevkatalog
Name[uk]=Тека пошти KMail
Name[x-test]=xxKMail Mail Folderxx
Name[zh_CN]=KMail 邮件文件夹
Name[zh_TW]=KMail 資料夾
Comment=Loads data from a local KMail mail folder
Comment[cs]=Načítá data z místní složky pošty  KMail
Comment[de]=Daten werden aus einem lokalen KMail-Mailordner geladen
Comment[el]=Φόρτωση δεδομένων από έναν τοπικό φάκελο αλληλογραφίας του KMail
Comment[es]=Carga datos de una carpeta de correo local de KMail
Comment[ia]=Carga datos ex un dossier local de posta de KMail
Comment[nb]=Laster data fra en lokal KMail e-ppstmappe
Comment[nds]=Laadt Daten ut en lokaal KMail-Nettpostorner
Comment[nl]=Laadt gegevens van een lokale e-mailmap van Kmail
Comment[pt]=Carrega os dados a partir de uma pasta de correio local do KMail
Comment[pt_BR]=Carrega os dados de uma pasta de e-mails local do KMail
Comment[sv]=Laddar data från en lokal Kmail brevkatalog
Comment[uk]=Завантажує дані з локальної теки пошти KMail
Comment[x-test]=xxLoads data from a local KMail mail folderxx
Comment[zh_CN]=从本地 KMail 邮件文件夹中载入数据
Comment[zh_TW]=從本地 KMail 資料夾中載入資料
Type=AkonadiResource
Exec=akonadi_mixedmaildir_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_mixedmaildir_resource
