[Desktop Entry]
Name=Mbox
Name[ca]=Mbox
Name[ca@valencia]=Mbox
Name[da]=Mbox
Name[de]=Mbox
Name[el]=Mbox
Name[en_GB]=Mbox
Name[eo]=Mbox
Name[es]=Mbox
Name[et]=Mbox
Name[fr]=Mbox
Name[ga]=Mbox
Name[gl]=Mbox
Name[it]=Mbox
Name[ja]=Mbox
Name[km]=Mbox
Name[lv]=Mbox
Name[nb]=Mbox
Name[nds]=MBox
Name[nl]=Mbox
Name[nn]=MBOX
Name[pa]=Mbox
Name[pt]=Mbox
Name[pt_BR]=Mbox
Name[ro]=Mbox
Name[ru]=Mbox
Name[sl]=Mbox
Name[sv]=Mbox
Name[tr]=Mbox
Name[uk]=Mbox
Name[x-test]=xxMboxxx
Name[zh_CN]=MBox
Name[zh_TW]=Mbox
Comment=Loads data from a local mbox file
Comment[ca]=Carrega dades des d'un fitxer «mbox» local
Comment[ca@valencia]=Carrega dades des d'un fitxer «mbox» local
Comment[da]=Indlæser data fra en lokal mbox-fil
Comment[de]=Daten werden aus einer lokalen MBox-Datei geladen
Comment[el]=Φόρτωση δεδομένων από ένα τοπικό αρχείο mbox
Comment[en_GB]=Loads data from a local mbox file
Comment[es]=Carga datos de un archivo mbox local
Comment[et]=Andmete laadimine kohalikust mbox-failist
Comment[fr]=Charge des données depuis un fichier mbox
Comment[ga]=Breiseán a luchtaíonn sonraí ó chomhad logánta mbox
Comment[gl]=Carrega datos desde un ficheiro mbox local
Comment[it]=Carica dati da una cartella locale mbox
Comment[ja]=ローカルの mbox ファイルからデータを読み込みます
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​ឯកសារ mbox មូលដ្ឋាន
Comment[lv]=Ielādē datus no lokālā mbox faila
Comment[nb]=Laster data fra en lokal mbox-fil
Comment[nds]=Laadt Daten ut en lokaal Postfach (MBox-Datei)
Comment[nl]=Laadt gegevens van een lokaal Mbox-bestand
Comment[nn]=Lastar data frå ei lokal MBOX-fil
Comment[pt]=Carrega os dados a partir de um ficheiro 'mbox' local
Comment[pt_BR]=Carrega os dados de um arquivo mbox local
Comment[ro]=Încarcă date dintr-un fișier mbox local
Comment[ru]=Загрузка данных из локального файла mbox
Comment[sl]=Naloži podatke iz krajevne datoteke mbox
Comment[sv]=Laddar data från en lokal mbox-fil
Comment[tr]=Yerel mbox dosyasından veri yükler
Comment[uk]=Завантажує дані з локального файла mbox
Comment[x-test]=xxLoads data from a local mbox filexx
Comment[zh_CN]=从本地 mbox 文件载入数据
Comment[zh_TW]=從本地 mbox 檔載入資料
Type=AkonadiResource
Exec=akonadi_mbox_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_mbox_resource
