[Desktop Entry]
Name=Mbox
Comment=Loads data from a local mbox file
Comment[ga]=Breiseán a luchtaíonn sonraí ó chomhad logánta mbox
Comment[pt]=Carrega os dados a partir de um ficheiro 'mbox' local
Comment[pt_BR]=Carrega os dados a partir de um ficheiro 'mbox' local
Comment[sv]=Laddar data från en lokal mbox-fil
Comment[uk]=Завантажує дані з локального файла mbox
Comment[zh_TW]=從本地 mbox 檔載入資料
Type=AkonadiResource
Exec=akonadi_mbox_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_mbox_resource
