[Desktop Entry]
Name=Facebook Events
Name[ar]=أحداث «فيسبوك»
Name[ca]=Esdeveniments de Facebook
Name[ca@valencia]=Esdeveniments de Facebook
Name[cs]=Události Facebooku
Name[de]=Facebook-Termine
Name[en_GB]=Facebook Events
Name[es]=Eventos de Facebook
Name[fi]=Facebook-tapahtumat
Name[fr]=Évènements Facebook
Name[gl]=Eventos de Facebook
Name[ia]=Eventos de Facebook
Name[it]=Eventi di Facebook
Name[ko]=Facebook 이벤트
Name[nl]=Facebookgebeurtenissen
Name[pl]=Wydarzenia Facebooka
Name[pt]=Eventos do Facebook
Name[pt_BR]=Eventos do Facebook
Name[ru]=События Facebook
Name[sk]=Udalosti Facebooku
Name[sl]=Dogodki na Facebooku
Name[sr]=Догађаји на Фејсбуку
Name[sr@ijekavian]=Догађаји на Фејсбуку
Name[sr@ijekavianlatin]=Događaji na Facebooku
Name[sr@latin]=Događaji na Facebooku
Name[sv]=Facebook-händelser
Name[tr]=Facebook Olayları
Name[uk]=Події Facebook
Name[x-test]=xxFacebook Eventsxx
Name[zh_CN]=Facebook 活动
Name[zh_TW]=Facebook 行程
Comment=Access your Facebook events from KDE
Comment[ar]=توصّل إلى أحداث «فيسبوك» من «كدي»
Comment[ca]=Accediu als esdeveniments de Facebook des del KDE
Comment[ca@valencia]=Accediu als esdeveniments de Facebook des del KDE
Comment[cs]=Přistupujte k vašim událostem na Facebooku z KDE
Comment[de]=Greifen Sie in KDE auf Ihre Facebook-Termine zu
Comment[en_GB]=Access your Facebook events from KDE
Comment[es]=Acceda a sus eventos de Facebook desde KDE
Comment[fi]=Pääsy KDE:sta Facebook-tapahtumiisi
Comment[fr]=Accès à vos évènements Facebook depuis KDE
Comment[gl]=Acceda aos seus eventos de Facebook desde KDE.
Comment[ia]=Accede a tu eventos de Facebook  ab KDE
Comment[it]=Accedi ai tuoi eventi di Facebook da KDE
Comment[ko]=KDE에서 Facebook 이벤트에 접근합니다
Comment[nl]=Heb toegang tot uw Facebook gebeurtenissen vanuit KDE
Comment[pl]=Daje dostęp do twoich wydarzeń Facebooka z KDE
Comment[pt]=Aceda aos seus eventos do Facebook a partir do KDE
Comment[pt_BR]=Acesse seus eventos do Facebook a partir do KDE
Comment[ru]=Доступ к событиям Facebook из KDE
Comment[sk]=Pristupuje k vašim udalostiam Facebooku z KDE
Comment[sl]=Dostopajte do svojih dogodkov na Facebooku
Comment[sr]=Приступите својим догађајима на Фејсбуку из КДЕ‑а
Comment[sr@ijekavian]=Приступите својим догађајима на Фејсбуку из КДЕ‑а
Comment[sr@ijekavianlatin]=Pristupite svojim događajima na Facebooku iz KDE‑a
Comment[sr@latin]=Pristupite svojim događajima na Facebooku iz KDE‑a
Comment[sv]=Kom åt Facebook-händelser från KDE
Comment[tr]=Facebook olaylarınıza KDE üzerinden erişin
Comment[uk]=Доступ до ваших записів подій Facebook з KDE
Comment[x-test]=xxAccess your Facebook events from KDExx
Comment[zh_CN]=在 KDE 中访问您的 Facebook 活动
Comment[zh_TW]=用 KDE 存取您的 Facebook 行程
Type=AkonadiResource
Exec=akonadi_facebook_resource
X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.event
X-Akonadi-Identifier=akonadi_facebook_resource
X-Akonadi-Capabilities=Resource
Icon=im-facebook

