[Desktop Entry]
Name=Facebook
Name[cs]=Facebook
Name[de]=Facebook
Name[el]=Facebook
Name[es]=Facebook
Name[fi]=Facebook
Name[fr]=Facebook
Name[hu]=Facebook
Name[ia]=Facebook
Name[nb]=Facebook
Name[nl]=Facebook
Name[nn]=Facebook
Name[pt]=Facebook
Name[pt_BR]=Facebook
Name[ru]=Facebook
Name[sk]=Facebook
Name[sr]=Фејсбук
Name[sr@ijekavian]=Фејсбук
Name[sr@ijekavianlatin]=Facebook
Name[sr@latin]=Facebook
Name[sv]=Facebook
Name[tr]=Facebook
Name[uk]=Facebook
Name[x-test]=xxFacebookxx
Name[zh_CN]=Facebook
Name[zh_TW]=Facebook
Comment=Makes your Facebook data available in KDE
Comment[cs]=Zpřístupňuje váš Facebook v KDE
Comment[de]=Stellt Ihre Facebook-Daten in KDE zur Verfügung
Comment[el]=Κάνει τα δεδομένα σας στο Facebook διαθέσιμα στο KDE
Comment[es]=Hace que sus datos de Facebook estén disponibles en KDE
Comment[fi]=Tuo Facebook-tietosi KDE:ssa käytettäviksi
Comment[fr]=Permet d'accéder à vos données Facebook depuis KDE
Comment[hu]=Elérhetővé teszi a Facebook adatait a KDE-ben
Comment[ia]=face que tu datos de Facebook es disponibile in KDE
Comment[nb]=Gjør dine Facebook-data tilgjengelige i KDE
Comment[nl]=Maakt uw Facebook gegevens beschikbaar in KDE
Comment[pt]=Disponibiliza os seus dados do Facebook no KDE
Comment[pt_BR]=Disponibiliza os seus dados do Facebook no KDE
Comment[ru]=Передаёт в KDE ваши данные Facebook
Comment[sk]=Sprístupní vaše Facebook dáta v KDE
Comment[sr]=Чини ваше податке са Фејсбука доступнима под КДЕ‑ом
Comment[sr@ijekavian]=Чини ваше податке са Фејсбука доступнима под КДЕ‑ом
Comment[sr@ijekavianlatin]=Čini vaše podatke sa Facebooka dostupnima pod KDE‑om
Comment[sr@latin]=Čini vaše podatke sa Facebooka dostupnima pod KDE‑om
Comment[sv]=Gör data från Facebook tillgänglig i KDE
Comment[tr]=Facebook verilerinizi KDE içinde kullanılabilir yapar
Comment[uk]=Робить доступними дані Facebook у KDE
Comment[x-test]=xxMakes your Facebook data available in KDExx
Comment[zh_CN]=使得您的 Facebook 数据在 KDE 中可用
Comment[zh_TW]=透過 Akonadi 將您在 Facebook 上的資料與 KDE 同步。
Type=AkonadiResource
Exec=akonadi_facebook_resource
Icon=facebookresource
X-Akonadi-MimeTypes=text/directory,text/calendar,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.note,text/x-vnd.akonadi.socialfeeditem,text/x-vnd.akonadi.socialnotification
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_facebook_resource
