[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=editor
ServiceTypes=Komposer/Editor

X-KDE-Library=libkomposer_defaulteditor
X-Komposer-Version=1
X-Komposer-Weight=10

X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=komposer_defaulteditor
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Editors
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Komposer Editor
Name[bg]=Редактор за Komposer
Name[br]=Aozer Komposer
Name[ca]=Editor Komposer
Name[cs]=Komposer editor
Name[da]=Komposer-editor
Name[es]=Editor Komposer
Name[et]=Komposeri redaktor
Name[fr]=Éditeur Komposer
Name[hu]=Komposer szerkesztő
Name[it]=Editor Komposer
Name[nl]=Komposer-editor
Name[pl]=Edytor Komposer
Name[pt]=Editor Kompositor
Name[pt_BR]=Editor do Komposer
Name[ru]=Редактор Komposer
Name[sl]=Urejevalnik Komposer
Name[sr]=Уређивач Komposer-а
Name[sr@Latn]=Уређивач Komposer-а
Name[sv]=Komposer editor
Name[tr]=Komposer Düzenleyicisi
Name[uk]=Редактор Komposer
Name[xx]=xxKomposer Editorxx
Name[zh_CN]=Komposer 编辑器
Comment=Komposer default editor
Comment[bg]=Подразбиращ се редактор за Komposer
Comment[ca]=Editor predeterminat de Komposer
Comment[cs]=Výchozí Komposer editor
Comment[da]=Komposer standardeditor
Comment[de]=Komposer Standardeditor
Comment[es]=Editor predefinido Komposer
Comment[et]=Komposeri vaikeredaktor
Comment[fr]=Éditeur Komposer par défaut
Comment[he]=עורך ברירת מחדל של Kompoer
Comment[hu]=A Komposer alapértelmezett szerkesztője
Comment[it]=Editor di default per Komposer
Comment[nl]=Komposer standaardeditor
Comment[pl]=Domyślny edytor Komposera
Comment[pt]=Editor predefinido Kompositor
Comment[pt_BR]=Editor padrão do Komposer
Comment[ru]=Редактор Komposer по умолчанию
Comment[sl]=Privzeti urejevalnik Komposer
Comment[sr]=Подразумевани Komposer-ов уређивач
Comment[sr@Latn]=Подразумевани Komposer-ов уређивач
Comment[sv]=Komposer standardeditor
Comment[tr]=Öntanımlı Komposer düzenleyicisi
Comment[uk]=Типовий редактор Komposer
Comment[xx]=xxKomposer default editorxx
Comment[zh_CN]=Komposer 默认编辑器
