[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=editor
ServiceTypes=Komposer/Editor

X-KDE-Library=libkomposer_defaulteditor
X-Komposer-Version=1
X-Komposer-Weight=10

X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=komposer_defaulteditor
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Editors
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
X-KDE-PluginInfo-EnabledByDefault=true
Name=Komposer Editor
Name[bg]=Редактор за Komposer
Name[br]=Aozer Komposer
Name[da]=Komposer-editor
Name[es]=Editor Komposer
Name[nl]=Komposer-editor
Name[pt]=Editor Kompositor
Name[pt_BR]=Editor Kompositor
Name[ru]=Редактор Komposer
Name[sv]=Komposer editor
Name[tr]=Komposer Düzenleyici
Name[uk]=Редактор Komposer
Comment=Komposer default editor
Comment[bg]=Подразбиращ се редактор за Komposer
Comment[da]=Komposer standardeditor
Comment[es]=Editor predefinido Komposer
Comment[et]=Komposeri vaikeredaktor
Comment[fr]=Éditeur Komposer par défaut
Comment[nl]=Komposer standaardeditor
Comment[pt]=Editor predefinido Kompositor
Comment[pt_BR]=Editor predefinido Kompositor
Comment[ru]=Редактор Komposer по умолчанию
Comment[sv]=Komposer standardeditor
Comment[tr]=Komposer varsayılan düzenleyici
Comment[uk]=Типовий редактор Komposer
