[Desktop Entry]
Name=kaddressbookmigrator
Name[ca]=kaddressbookmigrator
Name[ca@valencia]=kaddressbookmigrator
Name[da]=kaddressbookmigrator
Name[de]=Adressbuch-Migration
Name[el]=Μετατροπέας σε βιβλία διευθύνσεων του KAddressbook
Name[en_GB]=kaddressbookmigrator
Name[es]=kaddressbookmigrator
Name[et]=KDE aadressiraamatu migreerija
Name[fr]=kaddressbookmigrator
Name[ga]=kaddressbookmigrator
Name[gl]=kaddressbookmigrator
Name[ia]=Migrator de KAddressbook
Name[it]=kaddressbookmigrator
Name[ja]=アドレス帳移行ツール
Name[km]=kaddressbookmigrator
Name[lt]=kaddressbookmigrator
Name[lv]=kaddressbookmigrator
Name[nb]=kaddressbookmigrator
Name[nds]=KAdressbook-Överföhren
Name[nl]=kaddressbookmigrator
Name[nn]=kaddressbookmigrator
Name[pa]=kaddressbookmigrator
Name[pl]=kaddressbookmigrator
Name[pt]=kaddressbookmigrator
Name[pt_BR]=kaddressbookmigrator
Name[sl]=kaddressbookmigrator
Name[sv]=Adressboksöverföring
Name[tr]=kaddressbookmigrator
Name[uk]=kaddressbookmigrator
Name[x-test]=xxkaddressbookmigratorxx
Name[zh_CN]=KDE 地址簿迁移程序
Name[zh_TW]=kaddressbookmigrator
Exec=kaddressbookmigrator --disable-autostart
Type=Application
Comment=Tool to migrate the old kresource based address book to Akonadi.
Comment[ca]=Eina per migrar l'adreça de contactes antiga basada en kresource a l'Akonadi.
Comment[ca@valencia]=Eina per migrar l'adreça de contactes antiga basada en kresource a l'Akonadi.
Comment[da]=Værktøj til at migrere den gamle kresource-baserede adressebog til Akonadi.
Comment[de]=Werkzeug zum Migrieren alter auf Ressourcen basierender Adressbücher nach Akonadi
Comment[el]=Εργαλείο μετατροπής των παλιών βιβλίων διευθύνσεων του kresource σε βιβλία διευθύνσεων συμβατά με το Akonadi.
Comment[en_GB]=Tool to migrate the old kresource based address book to Akonadi.
Comment[es]=Herramienta para migrar la vieja libreta de direcciones basada en kresource a Akonadi.
Comment[et]=Tööriist vana KResource'i põhise aadressiraamatu migreerimiseks Akonadisse.
Comment[fr]=Outil permettant de convertir les carnets d'adresses utilisant kressource vers Akonadi
Comment[gl]=Ferramenta para migrar o caderno de enderezos antigo baseado en kresource para Akonadi.
Comment[ia]=Instrumento pro transferer le etere adressario basate sur KResource a Akonadi.
Comment[it]=Strumento per migrare in Akonadi la rubrica del vecchio tipo kresource.
Comment[ja]=KDE の以前のリソースによるアドレス帳を Akonadi へ移行するツール
Comment[km]=ឧបករណ៍​ត្រូវ​ប្ដូរ​ kresource ចាស់​ដែល​មាន​មូលដ្ឋាន​លើ​សៀវភៅ​អាសយដ្ឋាន​ទៅ​កាន់ Akonadi ។
Comment[lt]=Įrankis, skirtas senų „kresource“ tipo adresų knygučių migravimui į Akonadi
Comment[lv]=Rīks veco kresource balstīto adrešu grāmatu migrēšanai uz Akonadi.
Comment[nb]=Verktøy for å overføre den gamle kresource-baserte adresseboka til Akonadi.
Comment[nds]=Programm för't Överföhren vun dat ole, op KRessource opbuut Adressbook na Akonadi
Comment[nl]=Hulpmiddel om het oude op kresource gebaseerde adresboek naar Akonadi te migreren.
Comment[pl]=Narzędzie to migracji starej książki adresowej kresource do Akonadi.
Comment[pt]=Uma ferramenta para migrar os livros de endereços antigos com KResources para o Akonadi.
Comment[pt_BR]=Ferramenta de migração do livro de endereços antigo baseado no kresource para o Akonadi.
Comment[sl]=Orodje za selitev starega adresarja, temelječega na KResource, v Akonadi
Comment[sv]=Verktyg för att överföra en gammal adressbok baserad på kresource till Akonadi.
Comment[tr]=Kresource tabanlı eski adres defterini Akonadi'ye taşımak için araç
Comment[uk]=Інструмент для перетворення старої, заснованої на kresource адресної книги на адресну книгу Akonadi.
Comment[x-test]=xxTool to migrate the old kresource based address book to Akonadi.xx
Comment[zh_CN]=用于将基于 kresource 的旧地址簿资源迁移到 Akonadi 存储后端的工具。
Comment[zh_TW]=將使用舊的 kresource 的通訊錄移植到 Akonadi 上。
Terminal=false
NoDisplay=true
X-KDE-autostart-condition=kaddressbookmigratorrc:Startup:EnableAutostart:true
OnlyShowIn=KDE;
