[Desktop Entry]
Name=kaddressbookmigrator
Name[nb]=kaddressbookmigrator
Name[pt]=kaddressbookmigrator
Name[pt_BR]=kaddressbookmigrator
Name[sv]=Adressboksöverföring
Name[uk]=kaddressbookmigrator
Name[x-test]=xxkaddressbookmigratorxx
Exec=kaddressbookmigrator --disable-autostart
Type=Application
Comment=Tool to migrate the old kresource based address book to Akonadi.
Comment[nb]=Verktøy fot å overføre den gamle kresource-baserte adresseboka til Akonadi.
Comment[pt]=Uma ferramenta para migrar os livros de endereços antigos com KResources para o Akonadi.
Comment[pt_BR]=Ferramenta de migração do livro de endereços antigo baseado no kresource para o Akonadi.
Comment[sv]=Verktyg för att överföra en gammal adressbok baserad på kresource till Akonadi.
Comment[uk]=Інструмент для перетворення старої, заснованої на kresource адресної книги на адресну книгу Akonadi.
Comment[x-test]=xxTool to migrate the old kresource based address book to Akonadi.xx
Terminal=false
NoDisplay=true
X-KDE-autostart-condition=kaddressbookmigratorrc:Startup:EnableAutostart:true
OnlyShowIn=KDE;
