[Desktop Entry]
Name=Akonadi ICal Resource
Name[ca]=Recurs ICal de l'Akonadi
Name[de]=Akonadi-Ressource für ICal-Kalender
Name[el]=Πόρος ICal του Akonadi
Name[es]=Recurso Ical de Akonadi
Name[it]=Risorsa iCal per Akonadi
Name[ja]=Akonadi iCal リソース
Name[ko]=Akonadi ICal 자원
Name[ne]=एकोनाडी ICal संसाधान
Name[nl]=Akonadi ICal-hulpbron
Name[pt]=Recurso do ICal do Akonadi
Name[pt_BR]=Recurso do ICal do Akonadi
Name[sv]=Akonadi ICal-resurs
Name[x-test]=xxAkonadi ICal Resourcexx
Name[zh_CN]=Akonadi iCal 资源
Name[zh_TW]=Akonadi ICal 資源
Comment=An agent to load data from a local iCal file
Comment[ca]=Un agent per carregar dades des d'un fitxer iCal local
Comment[de]=Agent zum Laden von Daten aus einer lokalen iCal-Datei
Comment[el]=Ένας πελάτης φόρτωσης δεδομένων από τοπικά αρχεία iCal
Comment[es]=Un agente para cargar datos de un fichero iCal local
Comment[it]=Un agente per caricare dati da un file iCal locale
Comment[ja]=ローカルの iCal ファイルからデータを読み込むエージェント
Comment[ko]=지역 iCal 파일에서 데이터를 불러오는 에이전트
Comment[ne]=स्थानीय iCal फाइलबाट लोड गर्ने एउटा अभिकर्ता
Comment[nl]=Een agent om gegevens van een lokaal iCal-bestand op te halen
Comment[pt]=Um agente para carregar dados de um ficheiro iCal local
Comment[pt_BR]=Um agente para carregar dados de um ficheiro iCal local
Comment[sv]=En modul för att ladda data från en lokal iCal-fil
Comment[x-test]=xxAn agent to load data from a local iCal filexx
Comment[zh_CN]=从本地 iCal 文件载入数据的代理器
Comment[zh_TW]=從本地 iCal 檔載入資料的代理程式
Type=AkonadiResource
Exec=akonadi_ical_resource
Icon=text-calendar

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_ical_resource
