[Desktop Entry]
Name=Akonadi ICal Resource
Name[ca]=Recurs ICal de l'Akonadi
Name[da]=Akonadi ICal-ressource
Name[de]=Akonadi-Ressource für ICal-Kalender
Name[el]=Πόρος ICal του Akonadi
Name[es]=Recurso Ical de Akonadi
Name[et]=Akonadi ICali ressurss
Name[fr]=Ressource ICal pour Akonadi
Name[ga]=Acmhainn ICal Akonadi
Name[gl]=Recurso ICal de Akonadi
Name[it]=Risorsa iCal per Akonadi
Name[ja]=Akonadi iCal リソース
Name[km]=ធនធាន​របស់ Akonadi ICal
Name[ko]=Akonadi ICal 자원
Name[lv]=Akonadi ICal resurss
Name[nb]=Akonadi iCal-ressurs
Name[nds]=Akonadi-ICal-Ressource
Name[ne]=एकोनाडी ICal संसाधान
Name[nl]=Akonadi ICal-hulpbron
Name[nn]=Akonadi iCal-ressurs
Name[pl]=Zasób ICal Akonadi
Name[pt]=Recurso do ICal do Akonadi
Name[pt_BR]=Recurso de ICal do Akonadi
Name[sv]=Akonadi ICal-resurs
Name[tr]=Akonadi ICal Kaynağı
Name[uk]=Ресурс Akonadi ICal
Name[x-test]=xxAkonadi ICal Resourcexx
Name[zh_CN]=Akonadi iCal 资源
Name[zh_TW]=Akonadi ICal 資源
Comment=An agent to load data from a local iCal file
Comment[ca]=Un agent per carregar dades des d'un fitxer iCal local
Comment[da]=En agent til indlæsning af data fra en lokal iCal-fil
Comment[de]=Agent zum Laden von Daten aus einer lokalen iCal-Datei
Comment[el]=Ένας πελάτης φόρτωσης δεδομένων από τοπικά αρχεία iCal
Comment[es]=Un agente para cargar datos de un archivo iCal local
Comment[et]=Agent andmete laadimiseks kohalikult iCal-failist
Comment[fr]=Un agent pour charger des données d'un fichier local au format iCal
Comment[ga]=Gníomhaire a luchtaíonn sonraí ó chomhad logánta iCal
Comment[gl]=Un axente para carregar datos desde un ficheiro iCal local
Comment[it]=Un agente per caricare dati da un file iCal locale
Comment[ja]=ローカルの iCal ファイルからデータを読み込むエージェント
Comment[km]=ភ្នាក់ងារ​ត្រូ​វផ្ទុក​ទិន្នន័យ​ពី​ឯកសារ iCal មូលដ្ឋាន
Comment[ko]=로컬 iCal 파일에서 데이터를 불러오는 에이전트
Comment[lv]=Aģents datu ielašīšanai no lokāla iCal faila
Comment[nb]=En agent som laster data fra en lokal iCal-fil
Comment[nds]=Hölper för't Laden vun lokaal iCal-Daten
Comment[ne]=स्थानीय iCal फाइलबाट लोड गर्ने एउटा अभिकर्ता
Comment[nl]=Een agent om gegevens van een lokaal iCal-bestand op te halen
Comment[nn]=Ein agent for å lasta data frå ei lokal iCal-fil
Comment[pl]=Agent do wczytywania danych z lokalnego pliku iCal
Comment[pt]=Um agente para carregar dados de um ficheiro iCal local
Comment[pt_BR]=Um agente para carregar dados de um arquivo iCal local
Comment[sv]=En modul för att ladda data från en lokal iCal-fil
Comment[tr]=iCal dosyasından veri yükleme aracı
Comment[uk]=Агент для завантаження даних з локального файла iCal
Comment[x-test]=xxAn agent to load data from a local iCal filexx
Comment[zh_CN]=从本地 iCal 文件载入数据的代理器
Comment[zh_TW]=從本地 iCal 檔載入資料的代理程式
Type=AkonadiResource
Exec=akonadi_ical_resource
Icon=text-calendar

X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.calendar.todo,application/x-vnd.akonadi.calendar.journal,application/x-vnd.akonadi.calendar.freebusy
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_ical_resource
