[Desktop Entry]
Name=Akonadi Address Books
Name[ca]=Llibreta d'adreces de l'Akonadi
Name[de]=Akonadi-Adressbücher
Name[el]=Βιβλία διευθύνσεων του Akonadi
Name[et]=Akonadi aadressiraamatud
Name[fr]=Carnet d'adresses Akonadi
Name[gl]=Caderno de Enderezos do Akonadi
Name[ja]=Akonadi アドレス帳
Name[km]=សៀវភៅ​អាសយដ្ឋាន Akonadi
Name[lv]=Akonadi adrešu grāmatas
Name[nb]=Akonadi adressebøker
Name[nds]=Akonadi-Adressbook instellen
Name[nl]=Adresboek van Akonadi
Name[nn]=Akonadi-adressebøker
Name[pt]=Livros de Endereços do Akonadi
Name[pt_BR]=Livro de Endereços do Akonadi
Name[ro]=Cărți de adrese Akonadi
Name[sv]=Akonadi adressböcker
Name[tr]=Akonadi Adres Defterleri
Name[uk]=Адресні книги Akonadi
Name[x-test]=xxAkonadi Address Booksxx
Name[zh_CN]=Akonadi 地址簿
Name[zh_TW]=Akonadi 通訊錄
Comment=Provides access to contacts stored in Akonadi address book folders
Comment[ca]=Proporciona l'accés als contactes emmagatzemats en carpetes de llibreta d'adreces de l'Akonadi
Comment[el]=Προσφέρει πρόσβαση σε επαφές αποθηκευμένες σε φακέλους βιβλίων διευθύνσεων του Akonadi
Comment[et]=Võimaldab kasutada Akonadi aadressiraamatukaustadesse salvestatud kontakte
Comment[fr]=Fourni l'accès aux contacts stockés dans les dossiers du carnet d'adresses Akonadi
Comment[gl]=Fornece acceso aos contactos almacenados nos cartafoles do caderno de enderezos do Akonadi
Comment[ja]=Akonadi のアドレス帳フォルダに保存されている連絡先へのアクセスを提供します
Comment[km]=ចូលដំណើរការ​ទៅ​កាន់ទំនាក់ទំនង​ដែល​បាន​ទុក​នៅ​ក្នុង​ថត​សៀវភៅ​អាសយដ្ឋាន Akonadi
Comment[lv]=Nodrošina piekļuvi kontaktiem, kas glabājas Akonadi adrešu grāmatu mapēs
Comment[nb]=Gir tilgang til kontakter lagret i Akonadi adressebok-mappene
Comment[nds]=Stellt Togriep op binnen Akonadi sien Adressbookornern wohrte Kontakten praat
Comment[nl]=Geeft toegang tot de in de adresboekmappen van Akonadi opgeslagen contactpersonen
Comment[nn]=Gjev tilgang til kontaktar lagra i Akonadi-adressebokmapper
Comment[pt]=Oferece o acesso aos contactos guardados nas pastas do livro de endereços do Akonadi
Comment[pt_BR]=Fornece acesso aos contatos armazenados nas pastas do livro de endereços do Akonadi
Comment[sv]=Ger tillgång till kontakter lagrade i Akonadi adressbokskataloger
Comment[tr]=Akonadi adres defteri dizinlerindeki kişilere erişimi sağlar
Comment[uk]=Надає доступ до контактів, які зберігаються у теках адресної книги Akonadi
Comment[x-test]=xxProvides access to contacts stored in Akonadi address book foldersxx
Comment[zh_CN]=提供对存储在 Akonadi 地址簿文件夹中的联系人的访问支持
Comment[zh_TW]=提供存取儲存在 Akonadi 通訊錄資料夾中的聯絡人
X-KDE-Library=kabc_akonadi
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=akonadi
