[Desktop Entry]
Name=Akonadi
Name[x-test]=xxAkonadixx
X-KDE-Library=kabc_akonadi
Type=Service
ServiceTypes=KResources/Plugin
X-KDE-ResourceFamily=contact
X-KDE-ResourceType=akonadi
