[Desktop Entry]
Name=Strigi Feeder
Name[ca]=Alimentador del Strigi
Name[el]=Τροφοδότης Strigi
Name[et]=Strigi söötur
Name[fr]=Connecteur Strigi
Name[gl]=Fornecedor de Strigi
Name[ja]=Strigi フィーダー
Name[km]=មតិព័ត៌មាន Strigi
Name[lv]=Strigi barotājs
Name[nb]=Sender til Strigi
Name[nds]=Strigi-Ingaav
Name[nl]=Strigi-toevoer
Name[nn]=Strigi-matar
Name[pt]=Alimentação do Strigi
Name[pt_BR]=Alimentador do Strigi
Name[ro]=Alimentator Strigi
Name[sv]=Inmatning till Strigi
Name[tr]=Strigi Besleyici
Name[uk]=Передавач Strigi
Name[x-test]=xxStrigi Feederxx
Comment=Strigi-based fulltext search
Comment[ca]=Motor de cerca per text sencer basat en el Strigi
Comment[da]=Strigi-baseret fuldtekst-søgning
Comment[de]=Strigi-basierte Volltextsuche
Comment[el]=Αναζήτηση κειμένου βασισμένη στο Strigi
Comment[es]=Búsqueda de texto completo basada en Strigi
Comment[et]=Strigi-põhine täistekstiotsing
Comment[fr]=Recherche en texte intégral avec Strigi
Comment[ga]=Cuardach lántéacs bunaithe ar Strigi
Comment[gl]=Procura de texto completo baseada en Strigi
Comment[it]=Ricerca fulltext basata su Strigi
Comment[ja]=Strigi ベースの全文検索
Comment[km]=ការ​ស្វែងរក​អត្ថបទ​ពេញលេញ​ដែល​មាន​មូលដ្ឋាន​លើ Strigi
Comment[ko]=Strigi 기반 전체 텍스트 검색
Comment[lv]=Strigi bāzēta pilna teksta meklēšana
Comment[nb]=Strigi-basert fulltekstsøk
Comment[nds]=Heeltextsöök mit Strigi
Comment[ne]=स्ट्रिगि-आधारित पूरा पाठ खोजी
Comment[nl]=In teksten zoeken met behulp van Strigi
Comment[nn]=Strigi-basert fulltekstsøk
Comment[pl]=Oparte na Strigi wyszukiwanie pełnotekstowe
Comment[pt]=Um motor de busca por texto completo baseado no Strigi
Comment[pt_BR]=Procura por texto completo baseado no Strigi
Comment[ro]=Căutare integrală de text bazată pe Strigi
Comment[sv]=Fulltextsökning baserad på Strigi
Comment[tr]=Strigi-tabanlı tam metin araması
Comment[uk]=Повнотекстовий пошук на основі Strigi
Comment[wa]=Cweraedje dins tos l' tecse båzé so Strigi
Comment[x-test]=xxStrigi-based fulltext searchxx
Comment[zh_CN]=基于 Strigi 的全文搜索
Comment[zh_TW]=使用 Strigi 的全文檢索
Type=AkonadiAgent
Exec=akonadi_strigi_feeder

X-Akonadi-MimeTypes=all/all
X-Akonadi-Capabilities=Unique
X-Akonadi-Identifier=akonadi_strigi_feeder
