[Desktop Entry]
Name=Akonadi Strigi Feeder
Name[ca]=Alimentador del Strigi per a l'Akonadi
Name[da]=Akonadi Strigi-feeder
Name[de]=Akonadi-Modul für Strigi
Name[el]=Τροφοδότης Strigi του Akonadi
Name[es]=Proveedor de datos de Strigi para Akonadi
Name[et]=Akonadi Strigi söötur
Name[fr]=Connecteur Strigi pour Akonadi
Name[ga]=Fothaire Strigi Akonadi
Name[it]=Feeder Strigi per Akonadi
Name[ja]=Akonadi Strigi フィーダー
Name[km]=មិតព័ត៌មាន Akonadi Strigi
Name[lv]=Akonadi Strigi barotājs
Name[nb]=Akonadi-sender til Strigi
Name[nds]=Akonadi-Strigi-Ingaav
Name[nl]=Akonadi Strigi-toevoer
Name[pl]=Obsługa Strigi w Akonadi
Name[pt]=Motor do Strigi para o Akonadi
Name[pt_BR]=Alimentador do Strigi para o Akonadi
Name[sv]=Akonadi inmatning till Strigi
Name[tr]=Akonadi Strigi Besleyici
Name[uk]=Отримувач Strigi для Akonadi
Name[x-test]=xxAkonadi Strigi Feederxx
Name[zh_CN]=Akonadi Strigi 采集器
Comment=Strigi-based fulltext search
Comment[ca]=Motor de cerca per text sencer basat en el Strigi
Comment[da]=Strigi-baseret fuldtekst-søgning
Comment[de]=Strigi-Basierte Volltextsuche
Comment[el]=Αναζήτηση κειμένου βασισμένη στο Strigi
Comment[es]=Búsqueda de texto completo basada en Strigi
Comment[et]=Strigi-põhine täistekstiotsing
Comment[fr]=Recherche plein texte avec Strigi
Comment[ga]=Cuardach lántéacs bunaithe ar Strigi
Comment[it]=Ricerca fulltext basata su Strigi
Comment[ja]=Strigi ベースの全文検索
Comment[km]=ការ​ស្វែងរក​អត្ថបទ​ពេញលេញ​ដែល​មាន​មូលដ្ឋាន​លើ Strigi
Comment[ko]=Strigi 기반 전체 텍스트 검색
Comment[lv]=Strigi bāzēta pilna teksta meklēšana
Comment[nb]=Strigi-basert fulltekstsøk
Comment[nds]=Heeltextsöök mit Strigi
Comment[ne]=स्ट्रिगि-आधारित पूरा पाठ खोजी
Comment[nl]=In teksten zoeken met behulp van Strigi
Comment[pl]=Oparte na Strigi wyszukiwanie pełnotekstowe
Comment[pt]=Um motor de busca por texto completo baseado no Strigi
Comment[pt_BR]=Procura por texto completo baseado no Strigi
Comment[sv]=Fulltextsökning baserad på Strigi
Comment[tr]=Strigi-tabanlı tam metin araması
Comment[uk]=Повнотекстовий пошук на основі Strigi
Comment[x-test]=xxStrigi-based fulltext searchxx
Comment[zh_CN]=基于 Strigi 的全文搜索
Comment[zh_TW]=使用 Strigi 的全文檢索
Type=AkonadiAgent
Exec=akonadi_strigi_feeder

X-Akonadi-MimeTypes=all/all
X-Akonadi-Capabilities=
X-Akonadi-Identifier=akonadi_strigi_feeder
