[Desktop Entry]
Name=Strigi Feeder
Name[ca]=Alimentador de l'Strigi
Name[da]=Strigi-feeder
Name[de]=Modul für Strigi
Name[el]=Τροφοδότης Strigi
Name[en_GB]=Strigi Feeder
Name[es]=Alimentador Strigi
Name[et]=Strigi söötur
Name[fr]=Connecteur Strigi
Name[ga]=Fothaire Strigi
Name[gl]=Fornecedor de Strigi
Name[hu]=Strigi feltöltő
Name[ia]=Syndication de Strigi
Name[it]=Fornitore per Strigi
Name[ja]=Strigi フィーダー
Name[kk]=Strigi іздеу
Name[km]=កម្មវិធី​អាន​មតិព័ត៌មាន Strigi
Name[ko]=Strigi 공급자
Name[lt]=Strigi šaltinis
Name[lv]=Strigi barotājs
Name[nb]=Sender til Strigi
Name[nds]=Strigi-Ingaav
Name[nl]=Strigi-toevoer
Name[pa]=ਸਟਰੀਗੀ ਫੀਡਰ
Name[pl]=Obsługa Strigi
Name[pt]=Fonte do Strigi
Name[pt_BR]=Fonte do Strigi
Name[ro]=Alimentator Strigi
Name[ru]=Поддержка Strigi
Name[sl]=Podajalnik za strigi
Name[sv]=Inmatning till Strigi
Name[tr]=Strigi Besleyici
Name[uk]=Передавач Strigi
Name[x-test]=xxStrigi Feederxx
Name[zh_TW]=Strigi Feeder
Comment=Strigi-based fulltext search
Comment[ca]=Cerca de text complert basada en Strigi
Comment[da]=Strigi-baseret fuldtekst-søgning
Comment[de]=Strigi-basierte Volltextsuche
Comment[el]=Αναζήτηση κειμένου βασισμένη στο Strigi
Comment[en_GB]=Strigi-based fulltext search
Comment[es]=Búsqueda de texto basada en Strigi
Comment[et]=Strigi-põhine täistekstiotsing
Comment[fr]=Recherche en texte intégral avec Strigi
Comment[ga]=Cuardach lántéacs bunaithe ar Strigi
Comment[gl]=Procura de texto completo baseada en Strigi
Comment[hu]=Strigi-alapú teljes szöveges kereső
Comment[ia]=Cerca de plen texto basate sur Strigi
Comment[it]=Ricerca su tutto il testo basata su Strigi
Comment[ja]=Strigi ベースの全文検索
Comment[kk]=Strigi-негіздейтін толық мәтінді іздеу
Comment[km]=ស្វែងរក​អត្ថបទ​ពេញលេញ​មាន​មូលដ្ឋាន​លើ Strigi
Comment[ko]=Strigi 기반 전문 검색
Comment[lt]=Viso teksto paieška, paremta Strigi
Comment[lv]=Strigi bāzēta pilna teksta meklēšana
Comment[nb]=Strigi-basert fulltekstsøk
Comment[nds]=Heeltextsöök mit Strigi
Comment[ne]=स्ट्रिगि-आधारित पूरा पाठ खोजी
Comment[nl]=In teksten zoeken met behulp van Strigi
Comment[pl]=Oparte na Strigi wyszukiwanie pełnotekstowe
Comment[pt]=Pesquisa por texto completo baseada no Strigi
Comment[pt_BR]=Pesquisa por texto completo baseada no Strigi
Comment[ro]=Căutare integrală de text bazată pe Strigi
Comment[ru]=Полнотекстовый поиск посредством Strigi
Comment[sl]=Iskanje po vsem besedilu, ki temelji na Strigi
Comment[sv]=Fulltextsökning baserad på Strigi
Comment[tr]=Strigi-tabanlı tam metin araması
Comment[uk]=Повнотекстовий пошук на основі Strigi
Comment[wa]=Cweraedje dins tos l' tecse båzé so Strigi
Comment[x-test]=xxStrigi-based fulltext searchxx
Comment[zh_TW]=使用 Strigi 的全文檢索
Icon=strigi
Type=AkonadiAgent
Exec=akonadi_strigi_feeder

X-Akonadi-MimeTypes=all/all
X-Akonadi-Capabilities=Unique
X-Akonadi-Identifier=akonadi_strigi_feeder
