[Desktop Entry]
Name=Akonadi Nepomuk EMail Feeder
Comment=Extension for Akonadi to push emails into Nepomuk
Type=AkonadiAgent
Exec=akonadi_nepomuk_email_feeder

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Capabilities=
X-Akonadi-Identifier=akonadi_nepomuk_email_feeder
