[Desktop Entry]
Name=Nepomuk EMail Feeder
Name[ca]=Alimentador de correus del Nepomuk
Name[el]=Τροφοδότης EMail του Nepomuk
Name[fr]=Connecteur Nepomuk pour les courriels
Name[gl]=Fornecedor de Correo de Nepomuk
Name[ja]=Nepomuk メールフィーダー
Name[km]=កម្មវិធី​មតិព័ត៌មាន​អ៊ីមែល Nepomuk
Name[lv]=Nepomuk e-pasta barotājs
Name[nb]=E-postsender til Nepomuk
Name[nds]=Nepomuk-Nettpostingaav
Name[nl]=Nepumuk Email-toevoer
Name[nn]=E-postmatar for Nepomuk
Name[pt]=Alimentação de E-Mail do Nepomuk
Name[pt_BR]=Alimentador de e-mail do Nepomuk
Name[sv]=E-postinmatning till Nepomuk
Name[tr]=Nepomuk E-posta Besleyici
Name[uk]=Передавач пошти Nepomuk
Name[x-test]=xxNepomuk EMail Feederxx
Comment=Extension to push emails into Nepomuk
Comment[ca]=Extensió per a introduir correus en el Nepomuk
Comment[de]=Erweiterung zur Übergabe von E-Mails an Nepomuk
Comment[el]=Επέκταση για την τροφοδοσία email στο Nepomuk
Comment[fr]=Extension pour fournir les courriels à Nepomuk
Comment[gl]=Extensión para lle pasar mensaxes de correo a Nepomuk
Comment[ja]=Nepomuk にメールを提供するエクステンション
Comment[km]=ផ្នែក​បន្ថែម​ដែលត្រូវ​បញ្ជូន​អ៊ីមែល​ទៅកាន់ Nepomuk
Comment[lv]=Paplašinājums, kas iesūta e-pastus Nepomuk
Comment[nb]=Utvidelse som sender e-poster inn til Nepomuk
Comment[nds]=Verwiedern, mit de sik Nettpost na Nepomuk överdregen lett
Comment[nl]=Extensie om e-mails in Nepomuk te importeren
Comment[nn]=Utviding for overføring av e-post til Nepomuk
Comment[pt]=Extensão para enviar mensagens de e-mail para o Nepomuk
Comment[pt_BR]=Extensão para enviar e-mails para o Nepomuk
Comment[sv]=Utökning för att skicka e-postadresser till Nepomuk
Comment[tr]=E-postaları Nepomuk içerisine taşımak için bir eklenti
Comment[uk]=Додаток для передачі електронних листів до Nepomuk
Comment[x-test]=xxExtension to push emails into Nepomukxx
Comment[zh_TW]=將電子郵件送進 Nepomuk 的延伸程式
Type=AkonadiAgent
Exec=akonadi_nepomuk_email_feeder

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Capabilities=Unique
X-Akonadi-Identifier=akonadi_nepomuk_email_feeder
