[Desktop Entry]
Name=Akonadi Nepomuk EMail Feeder
Name[ca]=Alimentador de correus del Nepomuk per a l'Akonadi
Name[de]=Akonadi-Modul für Nepomuk-E-Mail-Übergabe
Name[el]=Τροφοδότης Nepomuk EMail του Akonadi
Name[et]=Akonadi Nepomuki e-kirjade söötur
Name[fr]=Connecteur Nepomuk pour les messages électronique Akonadi
Name[ga]=Fothaire Ríomhphoist Nepomuk le haghaidh Akonadi
Name[ja]=Akonadi Nepomuk メールフィーダー
Name[km]=មតិព័ត៌មាន​អ៊ីមែល​​របស់ Akonadi Nepomuk
Name[lv]=Akonadi Nepomuk e-pasta barotājs
Name[nds]=Akonadi-Nepomuk-Nettpostingaav
Name[pl]=Obsługa e-maili dla Nepomuka
Name[pt]=Alimentação de E-Mail do Nepomuk para o Akonadi
Name[pt_BR]=Alimentador de E-Mail do Nepomuk para o Akonadi
Name[sv]=Akonadi e-postinmatning till Nepomuk
Name[tr]=Akonadi Nepomuk E-posta Besleyici
Name[uk]=Отримувач пошти Nepomuk для Akonadi
Name[x-test]=xxAkonadi Nepomuk EMail Feederxx
Name[zh_CN]=Akonadi Nepomuk 邮件采集器
Comment=Extension for Akonadi to push emails into Nepomuk
Comment[ca]=Extensió per a l'Akonadi per introduir correus en el Nepomuk
Comment[de]=Nepomuk-Erweiterung zur Übergabe von E-Mails an Nepomuk
Comment[el]=Επέκταση του Akonadi για την τροφοδοσία email στο Nepomuk
Comment[et]=Akonadi laiendus e-kirjade edastamiseks Nepomukile
Comment[fr]=Extension d'Akonadi pour fournir les messages électronique à Nepomuk
Comment[km]=ផ្នែក​បន្ថែម​សម្រាប់ Akonadi ដើម្បី​ដាក់​អ៊ីមែល​ទៅ​ក្នុង Nepomuk
Comment[lv]=Akonadi paplašinājums, kas iesūta e-pastus Nepomuk
Comment[nds]=Akonadi-Verwiedern, mit de sik Nettpost na Nepomuk överdregen lett
Comment[pl]=Rozszerzenie Akonadi do wysyłania e-maili do Nepomuka
Comment[pt]=Extensão para o Akonadi enviar mensagens de e-mail para o Nepomuk
Comment[pt_BR]=Extensão para o Akonadi enviar a-mails para o Nepomuk
Comment[sv]=Utökning av Akonadi för att skicka e-postadresser till Nepomuk
Comment[tr]=E-postaları Nepomuk içerisine taşımak için bir Akonadi eklentisi
Comment[uk]=Додаток для Akonadi, щоб передавати електронні листи до Nepomuk
Comment[x-test]=xxExtension for Akonadi to push emails into Nepomukxx
Comment[zh_CN]=将电子邮件推入 Nepomuk的 Akonadi 扩展
Comment[zh_TW]=Akonadi 的延伸，將電子郵件送進 Nepomuk
Type=AkonadiAgent
Exec=akonadi_nepomuk_email_feeder

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Capabilities=
X-Akonadi-Identifier=akonadi_nepomuk_email_feeder
