[Desktop Entry]
Name=Pop3
Icon=message-rfc822
Comment=Pop3 account

Type=Service
X-KDE-ServiceTypes=AccountWizard/Wizard
X-KDE-ParentApp=org.kde.accountwizard
X-KDE-PluginInfo-Author=Montel Laurent
X-KDE-PluginInfo-Email=montel@kde.org
X-KDE-PluginInfo-License=LGPL-2.0-or-later
X-KDE-PluginInfo-Name=org.kde.pim.account.pop3
X-KDE-PluginInfo-Version=1.0
X-KDE-PluginInfo-Website=https://kontact.kde.org

[Wizard]
Type=message/rfc822

[Translate]
Filename=accountwizard_pop3
