[Desktop Entry]
Name=Pop3
Name[ca]=Pop3
Name[ca@valencia]=Pop3
Name[cs]=Pop3
Name[da]=POP3
Name[de]=POP3
Name[en_GB]=Pop3
Name[es]=Pop3
Name[et]=POP3
Name[fr]=Pop3
Name[ga]=POP3
Name[gl]=Pop3
Name[it]=POP3
Name[ja]=Pop3
Name[kk]=Pop3
Name[km]=Pop3
Name[lt]=Pop3
Name[nb]=Pop3
Name[nds]=POP3
Name[nl]=POP3
Name[nn]=POP3
Name[pa]=Pop੩
Name[pt]=POP3
Name[pt_BR]=POP3
Name[sk]=Pop3
Name[sl]=POP3
Name[sv]=Pop3
Name[uk]=POP3
Name[x-test]=xxPop3xx
Name[zh_CN]=Pop3
Name[zh_TW]=Pop3
Icon=message-rfc822
Comment=Pop3 account
Comment[ca]=Compte Pop3
Comment[ca@valencia]=Compte Pop3
Comment[cs]=Pop3 účet
Comment[da]=POP3-konto
Comment[de]=POP3-Postfach
Comment[en_GB]=Pop3 account
Comment[es]=Cuenta Pop3
Comment[et]=POP3 konto
Comment[fr]=Compte POP3
Comment[ga]=Cuntas POP3
Comment[gl]=Conta Pop3
Comment[it]=Account POP3
Comment[ja]=Pop 3 アカウント
Comment[kk]=Pop3 тіркелгісі
Comment[km]=គនណី Pop3
Comment[lt]=Pop3 paskyra
Comment[nb]=Pop3 konto
Comment[nds]=POP3-Konto
Comment[nl]=POP3-account
Comment[nn]=POP3-konto
Comment[pa]=Pop੩ ਅਕਾਊਂਟ
Comment[pt]=Conta de POP3
Comment[pt_BR]=Conta POP3
Comment[sl]=Račun POP3
Comment[sv]=Pop3-konto
Comment[uk]=Обліковий запис POP3
Comment[x-test]=xxPop3 accountxx
Comment[zh_CN]=Pop3 账户
Comment[zh_TW]=Pop3 帳號

[Wizard]
Type=message/rfc822
Script=pop3wizard.js

[Translate]
Filename=accountwizard_pop3
