[Desktop Entry]
Name=OpenChange
Name[es]=OpenChange
Name[pt]=OpenChange
Name[pt_BR]=OpenChange
Name[sv]=Openchange
Name[uk]=OpenChange
Name[x-test]=xxOpenChangexx
Comment=Makes it possible to work with an OpenChange / Exchange server
Comment[es]=Hace posible trabajar con un servidor OpenChange / Exchange
Comment[pt]=Possibilita a interacção com um servidor de OpenChange / Exchange
Comment[pt_BR]=Possibilita a integração com um servidor de OpenChange / Exchange
Comment[sv]=Gör det möjligt att arbeta med en Openchange- eller Exchange-server
Comment[uk]=Робить можливою роботу з серверами OpenChange / Exchange
Comment[x-test]=xxMakes it possible to work with an OpenChange / Exchange serverxx
Type=AkonadiResource
Exec=akonadi_oc_resource
Icon=email

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_oc_resource
