<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="example_mail" version="1">

<ToolBar name="mainToolBar" iconText="icononly"><text>Main Toolbar</text>
  <Action name="compose_mail"/>
</ToolBar>

</kpartgui>
