[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Message Search Provider
Name[es]=Proveedor de búsqueda de mensajes Akonadi
Name[ja]=Akonadi メッセージ検索プロバイダ
Name[sv]=Akonadi brevsöktjänst
Name[x-test]=xxAkonadi Message Search Providerxx
Name[zh_TW]=Akonadi 信件搜尋提供者
Comment=Email specific extension to Akonadi
Comment[es]=Extensión específica de correo para Akonadi
Comment[sv]=E-postspecifik utökning för Akonadi
Comment[x-test]=xxEmail specific extension to Akonadixx
Comment[zh_TW]=Akonadi 的電子郵件指定延伸
Type=AkonadiSearchProvider
Exec=akonadi_message_searchprovider

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Identifier=akonadi_message_searchprovider
