[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Message Search Provider
Name[es]=Proveedor de búsqueda de mensajes Akonadi
Name[x-test]=xxAkonadi Message Search Providerxx
Comment=Email specific extension to Akonadi
Comment[es]=Extensión específica de correo para Akonadi
Comment[x-test]=xxEmail specific extension to Akonadixx
Type=AkonadiSearchProvider
Exec=akonadi_message_searchprovider

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Identifier=akonadi_message_searchprovider
