[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Message Search Provider
Comment=Email specific extension to Akonadi
Type=AkonadiSearchProvider
Exec=akonadi_message_searchprovider

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Identifier=akonadi_message_searchprovider
