[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Fulltext Search Provider
Name[el]=Πάροχος αναζήτησης κειμένου του Akonadi
Name[es]=Proveedor de búsqueda de texto Akonadi
Name[ja]=Akonadi 全文検索プロバイダ
Name[ne]=एकोनाडी पूरा पाठ खोजी प्रदायक
Name[pt]=Fornecedor de Pesquisa por Texto Completo do Akonadi
Name[pt_BR]=Fornecedor de Pesquisa por Texto Completo do Akonadi
Name[sv]=Akonadi fulltextsöktjänst
Name[x-test]=xxAkonadi Fulltext Search Providerxx
Name[zh_TW]=Akonadi 全文檢索提供者
Comment=Strigi-based fulltext search
Comment[el]=Αναζήτηση κειμένου βασισμένη στο Strigi
Comment[es]=Búsqueda de texto basada en Strigi
Comment[ja]=Strigi ベースの全文検索
Comment[ne]=स्ट्रिगि-आधारित पूरा पाठ खोजी
Comment[pt]=Um motor de busca por texto completo baseado no Strigi
Comment[pt_BR]=Um motor de busca por texto completo baseado no Strigi
Comment[sv]=Fulltextsökning baserad på Strigi
Comment[x-test]=xxStrigi-based fulltext searchxx
Comment[zh_TW]=使用 Strigi 的全文檢索
Type=AkonadiSearchProvider
Exec=akonadi_strigi_searchprovider

X-Akonadi-MimeTypes=all/all
X-Akonadi-Identifier=akonadi_strigi_searchprovider
