[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Fulltext Search Provider
Name[es]=Proveedor de búsqueda de texto Akonadi
Name[sv]=Akonadi fulltextsöktjänst
Name[x-test]=xxAkonadi Fulltext Search Providerxx
Name[zh_TW]=Akonadi 全文檢索提供者
Comment=Strigi-based fulltext search
Comment[es]=Búsqueda de texto basada en Strigi
Comment[sv]=Fulltextsökning baserad på Strigi
Comment[x-test]=xxStrigi-based fulltext searchxx
Comment[zh_TW]=使用 Strigi 的全文檢索
Type=AkonadiSearchProvider
Exec=akonadi_strigi_searchprovider

X-Akonadi-MimeTypes=all/all
X-Akonadi-Identifier=akonadi_strigi_searchprovider
