[Desktop Entry]
Name=DAV calendar resource
Name[en_GB]=DAV calendar resource
Name[fr]=Ressource calendrier DAV
Name[gl]=Recurso de calendario DAV
Name[pt]=Recurso de calendário por DAV
Name[sv]=DAV-kalenderresurs
Name[uk]=Ресурс календаря DAV
Name[x-test]=xxDAV calendar resourcexx
Comment=Resource to manage DAV calendars (CalDAV, GroupDAV)
Comment[en_GB]=Resource to manage DAV calendars (CalDAV, GroupDAV)
Comment[fr]=Ressource de gestion des calendriers DAV (CalDAV, GroupDAV)
Comment[gl]=REcurso para xestionar calendarios DAV (CalDAV, GroupDAV)
Comment[pt]=Recurso para gerir calendários por DAV (CalDAV, GroupDAV)
Comment[sv]=Resurs för att hantera DAV-kalendrar (CalDAV, GroupDAV)
Comment[uk]=Ресурс для керування календарями DAV (CalDAV, GroupDAV)
Comment[x-test]=xxResource to manage DAV calendars (CalDAV, GroupDAV)xx
Type=AkonadiResource
Exec=akonadi_davcalendar_resource
Icon=text-calendar

X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.calendar.todo,application/x-vnd.akonadi.calendar.journal,application/x-vnd.akonadi.calendar.freebusy
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_davcalendar_resource
