[Desktop Entry]
Name=Google Contacts
Name[cs]=Kontakty Google
Name[de]=Google-Kontakte
Name[el]=Google Επαφές
Name[es]=Contactos Google
Name[et]=Google'i kontaktid
Name[hu]=Google névjegyek
Name[ia]=Contactos de Google
Name[nl]=Google contactpersonen
Name[pl]=Kontakty Google
Name[pt]=Contactos do Google
Name[pt_BR]=Contatos do Google
Name[sv]=Google kontakter
Name[uk]=Контакти Google
Name[x-test]=xxGoogle Contactsxx
Name[zh_TW]=Google 聯絡人
Comment=Access your Google Contacts from KDE
Comment[de]=Greifen Sie in KDE auf Google-Kontakte zu
Comment[el]=Αποκτήστε πρόσβαση στις Google επαφές σας από το KDE
Comment[es]=Acceda a sus contactos Google desde KDE
Comment[et]=Oma Google'i kontaktide kasutamine otse KDE-st
Comment[hu]=A Google névjegyeinek elérése a KDE-ből
Comment[ia]=Accede a tu Contactos de Google ab KDE
Comment[nl]=Heb toegang tot uw Google contactpersonen vanuit KDE 
Comment[pl]=Uzyskaj dostęp do Kontaktów Google z KDE
Comment[pt]=Aceda aos seus contactos da Google a partir do KDE
Comment[pt_BR]=Acesse seus contatos do Google a partir do KDE
Comment[sv]=Kom åt Google kontakter från KDE
Comment[uk]=Доступ до ваших записів контактів Google з KDE
Comment[x-test]=xxAccess your Google Contacts from KDExx
Comment[zh_TW]=用 KDE 存取您的 Google 聯絡人
Type=AkonadiResource
Exec=akonadi_googlecontacts_resource
X-Akonadi-MimeTypes=text/directory,
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googlecontacts_resource
