[Desktop Entry]
Name=Google Contacts
Name[cs]=Kontakty Google
Name[da]=Google-kontakter
Name[de]=Google-Kontakte
Name[es]=Contactos de Google
Name[et]=Google'i kontaktid
Name[fr]=Google Contacts
Name[it]=Contatti di Google
Name[km]=ទំនាក់ទំនង​ហ្គូហ្គល
Name[nds]=Google-Kontakten
Name[nl]=Google contactpersonen
Name[pl]=Kontakty Google
Name[pt]=Contactos do Google
Name[pt_BR]=Contatos do Google
Name[sv]=Google-kontakter
Name[uk]=Контакти Google
Name[x-test]=xxGoogle Contactsxx
Comment=Access your Google Contacts from KDE
Comment[da]=Tilgå dine Google-kontakter fra KDE
Comment[de]=Greifen Sie von KDE auf Ihre Google-Kontakte zu
Comment[es]=Acceda a sus contactos de Google desde KDE
Comment[et]=Oma Google'i kontaktide kasutamine otse KDE-st
Comment[fr]=Accédez à vos contacts Google depuis KDE
Comment[it]=Accedi ai tuoi contatti di Google da KDE
Comment[km]=ចូល​ដំណើរការ​ទំនាក់ទំនង​ហ្គូហ្គល​របស់​អ្នក​ពី KDE
Comment[nl]=Heb toegang tot uw Google contactpersonen vanuit KDE 
Comment[pl]=Uzyskaj dostęp do Kontaktów Google z KDE
Comment[pt]=Aceda aos seus contactos da Google a partir do KDE
Comment[pt_BR]=Acesse seus contatos da Google a partir do KDE
Comment[sv]=Kom åt dina Google-kontakter från KDE
Comment[uk]=Доступ до ваших записів контактів Google з KDE
Comment[x-test]=xxAccess your Google Contacts from KDExx
Type=AkonadiResource
Exec=akonadi_googlecontacts_resource
X-Akonadi-MimeTypes=text/directory,
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googlecontacts_resource
