[Desktop Entry]
Name=Akonadi Console
Name[ca]=Consola de l'Akonadi
Name[da]=Akonadi-konsol
Name[de]=Akonadi-Konsole
Name[el]=Κονσόλα Akonadi
Name[es]=Consola de Akonadi
Name[et]=Akonadi konsool
Name[fr]=Console Akonadi
Name[ga]=Consól Akonadi
Name[gl]=Consola de Akonadi
Name[it]=Console Akonadi
Name[ja]=Akonadi コンソール
Name[km]=កុងសូល​របស់ Akonadi
Name[ko]=Akonadi 콘솔
Name[lv]=Anokadi konsole
Name[nb]=Akonadi-konsoll
Name[nds]=Akonadi-Konsool
Name[nl]=Akonadi-console
Name[nn]=Akonadi-konsoll
Name[pl]=Konsola Akonadi
Name[pt]=Consola do Akonadi
Name[pt_BR]=Console do Akonadi
Name[ro]=Consolă Akonadi
Name[ru]=Консоль Akonadi
Name[sv]=Akonadi-terminal
Name[tr]=Akonadi Uçbirimi
Name[uk]=Термінал Akonadi
Name[wa]=Conzôle Akonadi
Name[x-test]=xxAkonadi Consolexx
Name[zh_CN]=Akonadi 控制台
Name[zh_TW]=Akonadi 主控台
Exec=akonadiconsole
Icon=utilities-terminal
Type=Application
Comment=Akonadi Management and Debugging Console
Comment[ca]=Consola de gestió i depuració per a l'Akonadi
Comment[da]=Akonadi håndterings- og fejlretningskonsol
Comment[de]=Akonadi-Konsole zur Verwaltung und Fehlersuche
Comment[el]=Κονσόλα διαχείρισης και αποσφαλμάτωσης του Akonadi
Comment[es]=Consola de gestión y depuración de Akonadi
Comment[et]=Akonadi haldamise ja silumise konsool
Comment[fr]=Console de gestion et de déboguage pour Akonadi
Comment[ga]=Consól Bainisteoireachta agus Dífhabhtaithe Akonadi
Comment[gl]=Consola de Xestión e Depuración de Akonadi
Comment[it]=Console di gestione e debugging di Akonadi
Comment[ja]=Akonadi の管理とデバッグのためのコンソール
Comment[km]=ការ​គ្រប់គ្រង Akonadi និង​កុងសូល​បំបាត់​កំហុស
Comment[lv]=Akonadi pārvaldības un atkļūdošanas konsole
Comment[nb]=Konsoll for Akonadi administrasjon og feilsøking
Comment[nds]=Akonadi sien Pleeg- un Fehlersöök-Konsool
Comment[nl]=Akonadi-beheer en debugging-console
Comment[nn]=Akonadi-konsoll for handsaming og feilsøking
Comment[pl]=Konsola Akonadi do zarządzania i diagnostyki
Comment[pt]=Consola de Gestão e Depuração do Akonadi
Comment[pt_BR]=Console de gerenciamento e depuração do Akonadi
Comment[ro]=Consolă de administrare și depanare Akonadi
Comment[ru]=Управление Akonadi и консоль отладки
Comment[sv]=Akonadi hanterings- och felsökningsterminal
Comment[tr]=Akonadi Yönetim ve Hata Ayıklama Uçbirimi
Comment[uk]=Термінал керування і зневадження Akonadi
Comment[x-test]=xxAkonadi Management and Debugging Consolexx
Comment[zh_CN]=用于管理和调试 Akonadi 的控制台
Comment[zh_TW]=Akonadi 管理與除錯主控台
Terminal=false
Categories=Qt;KDE;Development;
