[Desktop Entry]
Name=Akonadi Console
Name[ga]=Consól Akonadi
Name[ja]=Akonadi コンソール
Name[km]=កុងសូល​របស់ Akonadi
Name[pt]=Consola do Akonadi
Name[pt_BR]=Console do Akonadi
Name[zh_TW]=Akonadi 主控台
Exec=akonadiconsole
Icon=utilities-terminal
Type=Application
Comment=Akonadi Management and Debugging Console
Comment[ga]=Consól Bainisteoireachta agus Dífhabhtaithe Akonadi
Comment[km]=ការ​គ្រប់គ្រង Akonadi និង​កុងសូល​បំបាត់​កំហុស
Comment[pt]=Consola de Gestão e Depuração do Akonadi
Comment[pt_BR]=Console de Gerenciamento e Depuração do Akonadi
Comment[zh_TW]=Akonadi 管理與除錯主控台
Terminal=false
Categories=Qt;KDE;
