[Desktop Entry]
Name=Nepomuk Tags (Virtual Folders)
Name[el]=Ετικέτες Nepomuk (εικονικοί φάκελοι)
Name[et]=Nepomuki sildid (virtuaalkaustad)
Name[gl]=Etiquetas Nepomik (Cartafoles Virtuais)
Name[km]=ស្លាក Nepomuk (ថត​និម្មិត)
Name[nds]=Nepomuk-Steekwöör (Virtuell Ornern)
Name[nn]=Nepomuk-merkelappar (virtuelle mapper)
Name[pt]=Marcas do Nepomuk (Pastas Virtuais)
Name[pt_BR]=Marcas do Nepomuk (Pastas Virtuais)
Name[sv]=Nepomuk-etiketter (virtuella korgar)
Name[uk]=Мітки Nepomuk (Віртуальні теки)
Name[x-test]=xxNepomuk Tags (Virtual Folders)xx
Name[zh_TW]=Nepomuk 標籤（虛擬資料夾）
Comment=Virtual folders for selecting messages which have Nepomuk Tags.
Comment[el]=Εικονικοί φάκελοι για την επιλογή μηνυμάτων με ετικέτες Nepomuk.
Comment[et]=Virtuaalkaustad Nepomuki siltidega kirjade valimiseks.
Comment[gl]=Cartafoles virtuais para escoller mensaxes que teñen as etiquetas de Nepomuk.
Comment[km]=ថត​និម្មិត​សម្រាប់​ជ្រើស​សារ​ដែល​មាន​ស្លាក Nepomuk ។
Comment[nds]=Virtuell Ornen för Narichten mit Nepomuk-Steekwöör
Comment[nn]=Virtuelle mapper for val av meldingar som har Nepomuk-merkelappar.
Comment[pt]=Pastas virtuais para seleccionar as mensagens que tenham Marcas do Nepomuk.
Comment[pt_BR]=Pastas virtuais para selecionar as mensagens que possuam marcas do Nepomuk.
Comment[sv]=Virtuella korgar för att välja brev som har Nepomuk-etiketter.
Comment[uk]=Віртуальні теки для вибору повідомлень, які мають мітки Nepomuk.
Comment[x-test]=xxVirtual folders for selecting messages which have Nepomuk Tags.xx
Comment[zh_TW]=用於選擇有 Nepomuk 標籤訊息用的虛擬資料夾
Type=AkonadiResource
Exec=akonadi_nepomuktag_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_nepomuktag_resource
