[Desktop Entry]
Name=Nepomuk Calendar Feeder
Name[nds]=Nepomuk-Kalenneringaav
Name[pt_BR]=Alimentador de calendário para o Nepomuk
Name[sv]=Kontaktinmatning till Nepomuk
Name[uk]=Передавач календарів Nepomuk
Name[x-test]=xxNepomuk Calendar Feederxx
Comment=Extension to push events, journals and todos into Nepomuk
Comment[nds]=Verwiedern, mit de sik Begeefnissen, Daagböker un Opgaven na Nepomuk överdregen laat
Comment[pt_BR]=Extensão para enviar eventos, diários e tarefas para o Nepomuk
Comment[sv]=Utökning för att skicka händelser, journalanteckningar och uppgifter till Nepomuk
Comment[uk]=Додаток для передачі записів подій, журналу та завдань до Nepomuk
Comment[x-test]=xxExtension to push events, journals and todos into Nepomukxx
Comment[zh_TW]=將事件、日誌與待辦事項送進 Nepomuk 的延伸程式
Type=AkonadiAgent
Exec=akonadi_nepomuk_calendar_feeder
Icon=nepomuk

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Unique,NoConfig
X-Akonadi-Identifier=akonadi_nepomuk_calendar_feeder
