[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Engine
Name[de]=Akonadi-Treiber
Name[el]=Μηχανή Akonadi
Name[it]=Motore Akonadi
Name[ja]=Akonadi エンジン
Name[ko]=Akonadi 엔진
Name[nds]=Akonadi-Karn
Name[ne]=एकोनाडी इन्जिन
Name[nl]=Akonadi-engine
Name[pt]=Motor do Akonadi
Name[pt_BR]=Motor do Akonadi
Name[sv]=Akonadi-gränssnitt
Name[x-test]=xxAkonadi Enginexx
Name[zh_CN]=Akonadi 引擎
Name[zh_TW]=Akonadi 引擎
Comment=Akonadi PIM data engine
Comment[de]=Akonadi-PIM-Treiber
Comment[el]=Μηχανή δεδομένων PIM του Akonadi
Comment[it]=Motore dati PIM Akonadi
Comment[ja]=Akonadi PIM データエンジン
Comment[ko]=AKonadi PIM 데이터 엔진
Comment[nds]=PIM-Hanteerkarn för Akonadi
Comment[ne]=एकोनाडी PIM डेटा इन्जिन
Comment[pt]=Motor de dados de PIM do Akonadi
Comment[pt_BR]=Motor de dados de PIM do Akonadi
Comment[sv]=Akonadi-gränssnitt för personlig informationshantering
Comment[x-test]=xxAkonadi PIM data enginexx
Comment[zh_CN]=Akonadi PIM 数据引擎
Comment[zh_TW]=Akonadi PIM 資料引擎
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=mail
X-KDE-Library=plasma_engine_akonadi
X-EngineName=akonadi
