[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Engine
Name[el]=Μηχανή Akonadi
Name[ja]=Akonadi エンジン
Name[sv]=Akonadi-gränssnitt
Name[zh_TW]=Akonadi 引擎
Comment=Akonadi PIM data engine
Comment[el]=Μηχανή δεδομένων PIM του Akonadi
Comment[ja]=Akonadi PIM データエンジン
Comment[sv]=Akonadi-gränssnitt för personlig informationshantering
Comment[zh_TW]=Akonadi PIM 資料引擎
ServiceTypes=Plasma/DataEngine
Type=Service
Icon=mail
X-KDE-Library=plasma_engine_akonadi
X-EngineName=akonadi
