[Desktop Entry]
Name=Personal Contacts
Name[uk]=Особисті контакти
Comment=The address book with personal contacts
Comment[uk]=Адресна книга з особистими записами контактів
Type=AkonadiResource
Exec=akonadi_contacts_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory,application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_contacts_resource
