[Desktop Entry]
Name=Personal Contacts
Name[nb]=Personlige kontakter
Name[nds]=Persöönlich Kontakten
Name[pt]=Contactos Pessoais
Name[pt_BR]=Contatos pessoais
Name[sv]=Personliga kontakter
Name[tr]=Kişisel Bağlantılar
Name[uk]=Особисті контакти
Name[x-test]=xxPersonal Contactsxx
Name[zh_TW]=個人聯絡人
Comment=The address book with personal contacts
Comment[nb]=Adresseboka med personlige kontakter.
Comment[nds]=Dat Adressbook mit persöönlich Kontakten
Comment[pt]=O livro de endereços com os contactos pessoais
Comment[pt_BR]=O livro de endereços com contatos pessoais
Comment[sv]=Adressboken med personliga kontakter
Comment[tr]=Kişisel bağlantıları içeren adres defteri
Comment[uk]=Адресна книга з особистими записами контактів
Comment[x-test]=xxThe address book with personal contactsxx
Comment[zh_TW]=個人聯絡人的通訊錄
Type=AkonadiResource
Exec=akonadi_contacts_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory,application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_contacts_resource
