[Desktop Entry]
Name=Personal Contacts
Name[ca]=Contactes personals
Name[ca@valencia]=Contactes personals
Name[da]=Personlig kontakter
Name[de]=Persönliche Kontakte
Name[en_GB]=Personal Contacts
Name[es]=Contactos personales
Name[et]=Isiklikud kontaktid
Name[fr]=Contacts personnels
Name[gl]=Contactos persoais
Name[it]=Contatti personali
Name[ja]=個人の連絡先
Name[nb]=Personlige kontakter
Name[nds]=Persöönlich Kontakten
Name[nl]=Persoonlijke contacten
Name[pt]=Contactos Pessoais
Name[pt_BR]=Contatos pessoais
Name[sl]=Osebni stiki
Name[sv]=Personliga kontakter
Name[tr]=Kişisel Bağlantılar
Name[uk]=Особисті контакти
Name[x-test]=xxPersonal Contactsxx
Name[zh_CN]=个人联系人
Name[zh_TW]=個人聯絡人
Comment=The address book with personal contacts
Comment[ca]=La llibreta d'adreces amb contactes personals
Comment[ca@valencia]=La llibreta d'adreces amb contactes personals
Comment[da]=Adressebog med personlige kontakter
Comment[de]=Das Adressbuch mit persönlichen Kontakten
Comment[en_GB]=The address book with personal contacts
Comment[es]=La libreta de direcciones con contactos personales
Comment[et]=Isiklikke kontakte sisaldav aadressiraamat
Comment[fr]=Le carnet d'adresses avec vos contacts personnels
Comment[gl]=O caderno de enderezos cos contactos persoais
Comment[it]=La rubrica con i contatti personali
Comment[ja]=個人の連絡先を含むアドレス帳
Comment[nb]=Adresseboka med personlige kontakter.
Comment[nds]=Dat Adressbook mit persöönlich Kontakten
Comment[pt]=O livro de endereços com os contactos pessoais
Comment[pt_BR]=O livro de endereços com contatos pessoais
Comment[sl]=Adresar z osebnimi stiki
Comment[sv]=Adressboken med personliga kontakter
Comment[tr]=Kişisel bağlantıları içeren adres defteri
Comment[uk]=Адресна книга з особистими записами контактів
Comment[x-test]=xxThe address book with personal contactsxx
Comment[zh_CN]=个人联系地址簿
Comment[zh_TW]=個人聯絡人的通訊錄
Type=AkonadiResource
Exec=akonadi_contacts_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory,application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_contacts_resource
