[Desktop Entry]
Name=Nepomuk Calendar Feeder
Comment=Extension to push events, journals and todos into Nepomuk
Type=AkonadiAgent
Exec=akonadi_nepomuk_calendar_feeder
Icon=nepomuk

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Unique,NoConfig
X-Akonadi-Identifier=akonadi_nepomuk_calendar_feeder
