[Desktop Entry]
Name=Nepomuk Calendar Feeder
Name[ca]=Alimentador de calendaris del Nepomuk
Name[ca@valencia]=Alimentador de calendaris del Nepomuk
Name[da]=Nepomuk kalender-feeder
Name[de]=Kalender-Modul für Nepomuk
Name[en_GB]=Nepomuk Calendar Feeder
Name[es]=Proveedor de calendarios de Nepomuk
Name[et]=Nepomuki kalendri söötur
Name[fr]=Connecteur Nepomuk pour les contacts
Name[gl]=Fornecedor de calendario do Nepomuk
Name[ja]=Nepomuk カレンダーフィーダー
Name[nb]=Kalendersender til Nepomuk
Name[nds]=Nepomuk-Kalenneringaav
Name[nl]=Nepomuk agenda-voeder
Name[pt]=Alimentação do Calendário para o Nepomuk
Name[pt_BR]=Alimentador de calendário para o Nepomuk
Name[sl]=Podajalnik koledarjev za Nepomuk
Name[sv]=Kontaktinmatning till Nepomuk
Name[tr]=Nepomuk Takvim Besleyici
Name[uk]=Передавач календарів Nepomuk
Name[x-test]=xxNepomuk Calendar Feederxx
Name[zh_CN]=Nepomuk 日历采集器
Name[zh_TW]=Nepomuk Calendar Feeder
Comment=Extension to push events, journals and todos into Nepomuk
Comment[ca]=Extensió per a introduir esdeveniments, diaris i pendents en el Nepomuk
Comment[ca@valencia]=Extensió per a introduir esdeveniments, diaris i pendents en el Nepomuk
Comment[da]=Udvidelse til at skubbe begivenheder, journaler og gøremål ind i Nepomuk
Comment[de]=Erweiterung zur Übergabe von Ereignissen, Journalen und Aufgaben an Nepomuk
Comment[en_GB]=Extension to push events, journals and todos into Nepomuk
Comment[es]=Extensión para introducir eventos, diarios y tareas en Nepomuk
Comment[et]=Laiendus sündmuste, päevikute ja ülesannete edastamiseks Nepomukile
Comment[fr]=Extension pour envoyer les évènements, les journaux et les tâches à Nepomuk
Comment[gl]=Engadido para lle pasar os enventos, os diarios e as tarefas ao Nepomuk
Comment[it]=Estensione per inserire eventi, diari e cose da fare in Nepomuk
Comment[ja]=Nepomuk にイベント、日記、To-Do を提供するエクステンション
Comment[nb]=Utvidelse som sender hendelser, dagboksnotater og gjøremål inn til Nepomuk
Comment[nds]=Verwiedern, mit de sik Begeefnissen, Daagböker un Opgaven na Nepomuk överdregen laat
Comment[nl]=Extensie om gebeurtenissen, journaals en taken in Nepomuk in te voeren
Comment[pt]=Extensão para enviar eventos, diários e itens por-fazer para o Nepomuk
Comment[pt_BR]=Extensão para enviar eventos, diários e tarefas para o Nepomuk
Comment[sl]=Razširitev, ki posreduje dogodke, dnevnike in opravila v Nepomuk
Comment[sv]=Utökning för att skicka händelser, journalanteckningar och uppgifter till Nepomuk
Comment[uk]=Додаток для передачі записів подій, журналу та завдань до Nepomuk
Comment[x-test]=xxExtension to push events, journals and todos into Nepomukxx
Comment[zh_CN]=用于将事件、日历和待办事宜推送到 Nepomuk 的扩展
Comment[zh_TW]=將事件、日誌與待辦事項送進 Nepomuk 的延伸程式
Type=AkonadiAgent
Exec=akonadi_nepomuk_calendar_feeder
Icon=nepomuk

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Unique,NoConfig
X-Akonadi-Identifier=akonadi_nepomuk_calendar_feeder
