[Desktop Entry]
Name=Kolab Groupware Server
Name[nds]=Kolab-Arbeitkoppel-Server
Name[pt_BR]=Servidor groupware Kolab
Name[sv]=Kolab grupprogramserver
Name[x-test]=xxKolab Groupware Serverxx
Comment=Provides access to Kolab groupware folders on an IMAP server (IMAP accounts need to be set up separately).
Comment[nds]=Stellt Togriep op Kolab-Arbeitkoppel-Ornern op en IMAP-Server praat (IMAP-Kontos mööt enkelt inricht warrn).
Comment[pt_BR]=Fornece acesso as pastas groupware Kolab em um servidor IMAP (as contas IMAP precisam ser definidas separadamente).
Comment[sv]=Ger tillgång till Kolab grupprogramkorgar på en IMAP-server (IMAP-konton måste ställas in separat).
Comment[x-test]=xxProvides access to Kolab groupware folders on an IMAP server (IMAP accounts need to be set up separately).xx
Type=AkonadiResource
Exec=akonadi_kolabproxy_resource
Icon=kolab

X-Akonadi-MimeTypes=text/directory,text/calendar,application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource,Unique,NoConfig
X-Akonadi-Identifier=akonadi_kolabproxy_resource
