[Desktop Entry]
Name=Kolab Groupware Server 
Name[da]=Akonadi Kolab-proxy-ressource
Name[de]=Akonadi-Proxy-Ressource für Kolab
Name[et]=Akonadi Kolabi puhverserveri ressurss
Name[gl]=Recurso proxy de Kolab do Akonadi
Name[it]=Risorsa proxy Kolab di Akonadi
Name[km]=ធនធាន​ប្រូកស៊ី Akonadi Kolab
Name[lv]=Akonadi Kolab starpnieka resurss
Name[nb]=Akonadi Kolab mellomtjenerressurs
Name[nds]=Akonadi-Kolab-Proxyressource
Name[nn]=Akonadi Kolab Proxy-ressurs
Name[pt]=Recurso 'Proxy' do Kolab para o Akonadi
Name[pt_BR]=Recurso de proxy do Kolab para o Akonadi
Name[sv]=Akonadi Kolab-proxyresurs
Name[tr]=Akonadi Kolab Vekil Sunucu Kaynağı
Name[uk]=Ресурс проксі-сервера Kolab Akonadi
Name[x-test]=xxAkonadi Kolab Proxy Resourcexx
Name[zh_CN]=Akonadi Kolab 代理资源
Name[zh_TW]=Akonadi Kolab Proxy 資源
Comment=Provides access to Kolab groupware folders on an IMAP server (IMAP accounts need to be set up separately).
Comment[da]=Proxy-ressource til overvågning af groupware-mapper.
Comment[de]=Proxy-Ressource zur Überwachung von Arbeitsgruppen-Ordnern.
Comment[et]=Puhverserveri ressurss grupitöö kaustade jälgimiseks
Comment[gl]=Recurso de proxy para vixiar cartafoles de traballo en grupo.
Comment[it]=Risorsa proxy per controllare cartelle di groupware.
Comment[km]=ធនធាន​ប្រូកស៊ី​ដែល​ត្រូវ​ត្រួតពិនិត្យ​ត្រត groupware ។
Comment[lv]=Starpnieka resurss grupdarba serveru novērošanai.
Comment[nb]=Mellomtjenerressurs som overvåker gruppevaremappene.
Comment[nds]=Proxy-Ressource för't Beluern vun Arbeitkoppel-Ornern.
Comment[nn]=Proxy-ressurs for overvaking av gruppevaremapper.
Comment[pt]=Recurso 'proxy' para vigiar as pastas de 'groupware'.
Comment[pt_BR]=O recurso de proxy para monitorar pastas de groupware.
Comment[sv]=Proxyresurs för att övervaka grupprogramkorgar.
Comment[tr]=Grup çalışması dizinlerini izlemek için vekil sunucu kaynağı.
Comment[uk]=Ресурс проксі-сервера, призначений для спостереження за теками групи.
Comment[x-test]=xxProxy resource to monitor groupware folders.xx
Comment[zh_CN]=监控群件文件夹的代理资源。
Comment[zh_TW]=監控群組資料夾的 Proxy 資源。
Type=AkonadiResource
Exec=akonadi_kolabproxy_resource
Icon=kolab

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource,Unique,NoConfig
X-Akonadi-Identifier=akonadi_kolabproxy_resource
