[Desktop Entry]
Name=Invitations Dispatcher Agent
Name[ca]=Agent de fils d'invitacions
Name[ca@valencia]=Agent de fils d'invitacions
Name[da]=Invitationsafsendingsagent
Name[de]=Agent zur Einladungs-Auslieferung
Name[en_GB]=Invitations Dispatcher Agent
Name[es]=Agente despachador de invitaciones
Name[fr]=Agent de distribution d'invitations
Name[gl]=Axente de Despacho de Convites
Name[it]=Agente per la consegna degli inviti
Name[km]=អញ្ជើញ​​ភ្នាក់ងារ​​កម្មវិធី​បញ្ជូន
Name[nb]=Agent for invitasjonssendinger
Name[nds]=Inladenverdeel-Hölper
Name[nl]=Uitnodigingen-verspreidingsagent
Name[pt]=Agente de Despacho de Convites
Name[pt_BR]=Agente de despacho de convites
Name[sv]=Modul för inbjudningssändning
Name[uk]=Агент розподілу запрошень
Name[x-test]=xxInvitations Dispatcher Agentxx
Name[zh_CN]=邀请签发代理
Name[zh_TW]=邀請配送代理程式
Type=AkonadiAgent
Exec=akonadi_invitations_agent
Icon=mail-folder-outbox

X-Akonadi-Identifier=akonadi_invitations_agent
#X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Capabilities=NoConfig

#X-Akonadi-MimeTypes=message/rfc822
#X-Akonadi-MimeTypes=text/calendar
X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.event
#X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.todo
#X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.journal
#X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.freebusy
