[Desktop Entry]
Name=Invitations Dispatcher Agent
Name[en_GB]=Invitations Dispatcher Agent
Name[es]=Agente despachador de invitaciones
Name[nds]=Inladenverdeel-Hölper
Name[pt]=Agente de Despacho de Convites
Name[pt_BR]=Agente de despacho de convites
Name[sv]=Modul för inbjudningssändning
Name[uk]=Агент розподілу запрошень
Name[x-test]=xxInvitations Dispatcher Agentxx
Type=AkonadiAgent
Exec=akonadi_invitations_agent
Icon=mail-folder-outbox

X-Akonadi-Identifier=akonadi_invitations_agent
#X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Capabilities=NoConfig

#X-Akonadi-MimeTypes=message/rfc822
#X-Akonadi-MimeTypes=text/calendar
X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.event
#X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.todo
#X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.journal
#X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.freebusy
