[Desktop Entry]
Name=Invitations Dispatcher Agent
Name[ar]=وكيل إرسال الدّعوات
Name[bs]=Agent za raspodjelu poziva
Name[ca]=Agent distribuïdor d'invitacions
Name[ca@valencia]=Agent distribuïdor d'invitacions
Name[cs]=Agent odesílatele pozvánek
Name[da]=Invitationsafsendingsagent
Name[de]=Agent zur Einladungs-Auslieferung
Name[el]=Πράκτορας αποστολής προσκλήσεων
Name[en_GB]=Invitations Dispatcher Agent
Name[es]=Agente despachador de mensajes
Name[et]=Kutsete edastamise agent
Name[fi]=Kutsunlähetysagentti
Name[fr]=Agent de diffusions d'invitations
Name[gl]=Axente de Despacho de Convites
Name[hu]=Meghívófeladó ügynök
Name[ia]=Agente Distributor de Invitationes
Name[it]=Agente per la consegna degli inviti
Name[ja]=正体ディスパッチャーエージェント
Name[kk]=Шақыру реттеуш агенті
Name[km]=ការ​អញ្ជើញ​​ភ្នាក់ងារ​​កម្មវិធី​បញ្ជូន
Name[ko]=초대장 가져오기 에이전트
Name[lt]=Laiškų gijų išdėstymo agentas
Name[lv]=Ielūgumu nosūtīšanas aģents
Name[nb]=Agent for invitasjonssendinger
Name[nds]=Inladenverdeel-Hölper
Name[nl]=Uitnodigingen-verspreidingsagent
Name[pl]=Pośrednik obsługi zaproszeń
Name[pt]=Agente de Despacho de Convites
Name[pt_BR]=Agente de encaminhamento de convites
Name[ro]=Agent de remitere a invitațiilor
Name[ru]=Агент диспетчера приглашений
Name[sk]=Agent spracovania pozvánok
Name[sl]=Posrednik za razpošiljanje povabil
Name[sr]=Агент отпремања позивница
Name[sr@ijekavian]=Агент отпремања позивница
Name[sr@ijekavianlatin]=Agent otpremanja pozivnica
Name[sr@latin]=Agent otpremanja pozivnica
Name[sv]=Modul för inbjudningssändning
Name[tr]=Davetiye Dağıtıcı Programı
Name[uk]=Агент розподілу запрошень
Name[x-test]=xxInvitations Dispatcher Agentxx
Name[zh_CN]=邀请签发代理
Name[zh_TW]=邀請配送代理程式
Comment=Dispatches invitations from your calendar
Comment[ar]=يُرسل الدّعوات من التّقويم
Comment[bs]=Raspoređuje pozive iz vašeg kalendara
Comment[ca]=Distribueix invitacions des del calendari
Comment[ca@valencia]=Distribueix invitacions des del calendari
Comment[da]=Udsender invitationer fra din kalender
Comment[de]=Verschickt Einladungen aus Ihren Kalender
Comment[el]=Διανέμει προσκλήσεις από το ημερολόγιό σας
Comment[en_GB]=Dispatches invitations from your calendar
Comment[es]=Remite invitaciones desde su calendario
Comment[et]=Kutsete edastamine sinu kalendrist
Comment[fi]=Lähettää kutsuja kalenteristasi
Comment[fr]=Diffuse les invitations à partir de votre agenda
Comment[gl]=Xestiona invitacións do calendario.
Comment[hu]=Meghívásokat kézbesít a naptárából
Comment[ia]=Expedi invitationes ex tu calendario
Comment[it]=Consegna inviti dal tuo calendario
Comment[kk]=Күнтізбеңіздегі шақыруларды үлестіру
Comment[ko]=달력에서 초대장을 가져옵니다
Comment[lt]=Išsiunčia pakvietimus iš Jūsų kalendoriaus
Comment[nb]=Sender ut invitasjoner fra din kalender
Comment[nds]=Verdeelt Inladen ut Dien Kalenner
Comment[nl]=Brengt uitnodigingen uit uw agenda naar elders
Comment[pl]=Rozsyła zaproszenia z twojego kalendarza
Comment[pt]=Trata dos convites do seu calendário
Comment[pt_BR]=Encaminhamento de convites do seu calendário
Comment[ro]=Remite invitații din calendar
Comment[ru]=Рассылает приглашения из календаря
Comment[sk]=Vybavuje pozvánky z vášho kalendára
Comment[sl]=Odpošlje povabila z vašega koledarja
Comment[sr]=Отпрема позивнице из вашег календара
Comment[sr@ijekavian]=Отпрема позивнице из вашег календара
Comment[sr@ijekavianlatin]=Otprema pozivnice iz vašeg kalendara
Comment[sr@latin]=Otprema pozivnice iz vašeg kalendara
Comment[sv]=Skickar inbjudningar från kalendern
Comment[tr]=Takviminizdeki davetleri yollar
Comment[uk]=Роповсюджує запрошення на основі даних календаря
Comment[x-test]=xxDispatches invitations from your calendarxx
Comment[zh_CN]=从您的日历发送邀请
Comment[zh_TW]=從您的行事曆中分配邀請
Type=AkonadiAgent
Exec=akonadi_invitations_agent
Icon=mail-folder-outbox

X-Akonadi-Identifier=akonadi_invitations_agent
X-Akonadi-Capabilities=Unique,NoConfig

#X-Akonadi-MimeTypes=message/rfc822
#X-Akonadi-MimeTypes=text/calendar
X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.event
#X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.todo
#X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.journal
#X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.freebusy
