[Desktop Entry]
Name=DAV groupware resource
Name[uk]=Ресурс групової роботи DAV
Comment=Resource to manage DAV calendars and address books (CalDAV, GroupDAV)
Comment[uk]=Ресурс для керування календарями і адресними книгами DAV (CalDAV, GroupDAV)
Type=AkonadiResource
Exec=akonadi_davgroupware_resource
Icon=folder-remote

X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.calendar.todo,application/x-vnd.akonadi.calendar.journal,application/x-vnd.akonadi.calendar.freebusy,text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_davgroupware_resource
