[Desktop Entry]
Type=Application
Name=DAV Groupware
Name[ca]=Treball en grup DAV
Name[ca@valencia]=Treball en grup DAV
Name[de]=DAV Groupware
Name[en_GB]=DAV Groupware
Name[es]=Software colaborativo DAV
Name[fr]=Logiciel de collaboration « DAV »
Name[ia]=DAV Groupware
Name[it]=Groupware DAV
Name[ko]=DAV 그룹웨어
Name[nl]=DAV-groupware
Name[pt]=DAV Groupware
Name[pt_BR]=Groupware DAV
Name[sl]=DAV Groupware
Name[sv]=DAV grupprogram
Name[tr]=DAV Groupware
Name[uk]=Групова робота у DAV
Name[x-test]=xxDAV Groupwarexx
Name[zh_CN]=DAV 群件
NoDisplay=true
Exec=akonadi_davgroupware_resource
Icon=folder-remote
