[Desktop Entry]
Name=POP3
Name[en_GB]=POP3
Name[es]=POP3
Name[et]=POP3
Name[nb]=POP3
Name[pt]=POP3
Name[pt_BR]=POP3
Name[sv]=Pop3
Name[tr]=POP3
Name[uk]=POP3
Name[x-test]=xxPOP3xx
Comment=Fetches mail from a POP3 server
Comment[en_GB]=Fetches mail from a POP3 server
Comment[es]=Recupera correo desde un servidor POP3
Comment[et]=Kirjade tõmbamine POP3 serverist
Comment[nb]=Henter e-post fra en POP3-tjener
Comment[pt]=Obtém o correio de um servidor POP3
Comment[pt_BR]=Obtém e-mails de um servidor POP3
Comment[sv]=Hämtar post från en Pop3-server
Comment[tr]=Bir POP3 sunucusundan e-postaları alır
Comment[uk]=Отримує пошту з сервера POP3
Comment[x-test]=xxFetches mail from a POP3 serverxx
Type=AkonadiResource
Exec=akonadi_pop3_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_pop3_resource
