[Desktop Entry]
Name=KDE Addressbook (traditional)
Comment=Loads data from a traditional KDE addressbook resource
Type=AkonadiResource
Exec=akonadi_kabc_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kabc_resource
