[Desktop Entry]
Name=Nepomuk Contact Feeder
Name[ca]=Alimentador de contactes del Nepomuk
Name[el]=Τροφοδότης επαφών Nepomuk
Name[gl]=Fornecedor de Contactos do Nepomuk
Name[ja]=Nepomuk 連絡先フィーダー
Name[km]=មតិព័ត៌មាន​ទំនាក់ទំនង Nepomuk
Name[lv]=Nepomuk kontaktu barotājs
Name[nb]=Kontaktsender til Nepomuk
Name[nds]=Nepomuk-Kontaktingaav
Name[nl]=Nepomuk Kontact-toevoer
Name[nn]=Kontaktmatar for Nepomuk
Name[pt]=Alimentação de Contactos para o Nepomuk
Name[pt_BR]=Alimentador de contatos para o Nepomuk
Name[sv]=Kontaktinmatning till Nepomuk
Name[tr]=Nepomuk Kişi Besleyici
Name[uk]=Передавач контактів Nepomuk
Name[x-test]=xxNepomuk Contact Feederxx
Comment=Extension to push contacts into Nepomuk
Comment[ca]=Extensió per a introduir contactes en el Nepomuk
Comment[de]=Erweiterung zur Übergabe von Kontakten an Nepomuk
Comment[el]=Επέκταση για την τροφοδοσία επαφών στο Nepomuk
Comment[gl]=Extensión para lle pasar os contactos ao Nepomuk
Comment[ja]=Nepomuk に連絡先を提供するエクステンション
Comment[km]=ផ្នែក​បន្ថែម​ដែលត្រូវ​បញ្ជូន​ទំនាក់ទំនង​ទៅ Nepomuk
Comment[lv]=Paplašinājums, kas iesūta kontaktu datus Nepomuk
Comment[nb]=Utvidelse som sender kontakter inn til Nepomuk
Comment[nds]=Verwiedern, mit de sik Kontakten na Nepomuk överdregen laat
Comment[nl]=Extensie om kontakten in Nepomuk te importeren
Comment[nn]=Utviding for overføring av kontaktar til Nepomuk
Comment[pt]=Extensão para enviar contactos para o Nepomuk
Comment[pt_BR]=Extensão para enviar contatos para o Nepomuk
Comment[sv]=Utökning för att skicka kontakter till Nepomuk
Comment[tr]=Kişileri Nepomuk içerisine taşımak için bir eklenti
Comment[uk]=Додаток для передачі контактів до Nepomuk
Comment[x-test]=xxExtension to push contacts into Nepomukxx
Comment[zh_TW]=將聯絡人送進 Nepomuk 的延伸程式
Type=AkonadiAgent
Exec=akonadi_nepomuk_contact_feeder

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique
X-Akonadi-Identifier=akonadi_nepomuk_contact_feeder
