[Desktop Entry]
Name=Nepomuk Contact Feeder
Name[ca]=Alimentador de contactes del Nepomuk per a l'Akonadi
Name[da]=Akonadi Nepomuk kontakt-feeder
Name[de]=Akonadi-Modul für Nepomuk
Name[el]=Τροφοδότης επαφών Nepomuk του Akonadi
Name[es]=Proveedor de contactos de Nepomuk para Akonadi
Name[et]=Akonadi Nepomuki kontaktide söötur
Name[fr]=Connecteur Nepomuk pour les contacts Akonadi
Name[ga]=Fothaire Teagmhálacha Akonadi Nepomuk
Name[gl]=Fornecedor de Contactos de Nepomuk para Akonaki
Name[it]=Fornitore di contatti Nepomuk per Akonadi
Name[ja]=Akonadi Nepomuk 連絡先フィーダー
Name[km]=កម្មវិធី​មតិព័ត៌មាន​របស់ Akonadi Nepomuk
Name[lv]=Akonadi Nepomuk kontaktu barotājs
Name[nb]=Akonadi kotaktsender til Nepomuk
Name[nds]=Akonadi-Kontaktingaav för Nepomuk
Name[nl]=Akonadi Nepomuk Kontact-toevoer
Name[nn]=Akonadi kontaktmatar for Nepomuk
Name[pl]=Obsługa kontaktów dla Nepomuka
Name[pt]=Alimentação de Contactos do Akonadi para o Nepomuk
Name[pt_BR]=Alimentador de Contatos do Akonadi para o Nepomuk
Name[sv]=Akonadi kontaktinmatning till Nepomuk
Name[tr]=Akonadi Nepomuk Kişi Besleyici
Name[uk]=Отримувач контактів Nepomuk для Akonadi
Name[wa]=Nourixheu d' soçon po Nepomuk d' Akonadi
Name[x-test]=xxAkonadi Nepomuk Contact Feederxx
Name[zh_CN]=Akonadi Nepomuk 联系人采集器
Comment=Extension to push contacts into Nepomuk
Comment[ca]=Extensió per a l'Akonadi per introduir contactes en el Nepomuk
Comment[da]=Akonadi-udvidelse til at skubbe kontakter ind i Nepomuk
Comment[de]=Nepomuk-Erweiterung zur Übergabe von Kontakten an Nepomuk
Comment[el]=Επέκταση του Akonadi για την τροφοδοσία επαφών στο Nepomuk
Comment[es]=Extensión para Akonadi para introducir contactos en Nepomuk
Comment[et]=Akonadi laiendus kontaktide edastamiseks Nepomukile
Comment[fr]=Extension d'Akonadi pour fournir les contacts à Nepomuk
Comment[gl]=Extensión para que Akonadi lle pase os contactos a Nepomuk
Comment[it]=Estensione di Akonadi per inserire i contatti in Nepomuk
Comment[ja]=Nepomuk に連絡先を提供する Akonadi のエクステンション
Comment[km]=ផ្នែក​បន្ថែម​សម្រាប់ Akonadi ដើម្បី​ដាក់ទំនាក់ទំនង​ទៅ​ក្នុង Nepomuk
Comment[lv]=Akonadi paplašinājums, kas iesūta kontaktu datus Nepomuk
Comment[nb]=Akonadi-utvidelse som sender kontakter inn til Nepomuk
Comment[nds]=Akonadi-Verwieern, mit de sik Kontakten na Nepomuk överdregen laat
Comment[nl]=Extensie voor Akonadi om kontakten in Nepomuk te importeren
Comment[nn]=Akonadi-utviding for overføring av kontaktar til Nepomuk
Comment[pl]=Rozszerzenie Akonadi do wysyłania kontaktów do Nepomuka
Comment[pt]=Extensão para o Akonadi enviar contactos para o Nepomuk
Comment[pt_BR]=Extensão para o Akonadi enviar contatos para o Nepomuk
Comment[sv]=Utökning av Akonadi för att skicka kontakter till Nepomuk
Comment[tr]=Kişileri Nepomuk içerisine taşımak için bir Akonadi eklentisi
Comment[uk]=Додаток для Akonadi, щоб передавати контакти у Nepomuk
Comment[wa]=Sitindaedje d' Akonadi po mete des soçons dins Nepomuk
Comment[x-test]=xxExtension for Akonadi to push contacts into Nepomukxx
Comment[zh_CN]=将联系人推入 Nepomuk的 Akonadi 扩展
Comment[zh_TW]=Akonadi 的延伸，將聯絡人送進 Nepomuk
Type=AkonadiAgent
Exec=akonadi_nepomuk_contact_feeder

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Autostart
X-Akonadi-Identifier=akonadi_nepomuk_contact_feeder
