[Desktop Entry]
Name=Tine 2.0 Groupware Server
Name[bs]=Tine 2.0 Groupware Server
Name[ca]=Servidor de treball en grup Tine 2.0
Name[ca@valencia]=Servidor de treball en grup Tine 2.0
Name[cs]=Groupware Server Tine 2.0
Name[da]=Tine 2.0 groupware-server
Name[de]=Tine 2.0 Groupware-Server
Name[el]=Tine 2.0 Groupware Server
Name[es]=Servidor de trabajo en grupo Tine 2.0
Name[et]=Tine 2.0 grupitöö server
Name[fi]=Tine 2.0 -työryhmäpalvelin
Name[fr]=Serveur de logiciels de collaboration Tine 2.0
Name[ga]=Freastalaí Groupware Tine 2.0
Name[gl]=Servidor de grupos Tine 2.0
Name[hu]=Tine 2.0 csoportmunka-kiszolgáló
Name[ia]=Servitor de Tine 2.0 Groupware
Name[it]=Server di groupware Tine 2.0
Name[kk]=Tine 2.0 топтық іс сервері
Name[km]=ម៉ាស៊ីន​បម្រើ Tine ២.០ Groupware
Name[ko]=Tine 2.0 그룹웨어 서버
Name[lt]=Tine 2.0 grupinio darbo serveris
Name[lv]=Tine 2.0 grupprogrammatūras serveris
Name[nb]=Tine 2.0 gruppevare-tjener
Name[nds]=Tine 2.0-Arbeitkoppel-Server
Name[nl]=Tine 2.0 groupwareserver
Name[pl]=Serwer Groupware Tine 2.0
Name[pt]=Servidor de Groupware Tine 2.0
Name[pt_BR]=Servidor groupware Tine 2.0
Name[ru]=Сервер совместной работы Tine 2.0
Name[sk]=Tine 2.0 Groupware Server
Name[sl]=Strežnik Tine 2.0 za skupinsko delo
Name[sr]=Тинеов групверски сервер
Name[sr@ijekavian]=Тинеов групверски сервер
Name[sr@ijekavianlatin]=Tineov grupverski server
Name[sr@latin]=Tineov grupverski server
Name[sv]=Tine 2.0 grupprogramserver
Name[tr]=Tine 2.0 Groupware Sunucusu
Name[uk]=Сервер групової роботи Tine 2.0
Name[x-test]=xxTine 2.0 Groupware Serverxx
Name[zh_CN]=Tine 2.0 群件服务器
Name[zh_TW]=Tine 2.0 群組伺服器
Icon=applications-internet
Comment=Tine 2.0 Groupware Server
Comment[bs]=Tine 2.0 Groupware Server
Comment[ca]=Servidor de treball en grup Tine 2.0
Comment[ca@valencia]=Servidor de treball en grup Tine 2.0
Comment[cs]=Groupware Server Tine 2.0
Comment[da]=Tine 2.0 groupware-server
Comment[de]=Tine 2.0 Groupware-Server
Comment[el]=Εξυπηρετητής Tine 2.0 Groupware
Comment[es]=Servidor de trabajo en grupo Tine 2.0
Comment[et]=Tine 2.0 grupitöö server
Comment[fi]=Tine 2.0 -työryhmäpalvelin
Comment[fr]=Serveur de logiciels de collaboration Tine 2.0
Comment[ga]=Freastalaí Groupware Tine 2.0
Comment[gl]=Servidor de grupos Tine 2.0
Comment[hu]=Tine 2.0 csoportmunka-kiszolgáló
Comment[ia]=Servitor de Tine 2.0 Groupware
Comment[it]=Server di groupware Tine 2.0
Comment[kk]=Tine 2.0 топтық іс сервері
Comment[km]=ម៉ាស៊ីន​បម្រើ Tine ២.០ Groupware
Comment[ko]=Tine 2.0 그룹웨어 서버
Comment[lt]=Tine 2.0 grupinio darbo serveris
Comment[lv]=Tine 2.0 grupprogrammatūras serveris
Comment[nb]=Tine 2.0 gruppevare-tjener
Comment[nds]=Tine 2.0-Arbeitkoppel-Server
Comment[nl]=Tine 2.0 groupwareserver
Comment[pl]=Serwer Groupware Tine 2.0
Comment[pt]=Servidor de 'Groupware' Tine 2.0
Comment[pt_BR]=Servidor groupware Tine 2.0
Comment[ru]=Сервер совместной работы Tine 2.0
Comment[sk]=Tine 2.0 Groupware Server
Comment[sl]=Strežnik Tine 2.0 za skupinsko delo
Comment[sr]=Тинеов групверски сервер
Comment[sr@ijekavian]=Тинеов групверски сервер
Comment[sr@ijekavianlatin]=Tineov grupverski server
Comment[sr@latin]=Tineov grupverski server
Comment[sv]=Tine 2.0 grupprogramserver
Comment[tr]=Tine 2.0 Groupware Sunucusu
Comment[uk]=Сервер групової роботи Tine 2.0
Comment[x-test]=xxTine 2.0 Groupware Serverxx
Comment[zh_CN]=Tine 2.0 群件服务器
Comment[zh_TW]=Tine 2.0 群組伺服器

[Wizard]
Type=message/rfc822,text/directory,text/calendar
Script=tine20wizard.es

[Translate]
Filename=accountwizard_tine20
