[Desktop Entry]
Name=Tine 2.0 Groupware Server
Name[cs]=Groupware Server Tine 2.0
Name[el]=Tine 2.0 Groupware Server
Name[es]=Servidor de trabajo en grupo Tine 2.0
Name[et]=Tine 2.0 grupitöö server
Name[ia]=Servitor de Tine 2.0 Groupware
Name[nl]=Tine 2.0 groupwareserver
Name[pl]=Serwer Groupware Tine 2.0
Name[pt]=Servidor de Groupware Tine 2.0
Name[pt_BR]=Servidor groupware Tine 2.0
Name[sv]=Tine 2.0 grupprogramserver
Name[uk]=Сервер групової роботи Tine 2.0
Name[x-test]=xxTine 2.0 Groupware Serverxx
Icon=applications-internet
Comment=Tine 2.0 Groupware Server
Comment[cs]=Groupware Server Tine 2.0
Comment[el]=Εξυπηρετητής Tine 2.0 Groupware
Comment[es]=Servidor de trabajo en grupo Tine 2.0
Comment[et]=Tine 2.0 grupitöö server
Comment[ia]=Servitor de Tine 2.0 Groupware
Comment[nl]=Tine 2.0 groupwareserver
Comment[pl]=Serwer Groupware Tine 2.0
Comment[pt]=Servidor de 'Groupware' Tine 2.0
Comment[pt_BR]=Servidor groupware Tine 2.0
Comment[sv]=Tine 2.0 grupprogramserver
Comment[uk]=Сервер групової роботи Tine 2.0
Comment[x-test]=xxTine 2.0 Groupware Serverxx

[Wizard]
Type=message/rfc822,text/directory,text/calendar
Script=tine20wizard.es

[Translate]
Filename=accountwizard_tine20
