[Desktop Entry]
Name=VCard Directory
Name[ca]=Directori vCard
Name[ca@valencia]=Directori vCard
Name[cs]=Adresář vizitek
Name[da]=VCard-mappe
Name[de]=vCard-Ordner
Name[en_GB]=VCard Directory
Name[es]=Directorio VCard
Name[et]=vCardide kataloog
Name[fi]=VCard-kansio
Name[fr]=Dossier « vCard »
Name[hu]=VCard mappa
Name[it]=Cartella vCard
Name[ja]=VCard ディレクトリ
Name[ko]=vCard 디렉터리
Name[nb]=vCard-mappe
Name[nds]=vCard-Orner
Name[nl]=VCard-map
Name[nn]=vCard-katalog
Name[pl]=Katalog VCard
Name[pt]=Pasta de vCard's
Name[pt_BR]=Diretório vCard
Name[ru]=Каталог с файлами vCard
Name[sk]=Adresár VCard
Name[sr]=В‑кард фасцикла
Name[sr@ijekavian]=В‑кард фасцикла
Name[sr@ijekavianlatin]=VCard fascikla
Name[sr@latin]=VCard fascikla
Name[sv]=VCard-katalog
Name[tr]=VCard Dizini
Name[uk]=Каталог vCard
Name[x-test]=xxVCard Directoryxx
Name[zh_TW]=vCard 目錄
Icon=text-directory
Comment=Loads contact from VCard Directory
Comment[ca]=Carrega contactes des d'un directori amb vCard
Comment[ca@valencia]=Carrega contactes des d'un directori amb vCard
Comment[cs]=Načítá data z adresáře vizitek
Comment[da]=Indlæser kontakt fra VCard-mappe
Comment[de]=Lädt Kontakte aus einem vCard-Ordner
Comment[en_GB]=Loads contact from VCard Directory
Comment[es]=Cargar contactos desde un directorio VCard
Comment[et]=Kontakti laadimine vCardide kataloogist
Comment[fi]=Lataa yhteystiedon VCard-kansiosta
Comment[fr]=Charge des données depuis un dossier « vCard »
Comment[hu]=Partnert tölt be egy VCard mappából
Comment[it]=Carica contatti da una cartella vCard
Comment[ko]=vCard 디렉터리에서 연락처를 가져옵니다
Comment[nb]=Laster kontakt fra vCard-mappa
Comment[nds]=Laadt Kontakten ut en vCard-Orner
Comment[nl]=Laadt contactpersoon uit een VCard-map
Comment[pl]=Wczytuje kontakty z katalogu vCard
Comment[pt]=Carrega um contacto de uma pasta de ficheiros vCard
Comment[pt_BR]=Carrega os contatos de um diretório vCard
Comment[ru]=Загрузка контактов из каталога с файлами vCard
Comment[sk]=Načíta kontakt z adresára vCard
Comment[sr]=Учитава контакт из в‑кард фасцикле
Comment[sr@ijekavian]=Учитава контакт из в‑кард фасцикле
Comment[sr@ijekavianlatin]=Učitava kontakt iz vCard fascikle
Comment[sr@latin]=Učitava kontakt iz vCard fascikle
Comment[sv]=Laddar data från en VCard-katalog
Comment[tr]=Bir VCard dosyasından veri yükler
Comment[uk]=Завантажує дані запису контакту із каталогу vCard
Comment[x-test]=xxLoads contact from VCard Directoryxx
Comment[zh_TW]=從 vCard 目錄載入聯絡人

[Wizard]
Type=text/vcard
Script=vcarddirwizard.es

[Translate]
Filename=accountwizard_vcarddir
