[Desktop Entry]
Name=VCard Directory
Name[cs]=Adresář vizitek
Name[de]=vCard-Ordner
Name[fr]=Dossier « vCard »
Name[nds]=vCard-Orner
Name[pt]=Pasta de vCard's
Name[sk]=Adresár VCard
Name[sv]=VCard-katalog
Name[uk]=Каталог vCard
Name[x-test]=xxVCard Directoryxx
Icon=text-directory
Comment=Loads contact from VCard Directory
Comment[cs]=Načítá data z adresáře vizitek (vCard)
Comment[de]=Lädt Kontakte aus einem vCard-Ordner
Comment[nds]=Laadt Kontakten ut en vCard-Orner
Comment[pt]=Carrega um contacto de uma pasta de ficheiros vCard
Comment[sk]=Načíta kontakt z adresára vCard
Comment[sv]=Laddar data från en VCard-katalog
Comment[uk]=Завантажує дані запису контакту із каталогу vCard
Comment[x-test]=xxLoads contact from VCard Directoryxx

[Wizard]
Type=text/vcard
Script=vcarddirwizard.es

[Translate]
Filename=accountwizard_vcarddir
