[Desktop Entry]
Name=Mail Dispatcher Agent
Type=AkonadiAgent
Exec=akonadi_maildispatcher_agent
Icon=mail-folder-outbox

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_maildispatcher_agent
