[Desktop Entry]
Name=Mail Dispatcher Agent
Name[bs]=Dispačer mail agent
Name[ca]=Agent de fils de correu
Name[ca@valencia]=Agent de fils de correu
Name[da]=Mailafsendingsagent (MDA)
Name[de]=Agent zur Nachrichten-Auslieferung
Name[el]=Πράκτορας αποστολής αλληλογραφίας
Name[en_GB]=Mail Dispatcher Agent
Name[es]=Agente despachador de correo
Name[et]=Kirjade edastamise agent
Name[fi]=Postinvälitystyökalu
Name[fr]=Agent de distribution de messages
Name[gl]=Axente de Despacho de Correo
Name[ia]=Agente Distributor de Posta
Name[it]=Agente per la consegna della posta
Name[ja]=メール送信エージェント
Name[kk]=Пошта реттеуш агенті
Name[km]=ភ្នាក់ងារ​កម្មវិធី​បញ្ជូន​សំបុត្រ
Name[lt]=Laiškų gijų išdėstymo agentas
Name[lv]=Pasta nosūtīšanas aģents
Name[nb]=Agent for e-postsending
Name[nds]=Nettpostverdeel-Hölper
Name[nl]=E-mail verspreidingsagent
Name[pa]=ਮੇਲ ਡਿਸਪੈਚਰ ਏਜੰਟ
Name[pl]=Agent przyjmowania poczty
Name[pt]=Agente de Despacho do Correio
Name[pt_BR]=Agente de despacho de e-mails
Name[ro]=Agent de livrare a mesajelor
Name[sl]=Posrednik za odpošiljanje pošte
Name[sv]=E-postsändningsmodul
Name[tr]=E-posta Yönetim Aracı
Name[uk]=Агент розподілу пошти
Name[x-test]=xxMail Dispatcher Agentxx
Name[zh_CN]=邮件签发代理
Name[zh_TW]=郵件配送代理程式
Type=AkonadiAgent
Exec=akonadi_maildispatcher_agent
Icon=mail-folder-outbox

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_maildispatcher_agent
