[Desktop Entry]Name=Mail Filter Agent
Comment=Filters Mail in Multiple Collections
Type=AkonadiAgent
Exec=akonadi_mailfilter_agent
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Capabilities=Unique
X-Akonadi-Identifier=akonadi_mailfilter_agent
