[Desktop Entry]
Name=Akonadi Nepomuk Feeder

Type=AkonadiAgent
Exec=akonadi_nepomuk_feeder
Icon=nepomuk

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_nepomuk_feeder
