[Desktop Entry]
Name=Akonadi Nepomuk Feeder
Name[nl]=Akonadi Nepumuk-feeder
Name[pt]=Fontes do Nepomuk para o Akonadi
Name[sv]=Akonadi-inmatning till Nepomuk
Name[uk]=Передавач даних Akonadi Nepomuk
Name[x-test]=xxAkonadi Nepomuk Feederxx

Type=AkonadiAgent
Exec=akonadi_nepomuk_feeder
Icon=nepomuk

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_nepomuk_feeder
