[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=AkonadiNepomukFeeder
Name=Akonadi NepomukFeeder Plugin
Name[ca]=Connector de l'alimentador Nepomuk per l'Akonadi
Name[da]=Akonadi NepomukFeeder-plugin
Name[de]=Nepomuk-Zusatzmodul für Akonadi
Name[el]=Πρόσθετο τροφοδότη Nepomuk του Akonadi
Name[es]=Complemento de proveedor Akonadi de Nepomuk
Name[et]=Akonadi Nepomuki sööturi plugin
Name[ga]=Breiseán NepomukFeeder Akonadi
Name[hu]=Akonadi Nepomuk feltöltő bővítmény
Name[ia]=Plug-in de syndication de Akonadi Nepomuk
Name[it]=Estensione fornitore Akonadi per Nepomuk
Name[kk]=Akonadi Nepomuk бергіш плагині
Name[km]=កម្មវិធី​ជំនួយ​របស់ Akonadi NepomukFeeder
Name[lt]=Akonadi NepomukFeeder įskiepis
Name[nb]=Akonadi programtillegg NepomukFeeder
Name[nds]=Nepomuk-Ingaavmoduul för Akonadi
Name[nl]=Akonadi NepomukFeeder-plug-in
Name[pt]='Plugin' de Fontes do Nepomuk para o Akonadi
Name[pt_BR]=Plug-in do alimentador do Nepomuk para o Akonadi
Name[sv]=Akonadi insticksprogram för inmatning till Nepomuk
Name[uk]=Додаток передавання даних Akonadi Nepomuk
Name[x-test]=xxAkonadi NepomukFeeder Pluginxx
Name[zh_CN]=Akonadi Nepomuk 采集器插件
Name[zh_TW]=Akonadi NepomukFeeder 外掛程式
