[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=AkonadiNepomukFeeder
Name=Akonadi NepomukFeeder Plugin
Name[lt]=Akonadi NepomukFeeder įskiepis
Name[nb]=Akonadi programtillegg NepomukFeeder
Name[nl]=Akonadi NepomukFeeder-plug-in
Name[pt]='Plugin' de Fontes do Nepomuk para o Akonadi
Name[pt_BR]=Plug-in do alimentador do Nepomuk para o Akonadi
Name[sv]=Akonadi insticksprogram för inmatning till Nepomuk
Name[uk]=Додаток передавання даних Akonadi Nepomuk
Name[x-test]=xxAkonadi NepomukFeeder Pluginxx
