[Desktop Entry]
Name=Akonadi Nepomuk Feeder
Name[ca]=Alimentador del Nepomuk per a l'Akonadi
Name[de]=Akonadi-Modul für Nepomuk
Name[el]=Τροφοδότης Nepomuk του Akonadi
Name[es]=Proveedor de datos de Nepomuk para Akonadi
Name[et]=Akonadi Nepomuki söötur
Name[fr]=Connecteur Nepomuk pour Akonadi
Name[ga]=Fothaire Akonadi Nepomuk
Name[it]=Feeder Nepomuk per Akonadi
Name[ja]=Akonadi Nepomuk フィーダー
Name[km]=កម្មវិធី​មតិព័ត៌មាន​របស់ Akonadi Nepomuk
Name[lv]=Akonadi Nepomuk padevējs
Name[nb]=Akonadi-sender til Nepomuk
Name[nds]=Akonadi-Nepomuk-Ingaav
Name[nl]=Akonadi Nepumuk-toevoer
Name[pl]=Obsługa Nepomuka w Akonadi
Name[pt]=Alimentação do Nepomuk para o Akonadi
Name[pt_BR]=Alimentador do Nepomuk para o Akonadi
Name[sv]=Akonadi inmatning till Nepomuk
Name[tr]=Akonadi Nepomuk Besleyici
Name[x-test]=xxAkonadi Nepomuk Feederxx
Name[zh_CN]=Akonadi Nepomuk 采集器
Comment=Email specific extension to Akonadi
Comment[ca]=Extensió específica de correu per a l'Akonadi
Comment[de]=E-Mail-Erweiterung für Akonadi
Comment[el]=Επέκταση σχετική με Email για το Akonadi
Comment[es]=Extensión específica de correo electrónico para Akonadi
Comment[et]=Akonadi e-posti põhine laiend
Comment[fi]=Sähköpostilaajennus Akonadiin
Comment[fr]=Extension messagerie spécifique pour Akonadi
Comment[ga]=Eisínteacht Akonadi sainiúil don ríomhphost
Comment[it]=Estensione specifica di Akonadi per la posta elettronica
Comment[ja]=Akonadi のメール専用エクステンション
Comment[km]=ផ្នែកបន្ថែម​ជាក់លាក់​របស់​អ៊ីមែល​ទៅ Akonadi
Comment[lv]=Akonadi e-pasta paplašinājums
Comment[nb]=E-postspesifikk utvidelse til Akonadi
Comment[nds]=Nettpostverwiedern för Akonadi
Comment[ne]=एकोनाडीलाई इमेल विशिष्ट विस्तार
Comment[nl]=E-mailspecifieke extensie voor Akonadi
Comment[pl]=Rozszerzenie Akonadi dla poczty elektronicznej
Comment[pt]=Uma extensão específica do e-mail para o Akonadi
Comment[pt_BR]=Extensão específica do e-mail para o Akonadi
Comment[sv]=E-postspecifik utökning för Akonadi
Comment[tr]=Akonadi için e-postaya özel uzantı
Comment[uk]=Розширення ел. пошти для Akonadi
Comment[x-test]=xxEmail specific extension to Akonadixx
Comment[zh_CN]=Akonadi 的电子邮件规范扩展
Comment[zh_TW]=Akonadi 的電子郵件指定延伸
Type=AkonadiAgent
Exec=akonadi_nepomuk_feeder

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Capabilities=
X-Akonadi-Identifier=akonadi_nepomuk_feeder
