[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Nepomuk Feeder
Name[ca]=Alimentador del Nepomuk per a l'Akonadi
Name[el]=Τροφοδότης Nepomuk του Akonadi
Name[es]=Proveedor de datos de Nepomuk para Akonadi
Name[ja]=Akonadi Nepomuk フィーダー
Name[pt]=Alimentação do Nepomuk para o Akonadi
Name[pt_BR]=Alimentação do Nepomuk para o Akonadi
Name[sv]=Akonadi inmatning till Nepomuk
Name[x-test]=xxAkonadi Nepomuk Feederxx
Name[zh_CN]=Akonadi Nepomuk 采集器
Comment=Email specific extension to Akonadi
Comment[ca]=Extensió específica de correu per a l'Akonadi
Comment[de]=Eine besondere E-Mail-Erweiterung für Akonadi
Comment[el]=Επέκταση σχετική με Email για το Akonadi
Comment[es]=Extensión específica de correo electrónico para Akonadi
Comment[it]=Estensione specifica di Akonadi per la posta elettronica
Comment[ja]=Akonadi のメール専用エクステンション
Comment[ne]=एकोनाडीलाई इमेल विशिष्ट विस्तार
Comment[pt]=Uma extensão específica do e-mail para o Akonadi
Comment[pt_BR]=Uma extensão específica do e-mail para o Akonadi
Comment[sv]=E-postspecifik utökning för Akonadi
Comment[x-test]=xxEmail specific extension to Akonadixx
Comment[zh_CN]=Akonadi 的电子邮件规范扩展
Comment[zh_TW]=Akonadi 的電子郵件指定延伸
Type=AkonadiAgent
Exec=akonadi_nepomuk_feeder

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Capabilities=Autostart
X-Akonadi-Identifier=akonadi_nepomuk_feeder
