[Desktop Entry]
Name=EteSync Groupware Resource
Comment=Access your encrypted EteSync Calendars, Contacts and Tasks from KDE
Type=AkonadiResource
Exec=akonadi_etesync_resource
Icon=akonadi-etesync

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_etesync_resource
