[Desktop Entry]
Exec=kcmshell4 kcm_akonadi
Icon=akonadi
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_akonadi
X-KDE-FactoryName=kcm_akonadi
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kcontrol
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=
X-KDE-System-Settings-Parent-Category=advanced-user-settings

Name=Akonadi configuration
Name[el]=Ρυθμίσεις του Akonadi
Name[fr]=Configuration d'Akonadi
Name[ja]=Akonadi の設定
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីនបម្រើ Akonadi
Name[nb]=Akonadi-oppsett
Name[nds]=Akonadi-Instellen
Name[pt]=Configuração do Akonadi
Name[pt_BR]=Configuração do Akonadi
Name[sv]=Akonadi-serverinställning
Name[tr]=Akonadi yapılandırması
Name[uk]=Налаштування Akonadi
Name[x-test]=xxAkonadi configurationxx
Name[zh_TW]=Akonadi 設定
Comment=Configuration of the Akonadi Personal Information Management framework
Comment[el]=Ρύθμιση του διαχειριστή προσωπικών πληροφοριών του Akonadi
Comment[fr]=Configuration du gestionnaire d'informations personnelles Akonadi
Comment[gl]=Configuración da framework do Xestor de Información Persoal de Akonadi
Comment[ja]=Akonadi PIM (個人情報管理) フレームワークの設定
Comment[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​គម្រោងការ​ការ​គ្រប់គ្រង​ព័ត៌មាន​ផ្ទាល់ខ្លួន Akonadi
Comment[nb]=Sette opp rammeverket for Akonadi personlig informasjonsbehandler
Comment[nds]=Den Pleger för persöönliche Informatschonen Akonadi instellen
Comment[nn]=Oppsett av Akonadi-rammeverket for handtering av personleg informasjon
Comment[pt]=Configuração da plataforma de Gestão de Informação Pessoal do Akonadi
Comment[pt_BR]=Configuração da plataforma do Gerenciador de Informações Pessoais do Akonadi
Comment[sv]=Inställning av Akonadi: Ramverk för personlig informationshantering
Comment[tr]=Akonadi Kişisel Bilgi Yönetimi çalışma ortamının yapılandırması
Comment[uk]=Налаштування оболонки керування особистою інформацією Akonadi
Comment[x-test]=xxConfiguration of the Akonadi Personal Information Management frameworkxx
Comment[zh_TW]=Akonadi 個人資訊管理者架構的設定
