[Desktop Entry]
Encoding=UTF-8
Icon=network
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_rfc822
X-KDE-FactoryName=kcm_rfc822
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=

Name=RFC822 Akonadi Resources Configuration
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ធនធាន RFC822 Akonadi
Name[zh_TW]=RFC822 Akonadi 資源設定
