[Desktop Entry]
Exec=kcmshell5 kcm_akonadi_resources
Icon=akonadi
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_akonadi_resources
X-KDE-FactoryName=kcm_akonadi_resources
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kcontrol
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=
X-KDE-System-Settings-Parent-Category=connectivity
X-KDE-Weight=40

Name=PIM Accounts and Resources
Name[ca]=Comptes i recursos del PIM
Name[de]=PIM-Zugänge und Ressourcen
Name[el]=Λογαριασμοί και πόροι PIM
Name[en_GB]=PIM Accounts and Resources
Name[es]=Cuentas y recursos PIM
Name[fi]=PIM-tilit ja resurssit
Name[fr]=Comptes et ressources PIM
Name[gl]=Contas e recursos PIM
Name[hu]=PIM fiókok és erőforrások
Name[it]=Account e risorse di PIM
Name[ko]=PIM 계정과 자원
Name[nb]=PIM-kontoer og ressurser
Name[nds]=PIM-Kontos un -Ressourcen
Name[nl]=PIM-accounts en hulpbronnen
Name[pl]=Konta i zasoby ZIO
Name[pt]=Contas e Recursos de PIM
Name[pt_BR]=Contas e Recursos de PIM
Name[ru]=Личные данные
Name[sk]=Účty a zdroje PIM
Name[sl]=Računi in viri PIM
Name[sr]=ПИМ налози и ресурси
Name[sr@ijekavian]=ПИМ налози и ресурси
Name[sr@ijekavianlatin]=PIM nalozi i resursi
Name[sr@latin]=PIM nalozi i resursi
Name[sv]=Konton och resurser för personlig informationshantering
Name[tr]=PIM Hesapları ve Kaynaklar
Name[uk]=Облікові записи та ресурси особистих даних
Name[x-test]=xxPIM Accounts and Resourcesxx
Name[zh_CN]=个人信息账户和资源
Name[zh_TW]=個人資訊管理帳號與資源
Comment=Personal Information Management Resources (Akonadi)
Comment[ca]=Recursos per a la gestió de la informació personal (Akonadi)
Comment[de]=Akonadi-Ressourcen für Persönliches Informationsmanagement
Comment[el]=Πόροι διαχειριστή προσωπικών πληροφοριών (Akonadi)
Comment[en_GB]=Personal Information Management Resources (Akonadi)
Comment[es]=Recursos de gestión de información personal (Akonadi)
Comment[fi]=Henkilökohtaisten tietojen hallinnan resurssit (Akonadi)
Comment[fr]=Gestion des ressources d'informations personnelles (Akonadi)
Comment[gl]=Recursos PIM (Akonadi)
Comment[hu]=Személyes információkezelő erőforrásai (Akonadi)
Comment[it]=Risorse della gestione informazioni personali (Akonadi)
Comment[ko]=개인 정보 관리 자원(Akonadi)
Comment[nb]=Ressurser for behandling av personlige opplysninger (Akonadi)
Comment[nds]=Persöönlich-Informatschonenpleeg-Ressourcen (Akonadi)
Comment[nl]=Hulpmiddelen voor de beheerder van persoonlijke informatie (Akonadi)
Comment[pl]=Zasoby zarządzania informacjami osobistymi (Akonadi)
Comment[pt]=Recursos de Gestão de Informações Pessoais (Akonadi)
Comment[pt_BR]=Recursos do Gerenciador de Informações Pessoais (Akonadi)
Comment[ru]=Настройка источников данных для электронного секретаря (Akonadi)
Comment[sk]=Zdroje správy osobných informácií (Akonadi)
Comment[sl]=Viri za upravljanje z osebnimi podatki (Akonadi)
Comment[sr]=Ресурси управљања личним подацима (Аконади)
Comment[sr@ijekavian]=Ресурси управљања личним подацима (Аконади)
Comment[sr@ijekavianlatin]=Resursi upravljanja ličnim podacima (Akonadi)
Comment[sr@latin]=Resursi upravljanja ličnim podacima (Akonadi)
Comment[sv]=Resurser för personlig informationshantering (Akonadi)
Comment[tr]=Kişisel Bilgi Yöneticisi Kaynakları (Akonadi)
Comment[uk]=Ресурси керування особистими даними (Akonadi)
Comment[x-test]=xxPersonal Information Management Resources (Akonadi)xx
Comment[zh_CN]=个人信息管理器资源 (Akonadi)
Comment[zh_TW]=個人資訊管理資源（Akonadi）
