[Desktop Entry]
Icon=akonadi
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_akonadi_server
X-KDE-FactoryName=kcm_akonadi_server
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=

Name=Akonadi Server Configuration
Name[ca]=Configuració del servidor de l'Akonadi
Name[cs]=Nastavení serveru Akonadi
Name[da]=Konfiguration af Akonadi-server
Name[de]=Einrichtung des Akonadi-Servers
Name[el]=Ρυθμίσεις εξυπηρετητή του Akonadi
Name[es]=Configuración del servidor Akonadi
Name[et]=Akonadi serveri seadistused
Name[fr]=Configuration du serveur Akonadi
Name[ga]=Cumraíocht Fhreastalaí Akonadi
Name[gl]=Configuración do Servidor Akonadi 
Name[it]=Configurazione del server Akonadi
Name[ja]=Akonadi サーバの設定
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីនបម្រើ Akonadi
Name[ko]=Akonadi 서버 설정
Name[lt]=Akonadi serverio konfigūravimas
Name[lv]=Akonadi servera konfigurācija
Name[nb]=Akonadi tjeneroppsett
Name[nds]=Akonadi-Serverinstellen
Name[nl]=Akonadi-serverconfiguratie
Name[nn]=Akonadi-tenaroppsett
Name[pa]=ਅਕੌਂਡੀ ਸਰਵਰ ਸੰਰਚਨਾ
Name[pl]=Konfiguracja serwera Akonadi
Name[pt]=Configuração do Servidor de Akonadi
Name[pt_BR]=Configuração do servidor do Akonadi
Name[ro]=Configurare server Akonadi
Name[sl]=Nastavitev strežnika Akonadi
Name[sv]=Akonadi-serverinställning
Name[tr]=Akonadi Sunucu Yapılandırması
Name[uk]=Налаштування сервера Akonadi
Name[x-test]=xxAkonadi Server Configurationxx
Name[zh_CN]=Akonadi 服务器配置
Name[zh_TW]=Akonadi 伺服器設定
