[Desktop Entry]
Exec=kcmshell5 kcm_akonadi_resources
Icon=akonadi
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_akonadi_resources
X-KDE-FactoryName=kcm_akonadi_resources
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=kcontrol
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=
X-KDE-System-Settings-Parent-Category=connectivity
X-KDE-Weight=40

Name=PIM Accounts and Resources
Name[ca]=Comptes i recursos del PIM
Name[en_GB]=PIM Accounts and Resources
Name[fi]=PIM-tilit ja resurssit
Name[nds]=PIM-Kontos un -Ressourcen
Name[nl]=PIM-accounts en hulpbronnen
Name[pl]=Konta i zasoby ZIO
Name[pt]=Contas e Recursos de PIM
Name[pt_BR]=Contas e Recursos de PIM
Name[sk]=Účty a zdroje PIM
Name[sr]=ПИМ налози и ресурси
Name[sr@ijekavian]=ПИМ налози и ресурси
Name[sr@ijekavianlatin]=PIM nalozi i resursi
Name[sr@latin]=PIM nalozi i resursi
Name[sv]=Konton och resurser för personlig informationshantering
Name[uk]=Облікові записи та ресурси особистих даних
Name[x-test]=xxPIM Accounts and Resourcesxx
Comment=Personal Information Management Resources (Akonadi)
Comment[ca]=Recursos per a la gestió de la informació personal (Akonadi)
Comment[en_GB]=Personal Information Management Resources (Akonadi)
Comment[fi]=Henkilökohtaisten tietojen hallinnan resurssit (Akonadi)
Comment[nds]=Persöönlich-Informatschonenpleeg-Ressourcen (Akonadi)
Comment[nl]=Hulpmiddelen voor de beheerder van persoonlijke informatie (Akonadi)
Comment[pl]=Zasoby zarządzania informacjami osobistymi (Akonadi)
Comment[pt]=Recursos de Gestão de Informações Pessoais (Akonadi)
Comment[pt_BR]=Recursos do Gerenciador de Informações Pessoais (Akonadi)
Comment[sk]=Zdroje správy osobných informácií (Akonadi)
Comment[sr]=Ресурси управљања личним подацима (Аконади)
Comment[sr@ijekavian]=Ресурси управљања личним подацима (Аконади)
Comment[sr@ijekavianlatin]=Resursi upravljanja ličnim podacima (Akonadi)
Comment[sr@latin]=Resursi upravljanja ličnim podacima (Akonadi)
Comment[sv]=Resurser för personlig informationshantering (Akonadi)
Comment[uk]=Ресурси керування особистими даними (Akonadi)
Comment[x-test]=xxPersonal Information Management Resources (Akonadi)xx
