[Desktop Entry]
Encoding=UTF-8
Icon=network
Type=Service
ServiceTypes=KCModule

X-KDE-ModuleType=Library
X-KDE-Library=kcm_akonadi_resources
X-KDE-FactoryName=kcm_akonadi_resources
X-KDE-HasReadOnlyMode=false
X-KDE-ParentApp=
X-KDE-ParentComponents=
X-KDE-CfgDlgHierarchy=

Name=Akonadi Resources Configuration
Name[ga]=Cumraíocht Acmhainní Akonadi
Name[ja]=Akonadi リソースの設定
Name[km]=ការ​កំណត់​រចនាសម្ព័ន្ធ​ធនធាន Akonadi
Name[pt]=Configuração dos Recursos do Akonadi
Name[pt_BR]=Configuração dos Recursos do Akonadi
Name[zh_TW]=Akonadi 資源設定
