[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Mail Threader Agent
Name[el]=Πράκτορας νηματοποίησης αλληλογραφίας του Akonadi
Name[es]=Agente Mail Theader de Anokadi
Name[it]=Agente Mail Threader Akonadi
Name[ko]=Akonadi 메일 묶기 마법사
Name[ne]=एकोनाडी मेल थ्रेडर अभिकर्ता
Name[pt]=Agente de Tarefas de Correio do Akonadi
Name[pt_BR]=Agente de Tarefas de Correio do Akonadi
Name[sv]=Akonadi e-posttrådningsmodul
Name[x-test]=xxAkonadi Mail Threader Agentxx
Name[zh_CN]=Akonadi 邮件线索化代理
Name[zh_TW]=Akonadi 信件串列代理程式
Comment=An agent to thread mails from a collection
Comment[el]=Ένας πράκτορας νηματοποίησης αλληλογραφίας από μια συλλογή
Comment[es]=Un agente para poner mensajes en hilos de una colección
Comment[it]=Un agente per leggere le email da una collezione
Comment[ko]=모음집에서 메일을 묶는 마법사
Comment[ne]=सङ्कलनबाट मेल थ्रेड गर्नका लागि एउटा अभिकर्ता
Comment[pt]=Um agente para agendar as tarefas de uma colecção
Comment[pt_BR]=Um agente para agendar as tarefas de uma colecção
Comment[sv]=En modul för att tråda e-post från en samling
Comment[x-test]=xxAn agent to thread mails from a collectionxx
Comment[zh_CN]=用于将采集到的邮件按线索整理的代理器
Comment[zh_TW]=將信件串列起來的代理程式
Type=AkonadiAgent
Exec=akonadi_mailthreader_agent

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=text/directory
X-Akonadi-Identifier=akonadi_mailthreader_agent
