[Desktop Entry]
Name=Mail Threader Agent
Name[ca]=Agent de fils de correu de l'Akonadi
Name[da]=Mail Threader-agent
Name[de]=E-Mail-Gruppierungs-Agent
Name[el]=Πράκτορας νηματοποίησης αλληλογραφίας
Name[et]=Kirjalõimede agent
Name[fr]=Agent de regroupement de messages
Name[gl]=Axente de Fí­os de Correo
Name[ja]=メールをスレッド化するエージェント
Name[km]=ភ្នាក់ងារ​ខ្សែស្រឡាយ​សំបុត្រ
Name[ko]=메일 묶기 마법사
Name[lv]=Pasta pavedienu aģents
Name[nb]=Agent for e-posttråding
Name[nds]=Klöönsnackhölper
Name[nl]=E-mail Threader Agent
Name[nn]=Trådordnaragent
Name[pl]=Rozdział na wątki
Name[pt]=Agente de Tarefas de Correio
Name[pt_BR]=Agente de tarefas de correio
Name[ro]=Agent de grupare a mesajelor
Name[sv]=E-posttrådningsmodul
Name[tr]=E-posta Dizme Aracı
Name[uk]=Агент розгалуження пошти
Name[x-test]=xxMail Threader Agentxx
Name[zh_CN]=邮件线索化代理
Name[zh_TW]=信件串列代理程式
Comment=Thread mails in a collection
Comment[ca]=Segueix els fils dels correus en una col·lecció
Comment[da]=En agent til at tråde e-mail fra en samling
Comment[de]=Gruppierung von E-Mails in einer Sammlung
Comment[el]=Νηματοποίηση αλληλογραφίας σε μια συλλογή
Comment[et]=Kirjakogust kirjalõimede loomiseks
Comment[fr]=Des messages regroupés par fil de discussion
Comment[gl]=Ligar o correo por fí­os nunha colección
Comment[ja]=メールをスレッド化します
Comment[km]=ដាក់​សំបុត្រ​ជា​ខ្សែស្រឡាយ​នៅ​ក្នុង​សម្រាំង
Comment[ko]=모음집의 메일 묶기
Comment[lv]=Pavedienos ielādē pastu kolekcijā
Comment[nb]=Lag e-posttråder i en samling
Comment[nds]=Klöönsnacks binnen en Nettpostsammeln
Comment[nl]=Verzamel e-mails in een verzameling
Comment[nn]=Trådordna meldingar i ei samling
Comment[pl]=Grupuje e-maile w kolekcje
Comment[pt]=Agendar mensagens de e-mail numa colecção
Comment[pt_BR]=Agendar as mensagens de uma coleção
Comment[ro]=Grupează mesajele într-o colecție
Comment[sv]=Tråda e-post från en samling
Comment[tr]=E-postaları bir koleksiyon içerisine diz
Comment[uk]=Розгалужує поштові повідомлення зі збірки
Comment[x-test]=xxThread mails in a collectionxx
Comment[zh_CN]=对收藏的邮件进行线索化整理
Comment[zh_TW]=將信件串列起來的代理程式
Type=AkonadiAgent
Exec=akonadi_mailthreader_agent

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Capabilities=Unique
X-Akonadi-Identifier=akonadi_mailthreader_agent
