[Desktop Entry]
Name=Akonadi Mail Threader Agent
Name[ca]=Agent de fils de correu de l'Akonadi
Name[el]=Πράκτορας νηματοποίησης αλληλογραφίας του Akonadi
Name[es]=Agente de hilos de correo de Anokadi
Name[et]=Akonadi kirjalõimede agent
Name[fr]=Agent Akonadi pour les fils de messages
Name[it]=Agente Mail Threader Akonadi
Name[ko]=Akonadi 메일 묶기 마법사
Name[nds]=Akonadi-Klöönsnackhölper
Name[ne]=एकोनाडी मेल थ्रेडर अभिकर्ता
Name[nl]=Akonadi E-Mail Threader Agent
Name[pt]=Agente de Tarefas de Correio do Akonadi
Name[pt_BR]=Agente de Tarefas de Correio do Akonadi
Name[sv]=Akonadi e-posttrådningsmodul
Name[x-test]=xxAkonadi Mail Threader Agentxx
Name[zh_CN]=Akonadi 邮件线索化代理
Name[zh_TW]=Akonadi 信件串列代理程式
Comment=An agent to thread mails from a collection
Comment[ca]=Un agent per a seguir el fil dels correus des d'una col·lecció
Comment[el]=Ένας πράκτορας νηματοποίησης αλληλογραφίας από μια συλλογή
Comment[es]=Un agente para ordenar por hilos una colección de mensajes
Comment[et]=Agent kirjakogust kirjalõimede loomiseks
Comment[fr]=Un agent pour gérer les fils de messages d'une collection
Comment[it]=Un agente per leggere le email da una collezione
Comment[ko]=모음집에서 메일을 묶는 마법사
Comment[nds]=En Hölper för Klöönsnacks binnen en Nettpostsammeln
Comment[ne]=सङ्कलनबाट मेल थ्रेड गर्नका लागि एउटा अभिकर्ता
Comment[nl]=Een agent om e-mailthreads te maken van een verzameling
Comment[pt]=Um agente para agendar as tarefas de uma colecção
Comment[pt_BR]=Um agente para agendar as tarefas de uma colecção
Comment[sv]=En modul för att tråda e-post från en samling
Comment[x-test]=xxAn agent to thread mails from a collectionxx
Comment[zh_CN]=用于将采集到的邮件按线索整理的代理器
Comment[zh_TW]=將信件串列起來的代理程式
Type=AkonadiAgent
Exec=akonadi_mailthreader_agent

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Unique,Autostart
X-Akonadi-Identifier=akonadi_mailthreader_agent
