# SPDX-FileCopyrightText: 2026 Malte Zilinski <malte@zilinski.eu>
# SPDX-License-Identifier: LGPL-2.0-or-later
[Desktop Entry]
Name=Microsoft 365 (Graph) Mail Transport
Name[ar]=نقل البريد لخادم  Microsoft 365 (Graph)
Name[ca]=Transport de correu de Microsoft 365 (Graph)
Name[ca@valencia]=Transport de correu de Microsoft 365 (Graph)
Name[cs]=Přenos pošty v Microsoft 365 (Graph)
Name[es]=Transporte de correo Microsoft 365 (Graph)
Name[fr]=Transport de courriels de Microsoft 365 (Graph)
Name[he]=תעבורת דואר עם Microsoft 365 (Graph)
Name[ka]=Microsoft 365 (Graph)-ის ფოტის ტრანსპორტი
Name[nl]=Microsoft 365 (Graph) e-mailtransport
Name[pt_BR]=Transporte de mensagens do Microsoft 365 (Graph)
Name[sl]=Prenos pošte Microsoft 365 (Graph)
Name[sv]=Microsoft 365 (Graph) brevöverföring
Name[tr]=Microsoft 365 (Graph) Mail Taşıması
Name[uk]=Транспортування пошти за допомогою Microsoft 365 (Graph)
Name[zh_CN]=Microsoft 365 (Graph) 邮件传输
Comment=Sends mail through a Microsoft 365 / Exchange Online account using the Microsoft Graph API
Comment[ar]=يرسل البريد عبر حساب Microsoft 365 / Exchange Online باستخدام واجهة برمجة تطبيقات Microsoft Graph
Comment[ca]=Envia correu mitjançant un compte de Microsoft 365 / Exchange Online fent servir l'API de Microsoft Graph
Comment[ca@valencia]=Envia correu mitjançant un compte de Microsoft 365 / Exchange Online fent servir l'API de Microsoft Graph
Comment[cs]=Odesílá e-maily prostřednictvím účtu Microsoft 365 / Exchange Online s využitím rozhraní API Microsoft Graph
Comment[es]=Envía correo a través de una cuenta Microsoft 365 o Exchange Online usando la API de Microsoft Graph.
Comment[fr]=Envoie un courriel grâce à un compte « Microsoft 365 / Exchange Online » à l'aide de l'API de « Microsoft Graph »
Comment[he]=שליחת דוא״ל דרך חשבון Microsoft 365 / Exchange Online דרך ה־API של Microsoft Graph
Comment[ka]=აგზავნის ფოსტას Microsoft 365 / Exchange-ის ანგარიშით Microsoft Graph API-ის გამოყენებით
Comment[nl]=Verstuurt e-mail via een Microsoft 365- of Exchange Online-account met behulp van de Microsoft Graph API.
Comment[pt_BR]=Envia e-mail por meio de uma conta do Microsoft 365 / Exchange Online usando a API do Microsoft Graph
Comment[sl]=Pošilja pošto prek računa Microsoft 365 / Exchange Online z uporabo Microsoft Graph API-ja
Comment[sv]=Skickar e-post via ett Microsoft 365/Exchange nätkonto med hjälp av programmeringsgränssnittet Microsoft Graph
Comment[tr]=Microsoft Graph API’sini kullanarak Microsoft 365/Exchange Online hesabı ile posta gönderin
Comment[uk]=Надсилає пошуку через обліковий запис Microsoft 365 / Exchange Online за допомогою програмного інтерфейсу Microsoft Graph
Comment[zh_CN]=使用 Microsoft Graph API 通过 Microsoft 365 / Exchange Online 账户发送邮件
Type=AkonadiResource
Exec=akonadi_graphmta_resource
Icon=akonadi-graph

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=NeedsNetwork,MailTransport
X-Akonadi-Identifier=akonadi_graphmta_resource
