[Desktop Entry]
Name=Google Reader
Name[x-test]=xxGoogle Readerxx
Comment=Access your feeds on Google Reader from KDE
Comment[x-test]=xxAccess your feeds on Google Reader from KDExx

Type=AkonadiResource
Exec=akonadi_googlereader_resource

X-Akonadi-MimeTypes=application/rss+xml
X-Akonadi-Capabilities=Resource,RssResource
X-Akonadi-Identifier=akonadi_googlereader_resource
Icon=im-google