[Desktop Entry]
MimeType=text/x-vnd.akonadi.note;
Type=Service
X-KDE-ServiceTypes=AkonadiNepomukFeeder
X-KDE-Library=akonadi_nepomuk_note_feeder
X-KDE-ClassName=Akonadi::NepomukNoteFeeder
Name=Nepomuk Note Feeder
Name[nb]=Notatsender til Nepomuk
Name[nl]=Nepomuk Note-feeder
Name[pt]=Fontes de Notas do Nepomuk
Name[pt_BR]=Alimentador de notas para o Nepomuk
Name[sv]=Anteckningsinmatning till Nepomuk
Name[uk]=Передавач нотаток Nepomuk
Name[x-test]=xxNepomuk Note Feederxx
