[Desktop Entry]
MimeType=message/rfc822;message/news;
Type=Service
X-KDE-ServiceTypes=AkonadiNepomukFeeder
X-KDE-Library=akonadi_nepomuk_email_feeder
X-KDE-ClassName=Akonadi::NepomukMailFeeder
Name=Nepomuk Mail Feeder
Name[ia]=Syndication de posta de Nepomuk
Name[nds]=Nepomuk-Nettpostingaav
Name[nl]=Nepumuk e-mail-feeder
Name[pt]=Alimentação do Correio para o Nepomuk
Name[pt_BR]=Alimentador de e-mails para o Nepomuk
Name[sv]=E-postinmatning till Nepomuk
Name[uk]=Передавач пошти Nepomuk
Name[x-test]=xxNepomuk Mail Feederxx
Name[zh_TW]=Nepomuk Mail Feeder
