[Desktop Entry]
MimeType=application/rss+xml;
Type=Service
X-KDE-ServiceTypes=AkonadiNepomukFeeder
X-KDE-Library=akonadi_nepomuk_rss_feeder
X-KDE-ClassName=Akonadi::NepomukRSSFeeder
Name=Nepomuk RSS Feeder
Name[x-test]=xxNepomuk RSS Feederxx
