[Desktop Entry]
Name=POP3 E-Mail Server
Name[en_GB]=POP3 E-Mail Server
Name[es]=Servidor de correo POP-3
Name[nb]=POP3 E-post-tjener
Name[pt]=Servidor de E-Mail POP3
Name[pt_BR]=Servidor de e-mails POP3
Name[sv]=POP3 e-postserver
Name[uk]=Сервер пошти POP3
Name[x-test]=xxPOP3 E-Mail Serverxx
Comment=Connects to a POP3 e-mail server
Comment[en_GB]=Connects to a POP3 e-mail server
Comment[es]=Conecta a un servidor de correo POP-3
Comment[nb]=Kobler til en POP3 e-posttjener.
Comment[pt]=Liga-se a um servidor de e-mail em POP3
Comment[pt_BR]=Conecta a um servidor de e-mails POP3
Comment[sv]=Ansluter till en POP3 e-postserver.
Comment[uk]=Встановлює з’єднання з поштовим сервером POP3.
Comment[x-test]=xxConnects to a POP3 e-mail serverxx
Type=AkonadiResource
Exec=akonadi_pop3_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_pop3_resource
