[Desktop Entry]
Name=ICal Calendar Folder
Comment=Provides access to calendar items, each stored in a single file, in a given directory

Type=AkonadiResource
Exec=akonadi_icaldir_resource
Icon=text-calendar

X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.calendar.todo,application/x-vnd.akonadi.calendar.journal,application/x-vnd.akonadi.calendar.freebusy
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_icaldir_resource
