[Desktop Entry]
Name=ICal Calendar Folder
Name[bs]=ICal kalendarska datoteka
Name[ca]=Carpeta de calendari ICal
Name[ca@valencia]=Carpeta de calendari ICal
Name[cs]=Složka iCal kalendáře
Name[da]=iCal-kalendermappe
Name[de]=ICal-Kalenderordner
Name[el]=Φάκελος ημερολογίου ICal
Name[es]=Carpeta de calendario ICal
Name[et]=ICali kalendrikataloog
Name[fi]=iCal-kalenterikansio
Name[fr]=Dossier d'agendas au format « ICal »
Name[ga]=Fillteán Féilire ICal
Name[gl]=Cartafol de calendario iCal
Name[hu]=ICal naptármappa
Name[ia]=Dossier de calendario iCal
Name[it]=Cartella di calendario iCal
Name[kk]=ICal күнтізбе қапшығы
Name[ko]=ICal 달력 폴더
Name[nb]=ICal kalendermappe
Name[nl]=ICal-agendamap
Name[pl]=Folder kalendarza ICal
Name[pt]=Pasta de Calendários ICal
Name[pt_BR]=Pasta de calendário ICal
Name[ru]=Каталог календаря iCal
Name[sk]=Priečinok kalendára iCal
Name[sl]=Koledarska mapa iCal
Name[sr]=И‑календарски фасцикла
Name[sr@ijekavian]=И‑календарски фасцикла
Name[sr@ijekavianlatin]=I‑kalendarski fascikla
Name[sr@latin]=I‑kalendarski fascikla
Name[sv]=ICal-kalenderkatalog
Name[tr]=ICal Takvim Klasörü
Name[uk]=Тека календаря ICal
Name[x-test]=xxICal Calendar Folderxx
Name[zh_CN]=ICal 日历文件夹
Name[zh_TW]=ICal 行事曆資料夾
Comment="Provides access to calendar items, each stored in a single file, in a given directory"
Comment[cs]="Poskytuje přístup k položkám kalendáře, každé uložené v jednom souboru v daném adresáři"
Comment[de]=Ermöglicht Zugriff auf Kalender, die jeweils in einzelnen Dateien in einem vorgegebenen Ordner gespeichert sind
Comment[es]=«Proporciona acceso a elementos de calendario, cada uno almacenado en un solo archivo, en un directorio dado»
Comment[fi]=”Tarjoaa pääsyn määräkansion yksittäisiin tiedostoihin tallennettuihin kalenterimerkintöihin”
Comment[kk]="Көрсетілген қапшықта, бөлек файлдарда сақталған күнтізбенің жазуларына қатынау мүмкіндігін береді"
Comment[nl]="Geeft toegang tot agenda-items, elk opgeslagen in een enkel bestand in een opgegeven map"
Comment[pt]=Oferece o acesso aos itens do calendário, estando cada um guardado num único ficheiro de uma dada pasta
Comment[pt_BR]="Fornece acesso aos itens do calendário, cada um armazenado em um único arquivo na pasta indicada"
Comment[sk]="Poskytuje prístup do položiek kalendára, každá uložená v jednom súbore v danom adresári"
Comment[sv]="Ger tillgång till kalenderobjekt, vart och ett lagrat i en enda fil i en angiven katalog"
Comment[uk]="Надає доступ до записів календаря, кожен з яких зберігається у окремому файлі у вказаному каталозі"
Comment[x-test]=xx"Provides access to calendar items, each stored in a single file, in a given directory"xx

Type=AkonadiResource
Exec=akonadi_icaldir_resource
Icon=text-calendar

X-Akonadi-MimeTypes=application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.calendar.todo,application/x-vnd.akonadi.calendar.journal,application/x-vnd.akonadi.calendar.freebusy
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_icaldir_resource
