[Desktop Entry]
Name=MailBox
Name[ca]=Bústia
Name[ca@valencia]=Bústia
Name[cs]=Poštovní schránka
Name[da]=MailBox
Name[de]=MailBox
Name[en_GB]=MailBox
Name[es]=MailBox
Name[et]=MailBox
Name[fr]=Messagerie
Name[ga]=MailBox
Name[gl]=Caixa de correo
Name[it]=MailBox
Name[kk]=MailBox
Name[km]=MailBox
Name[nb]=Postkasse
Name[nds]=Postfach
Name[nl]=MailBox
Name[nn]=MailBox
Name[pa]=MailBox
Name[pt]=Caixa de Correio
Name[pt_BR]=MailBox
Name[sv]=Mailbox
Name[uk]=MailBox
Name[x-test]=xxMailBoxxx
Name[zh_CN]=MailBox
Name[zh_TW]=信箱格式（Mailbox）
Icon=message-rfc822
Comment=Mailbox account
Comment[ca]=Compte de bústia
Comment[ca@valencia]=Compte de bústia
Comment[da]=Mailbox-konto
Comment[de]=Mailbox-Zugang
Comment[en_GB]=Mailbox account
Comment[es]=Cuenta de Mailbox
Comment[et]=Mailbox-konto
Comment[fr]=Compte de messagerie
Comment[ga]=Cuntas MailBox
Comment[gl]=Conta da caixa de correo
Comment[it]=Account Mailbox
Comment[kk]=Mailbox тірккелгісі
Comment[km]=គណនី Mailbox
Comment[nb]=Mailbox-konto
Comment[nds]=Nettpostkonto
Comment[nl]=Mailbox-account
Comment[nn]=MailBox-konto
Comment[pa]=Maildir ਅਕਾਊਂਟ
Comment[pt]=Conta de Caixa do Correio
Comment[pt_BR]=Conta Mailbox
Comment[sv]=Mailbox-konto
Comment[uk]=Обліковий запис Mailbox
Comment[x-test]=xxMailbox accountxx
Comment[zh_CN]=MailBox 账户
Comment[zh_TW]=Mailbox 帳號

[Wizard]
Type=message/rfc822
Script=mailboxwizard.js

[Translate]
Filename=accountwizard_mailbox
