[Desktop Entry]
Name=Mailody Imap
Name[gl]=Imap de Mailody
Name[nds]=Mailody-Imap
Name[pt]=IMAP do Mailody
Name[pt_BR]=IMAP do Mailody
Name[sv]=Mailody IMAP
Comment=Connects to an IMAP-server. Based on the IMAP-library from Mailody.
Comment[el]=Σύνδεση με έναν διακομηστή IMAP.  Βασισμένο στη βιβλιοθήκη IMAP του Mailody.
Comment[gl]=Conecta cun servidor de IMAP. Baseado na biblioteca de IMAP do Mailody.
Comment[nds]=Koppelt na en IMAP-Server to. Buut op Mailody sien IMAP-Bibliotheek op.
Comment[pt]=Liga-se a um servidor de IMAP. Baseia-se na biblioteca de IMAP do Mailody.
Comment[pt_BR]=Conecta a um servidor IMAP. Baseado na biblioteca de IMAP do Mailody.
Comment[sv]=Ansluter till en IMAP-server. Baserad på IMAP-biblioteket från Mailody.
Comment[uk]=З’єднується з сервером IMAP. Засновано на бібліотеці IMAP з Mailody.
Comment[zh_TW]=連到 IMAP 伺服器。基於從 Mailody 而來的 IMAP 函式庫。
Type=AkonadiResource
Exec=akonadi_imaplib_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_imaplib_resource
