[Desktop Entry]
Name=Mailody Imap
Comment=Connects to an IMAP-server. Based on the IMAP-library from Mailody.
Type=AkonadiResource
Exec=akonadi_imaplib_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_imaplib_resource
