[Desktop Entry]
Name=Mailody Imap
Name[fr]=Imap Mailody
Name[ga]=IMAP Mailody
Name[gl]=Imap de Mailody
Name[ja]=Mailody IMAP
Name[ko]=Mailody IMAP
Name[nds]=Mailody-Imap
Name[nl]=Mailody-imap
Name[nn]=Mailody-IMAP
Name[pt]=IMAP do Mailody
Name[pt_BR]=IMAP do Mailody
Name[ro]=Imap Mailody
Name[sl]=Mailody IMAP
Name[sv]=Mailody IMAP
Name[x-test]=xxMailody Imapxx
Name[zh_CN]=Mailody IMAP
Comment=Connects to an IMAP-server. Based on the IMAP-library from Mailody.
Comment[ca]=Connecta a un servidor IMAP. Basat en la biblioteca IMAP del Mailody.
Comment[da]=Forbinder til en IMAP-server. Baseret på Mailodys IMAP-bibliotek.
Comment[de]=Verbindet zu einem IMAP-Server. Basiert auf der IMAP-Bibliothek von Mailody.
Comment[el]=Σύνδεση με έναν διακομηστή IMAP.  Βασισμένο στη βιβλιοθήκη IMAP του Mailody.
Comment[es]=Conecta con un servidor IMAP. Basado en la biblioteca IMAP de Mailody
Comment[et]=Ühendumine IMAP-serveriga. Tugineb Mailody IMAP-teegile.
Comment[fr]=Connexion à un serveur IMAP en utilisant la librairie IMAP de Mailody.
Comment[ga]=Breiseán a bhunaíonn ceangal le freastalaí IMAP.  Bunaithe ar leabharlann IMAP ó Mailody.
Comment[gl]=Conecta cun servidor de IMAP. Baseado na biblioteca de IMAP do Mailody.
Comment[it]=Si connette ad un server IMAP. Basato sulla libreria IMAP di Mailody.
Comment[ja]=IMAP サーバに接続します。Mailody の IMAP ライブラリに基づいています。
Comment[km]=តភ្ជាប់​ទៅ​ម៉ាស៊ីន​បម្រើ IMAP ។ មាន​មូលដ្ឋាន​លើ​បណ្ណាល័យ IMAP ពី Mailody ។
Comment[ko]=IMAP 서버에 연결합니다. Mailody IMAP 라이브러리를 기반으로 합니다.
Comment[lv]=Pieslēdzas IMAP serverim. Balstīts uz Mailtody IMAP bibliotēku.
Comment[nb]=Kobler til en IMAP-tjener. Basert på IMAP-biblioteket fra Mailody.
Comment[nds]=Koppelt na en IMAP-Server to. Buut op Mailody sien IMAP-Bibliotheek op.
Comment[nl]=Verbindt met een IMAP-server. Gebaseerd op de IMAP-bibliotheek van Mailody.
Comment[nn]=Koplar til ein IMAP-tenar. Basert på IMAP-biblioteket i Mailody.
Comment[pl]=Łączy z serwerem IMAP. Bazuje na bibliotece IMAP z Mailody.
Comment[pt]=Liga-se a um servidor de IMAP. Baseia-se na biblioteca de IMAP do Mailody.
Comment[pt_BR]=Conecta a um servidor IMAP. Baseado na biblioteca de IMAP do Mailody.
Comment[sl]=Se poveže s strežnikom IMAP. Temelji na knjižnici za IMAP iz Mailodya.
Comment[sv]=Ansluter till en IMAP-server. Baserad på IMAP-biblioteket från Mailody.
Comment[tr]=Bir IMAP-sunucuya bağlanır. Mailody IMAP-kitaplığını temel alır.
Comment[uk]=З’єднується з сервером IMAP. Засновано на бібліотеці IMAP з Mailody.
Comment[x-test]=xxConnects to an IMAP-server. Based on the IMAP-library from Mailody.xx
Comment[zh_CN]=连接到一个 IMAP 服务器。基于 Mailody 的 IMAP 类库。
Comment[zh_TW]=連到 IMAP 伺服器。基於從 Mailody 而來的 IMAP 函式庫。
Type=AkonadiResource
Exec=akonadi_imaplib_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_imaplib_resource
