[Desktop Entry]
Name=IMAP E-Mail Server
Name[ca]=Servidor de correu IMAP
Name[ca@valencia]=Servidor de correu IMAP
Name[da]=IMAP e-mail-server
Name[de]=IMAP E-Mail-Server
Name[en_GB]=IMAP E-Mail Server
Name[es]=Servidor de correo IMAP
Name[et]=IMAP e-posti server
Name[fr]=Serveur de courriels IMAP
Name[gl]=Servidor de correo IMAP
Name[it]=Server di posta IMAP
Name[ja]=IMAP メールサーバ
Name[nb]=IMAP E-post-tjener
Name[nds]=IMAP-Nettpostserver
Name[nl]=IMAP e-mailserver
Name[nn]=IMAP e-posttenar
Name[pt]=Servidor de E-Mail IMAP
Name[pt_BR]=Servidor de e-mails IMAP
Name[ro]=Server de poștă IMAP
Name[sl]=Poštni strežnik IMAP
Name[sv]=IMAP e-postserver
Name[tr]=IMAP E-posta Sunucusu
Name[uk]=Сервер пошти IMAP
Name[x-test]=xxIMAP E-Mail Serverxx
Name[zh_CN]=IMAP 邮件服务器
Name[zh_TW]=IMAP 信件伺服器
Comment=Connects to an IMAP e-mail server.
Comment[ca]=Connecta a un servidor de correu IMAP.
Comment[ca@valencia]=Connecta a un servidor de correu IMAP.
Comment[da]=Forbinder til en IMAP e-mail-server.
Comment[de]=Verbindet zu einem IMAP E-Mail-Server.
Comment[en_GB]=Connects to an IMAP e-mail server.
Comment[es]=Conecta a un servidor de correo IMAP.
Comment[et]=Ühendumine IMAP e-posti serveriga.
Comment[fr]=Se connecte à un serveur de courriels IMAP
Comment[gl]=Conéctase a un servidor de correo IMAP.
Comment[ja]=IMAP のメールサーバに接続します。
Comment[nb]=Kobler til en IMAP e-posttjener.
Comment[nds]=Stellt en Verbinnen na en IMAP-Nettpostserver op.
Comment[nn]=Koplar til ein IMAP-basert e-posttenar.
Comment[pt]=Liga-se a um servidor de e-mail em IMAP.
Comment[pt_BR]=Conecta a um servidor de e-mails IMAP.
Comment[ro]=Se conectează la un server de poștă IMAP.
Comment[sl]=Povezava s poštnim strežnikom IMAP.
Comment[sv]=Ansluter till en IMAP e-postserver.
Comment[tr]=Bir IMAP e-posta sunucusuna bağlanır.
Comment[uk]=Встановлює з’єднання з поштовим сервером IMAP.
Comment[x-test]=xxConnects to an IMAP e-mail server.xx
Comment[zh_CN]=连接到一个 IMAP 邮件服务器。
Comment[zh_TW]=連線到 IMAP 伺服器。
Type=AkonadiResource
Exec=akonadi_imap_resource
Icon=network-server

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_imap_resource
