[Desktop Entry]
Type=Application
Name=Emails
Name[ca]=Correus electrònics
Name[ca@valencia]=Correus electrònics
Name[cs]=E-maily
Name[es]=Correos
Name[fr]=Courriels
Name[ia]=Messages de e-posta
Name[it]=Posta elettronica
Name[ka]=ელ.წერილები
Name[ko]=이메일
Name[nl]=E-mailberichten
Name[pl]=Poczta
Name[pt]=E-mails
Name[pt_BR]=E-mails
Name[sl]=Elektronske pošte
Name[sv]=E-post
Name[tr]=E-postalar
Name[uk]=Електронна пошта
Name[x-test]=xxEmailsxx
NoDisplay=true
Exec=akonadi_imap_resource
Icon=kmail
