[Desktop Entry]
Name=Google Calendars and Tasks
Name[ar]=تقاويم ومهامّ «غوغل»
Name[bg]=Календари и задачи в Google
Name[bs]=Google kalendari i zadaće
Name[ca]=Calendaris i tasques de Google
Name[ca@valencia]=Calendaris i tasques de Google
Name[da]=Google kalendere og opgaver
Name[de]=Google-Kalender und -Aufgaben
Name[el]=Google ημερολόγια και εργασίες
Name[en_GB]=Google Calendars and Tasks
Name[es]=Calendarios Google y tareas
Name[et]=Google'i kalendrid ja ülesanded
Name[fi]=Google-kalenterit ja -tehtävät
Name[fr]=Agendas et tâches Google
Name[gl]=Google Calendars and Tasks
Name[hu]=Google naptárak és feladatok
Name[ia]=Calendarios e cargas de Google
Name[it]=Calendari e Attività Google
Name[kk]=Google күнтізбелер мен тапсырмалар
Name[km]=ភារកិច្ច និង​ប្រតិទិន Google
Name[ko]=Google 캘린더 및 할 일
Name[lt]=Google kalendoriai ir užduotys
Name[lv]=Google kalendāri un uzdevumi
Name[nds]=Google-Kalenners un -Opgaven
Name[nl]=Google agenda's en taken
Name[pl]=Kalendarze i zadania Google
Name[pt_BR]=Calendários e tarefas do Google
Name[ru]=Задачи и календари Google
Name[sk]=Google kalendáre a úlohy
Name[sl]=Koledarji in opravila Google
Name[sv]=Google kalendrar och uppgifter
Name[tr]=Google Takvimleri ve Görevleri
Name[zh_TW]=Google 行事曆與工作
Comment=Access your Google Calendars and Tasks from KDE
Type=AkonadiResource
Exec=akonadi_googlecalendar_resource
X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.calendar.todo,application/x-vnd.akonadi.calendar.freebusy
X-Akonadi-Capabilities=Resource,FreeBusyProvider
X-Akonadi-Identifier=akonadi_googlecalendar_resource
Icon=im-google
