[Desktop Entry]
Name=Google Calendars and Tasks
Comment=Access your Google Calendars and Tasks from KDE
Type=AkonadiResource
Exec=akonadi_googlecalendar_resource
X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.calendar.todo
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_googlecalendar_resource
