[Desktop Entry]
Name=Akonadi Maildir Resource
Name[ca]=Recurs maildir de l'Akonadi
Name[de]=Akonadi-Ressource für Maildir
Name[el]=Πόρος Maildir του Akonadi
Name[es]=Recurso Maildir de Akonadi
Name[et]=Akonadi Maildiri ressurss
Name[fr]=Ressource Maildir pour Akonadi
Name[ga]=Acmhainn Maildir Akonadi
Name[it]=Risorsa di posta elettronica per Akonadi
Name[ja]=Akonadi Maildir リソース
Name[km]=ធនធាន​ Akonadi Maildir
Name[ko]=Akonadi Maildir 자원
Name[nb]=Akonadi Maildir-ressurs
Name[nds]=Akonadi-Nettpostorner-Ressource
Name[ne]=एकोनाडी पत्र डाइरेक्टरी संसाधान
Name[nl]=Akonadi Maildir-hulpbron
Name[pl]=Zasób Maildir Akonadi
Name[pt]=Recurso do Maildir do Akonadi
Name[pt_BR]=Recurso do Maildir do Akonadi
Name[sv]=Akonadi Maildir-resurs
Name[uk]=Ресурс Akonadi Maildir
Name[x-test]=xxAkonadi Maildir Resourcexx
Name[zh_CN]=Akonadi Maildir 资源
Name[zh_TW]=Akonadi Maildir 資源
Type=AkonadiResource
Exec=akonadi_maildir_resource
Icon=mail

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_maildir_resource
