[Desktop Entry]
Name=Maildir
Comment=Loads data from a local maildir folder
Type=AkonadiResource
Exec=akonadi_maildir_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_maildir_resource
