<!DOCTYPE kpartgui >
<kpartgui version="390" name="komposer" >
<MenuBar>
  <Menu name="file" noMerge="1">
      <text>&amp;Message</text>
      <Action name="new_composer" />
      <Action name="open_mailreader" />
      <Separator/>
      <Action name="send_default" />
      <Action name="send_alternative" />
      <Action name="save_in_drafts" />
      <Separator/>
      <Action name="insert_file" />
      <Action name="file_print" />
      <Separator/>
        <Merge/>
      <Separator/>
      <Action name="file_close" /> 
  </Menu>
  <Merge />
  <Menu noMerge="1" name="attach">
      <text>&amp;Attach</text>
      <Merge/>
      <Separator/>
      <Action name="attach_file"/>
      <Action name="remove_attachment"/>
      <Action name="attachment_properties"/>
  </Menu>
  <Menu noMerge="1" name="Tools">
     <text>&amp;Tools</text>
     <Merge/>
     <Action name="addressbook"/>
  </Menu>
  <Menu noMerge="1" name="settings">
     <text>&amp;Settings</text>
     <Merge/>
     <Separator/>
     <Action name="settings_configure_komposer"/>
  </Menu>
</MenuBar>
<ToolBar position="Top" iconText="IconOnly" noMerge="1" name="mainToolBar"><text>Main Toolbar</text>
  <Action name="send_default" />
  <Action name="send_alternative" />   
  <Separator/>
  <Action name="attach_file"/>
  <Separator/>
  <Merge/>
  <Separator/>
  <Action name="help_whats_this"/>
</ToolBar>
</kpartgui>
