[Desktop Entry]
Exec=kcmshell4 komposerconfig
Icon=komposer
Type=Application
Terminal=false

X-KDE-ModuleType=Library
X-KDE-Library=komposer
X-KDE-FactoryName=komposerconfig
X-KDE-HasReadOnlyMode=false

Name=Komposer
Name[cy]=Kyfansoddydd
Name[da]=Brevskriver
Name[ms]=Penggubah
Name[ne]=कम्पोजर
Name[pa]=ਕੰਪੋਜ਼ਰ
Name[ta]=கம்போசர்
Name[uk]=Penggubah
Name[x-test]=xxKomposerxx
Comment=KDE Komposer
Comment[bg]=Писане на форматиран текст
Comment[br]=Komposer KDE
Comment[ca]=Compositor per a KDE
Comment[cy]=Cyfansoddydd KDE
Comment[da]=KDE Brevskriver
Comment[de]=KDE-Komposer
Comment[fr]=Komposer KDE
Comment[ga]=Komposer KDE
Comment[ka]=KDE კომპოზიტორი
Comment[ms]=Penggubah KDE
Comment[nds]=Nettbreef-Editor vun KDE
Comment[ne]=केडीई कम्पोजर
Comment[pa]=KDE ਕੰਪੋਜ਼ਰ
Comment[pl]=Komposer dla KDE
Comment[pt]=Kompositor do KDE
Comment[pt_BR]=Konposer do KDE
Comment[ru]=Композитор KDE
Comment[ta]=கேடிஇ கம்போசர்
Comment[tg]=Композитори KDE
Comment[uk]=Penggubah KDE
Comment[x-test]=xxKDE Komposerxx
X-KDE-Keywords=komposer
X-KDE-Keywords[bg]=Редактор
X-KDE-Keywords[ca]=compositor
X-KDE-Keywords[cy]=komposer,kyfansoddydd
X-KDE-Keywords[da]=brevskriver
X-KDE-Keywords[de]=Komposer
X-KDE-Keywords[fy]=komposer,opstellen, opsteller
X-KDE-Keywords[ka]=komposer,ნოტები
X-KDE-Keywords[kk]=Құрастарғыш
X-KDE-Keywords[nds]=Komposer
X-KDE-Keywords[ne]=कम्पोजर
X-KDE-Keywords[nl]=komposer,opstellen
X-KDE-Keywords[pa]=ਕੰਪੋਜ਼ਰ
X-KDE-Keywords[ru]=komposer,ноты
X-KDE-Keywords[sr]=komposer,састављач
X-KDE-Keywords[sr@latin]=komposer,sastavljač
X-KDE-Keywords[ta]=கம்போசர்
X-KDE-Keywords[tg]=komposer,нотаҳо
X-KDE-Keywords[x-test]=xxkomposerxx
