[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell komposerconfig
Icon=komposer
Type=Application
Terminal=false

X-KDE-ModuleType=Library
X-KDE-Library=komposer
X-KDE-FactoryName=komposerconfig
X-KDE-HasReadOnlyMode=false

Name=Komposer
Name[x-test]=xxKomposerxx
Comment=KDE Komposer
Comment[x-test]=xxKDE Komposerxx
Keywords=komposer
Keywords[x-test]=xxkomposerxx
