[Desktop Entry]
Encoding=UTF-8
Exec=kcmshell komposerconfig
Icon=komposer
Type=Application
Terminal=false

X-KDE-ModuleType=Library
X-KDE-Library=komposer
X-KDE-FactoryName=komposerconfig
X-KDE-HasReadOnlyMode=false

Name=Komposer
Name[cy]=Kyfansoddydd
Name[da]=Brevskriver
Name[ms]=Penggubah
Name[ne]=कम्पोजर
Name[ta]=கம்போசர்
Name[x-test]=xxKomposerxx
Comment=KDE Komposer
Comment[br]=Komposer KDE
Comment[ca]=Compositor per a KDE
Comment[cy]=Cyfansoddydd KDE
Comment[da]=KDE Brevskriver
Comment[de]=KDE-Komposer
Comment[fr]=Komposer KDE
Comment[ga]=Komposer KDE
Comment[ka]=KDE კომპოზიტორი
Comment[ms]=Penggubah KDE
Comment[nds]=Nettbreef-Editor vun KDE
Comment[ne]=केडीई कम्पोजर
Comment[nn]=KDE, tekstredigerar for e-post
Comment[pl]=Komposer dla KDE
Comment[pt_BR]=Konposer do KDE
Comment[ru]=Композитор KDE
Comment[ta]=கேடிஇ கம்போசர்
Comment[tg]=Композитори KDE
Comment[x-test]=xxKDE Komposerxx
Keywords=komposer
Keywords[ca]=compositor
Keywords[cy]=komposer,kyfansoddydd
Keywords[da]=brevskriver
Keywords[de]=Komposer
Keywords[ka]=komposer,ნოტები
Keywords[kk]=Құрастарғыш
Keywords[nds]=Komposer
Keywords[ne]=कम्पोजर
Keywords[nl]=komposer,opstellen
Keywords[nn]=komposer,tekstredigerar,epost
Keywords[ru]=komposer,ноты
Keywords[sr]=komposer,састављач
Keywords[sr@latin]=komposer,sastavljač
Keywords[ta]=கம்போசர்
Keywords[tg]=komposer,нотаҳо
Keywords[x-test]=xxkomposerxx
