[Desktop Entry]
Type=ServiceType
X-KDE-ServiceType=Komposer/Plugin
X-KDE-Derived=KPluginInfo
Name=Komposer Plugin
Name[x-test]=xxKomposer Pluginxx

[PropertyDef::X-Komposer-Version]
Type=int
