[Misc]
Name=Microblog Serializer
Name[pt]=Serializador do Micro-blog
Name[pt_BR]=Serializador do Micro-blog
Name[sv]=Serialisering av mikrowebbjournal
Name[uk]=Серіалізатор мікроблогів
Comment=An Akonadi serializer plugin for Microblog
Comment[pt]=Um 'plugin' de serialização do Akonadi para o Micro-blog
Comment[pt_BR]=Um 'plugin' de serialização do Akonadi para o Micro-blog
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av mikrowebbjournaler
Comment[uk]=Додаток серіалізації Akonadi для об'єктів мікроблогів

[Plugin]
Type=application/x-vnd.kde.microblog
X-KDE-Library=akonadi_serializer_microblog
