[Misc]
Name=Contact Group Serializer
Name[ca]=Serialitzador de grups de contactes
Name[da]=Serieordning af kontaktgruppe
Name[de]=Kontaktgruppen-Serialisierung
Name[el]=Διαχειριστής ομάδων επαφών
Name[es]=Serializador de grupos de contactos
Name[et]=Kontaktirühma jadasti
Name[fr]=Sérialiseur de groupes de contacts
Name[ga]=Srathóir Grúpa Teagmhálacha
Name[gl]=Serializador de Grupo de Contacto
Name[it]=Serializzatore gruppi di contatti
Name[km]=អ្នក​ដាក់​លេខ​សៀរៀល​ក្រុម​ទំនាក់ទំនង
Name[lt]=Kontaktų grupių serializatorius
Name[lv]=Kontaktu grupu serializētājs
Name[nb]=Gruppeserialisering for kontakter
Name[nds]=Kontaktkoppel-Reegmoduul
Name[nl]=Contactgroepadministratie
Name[nn]=Kontaktgruppeserialisator
Name[pa]=ਸੰਪਰਕ ਗਰੁੱਪ ਸੀਰੀਅਲਾਈਜ਼ਰ
Name[pl]=Serializacja grup wizytówek
Name[pt]=Serializador de Grupos de Contactos
Name[pt_BR]=Serializador de grupos de contatos
Name[ro]=Serializator grupuri de contacte
Name[sv]=Kontaktgruppserialisering
Name[tr]=Kişi Grubu Sıralandırıcı
Name[uk]=Серіалізатор груп контактів
Name[x-test]=xxContact Group Serializerxx
Name[zh_CN]=联系人分组序列转换器
Name[zh_TW]=聯絡人群組序列器
Comment=An Akonadi serializer plugin for contact group objects
Comment[ca]=Un connector de serialització de l'Akonadi pels objectes de grups de contactes
Comment[da]=Et Akonadi-plugin til serieordning af kontaktgruppeobjekter
Comment[de]=Akonadi-Modul zur Serialisierung von Kontaktgruppen
Comment[el]=Ένα πρόσθετο διαχείρισης αλληλουχίας αντικειμένων ομάδων επαφών του Akonadi
Comment[es]=Un complemento serializador de Akonadi para objetos de grupos de contacto
Comment[et]=Akonadi kontaktirühma objektide jadastamisplugin
Comment[fr]=Un module externe Akonadi pour la sérialisation des groupes de contacts
Comment[ga]=Breiseán srathóra Akonadi le haghaidh grúpaí teagmhálacha
Comment[gl]=Engadido de serialización de Akonadi para obxectos de grupo de contacto
Comment[it]=Un'estensione di Akonadi per la serializzazione dei gruppi di contatti
Comment[km]=កម្មវិធីជំនួយ​អ្នក​ដាក់លេខសៀរៀល Akonadi សម្រាប់​វត្ថុ​ក្រុម​ទំនាក់ទំនង
Comment[lt]=Akonadi serializatoriaus priedas kontaktų grupių objektams
Comment[lv]=Akonadi kontaktu grupu  serializēšanas spraudnis
Comment[nb]=Et Akonadi programtillegg for serialisering av kontaktgruppe-objekter
Comment[nds]=Akonadi-Inreegmoduul för Kontaktkoppeln
Comment[nl]=Een administratieplugin voor Akonadi voor contactgroepobjecten
Comment[nn]=Eit Akonadi-serialisatortillegg for kontaktgruppeobjekt
Comment[pa]=ਸੰਪਰਕ ਗਰੁੱਪ ਆਬਜੈਕਟਾਂ ਲਈ ਅਕੌਂਡੀ ਸੀਰੀਲਾਈਜ਼ਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Akonadi do serializowania wizytówek
Comment[pt]=Um 'plugin' de serialização do Akonadi para os objectos de grupos de contactos
Comment[pt_BR]=Um plug-in de serialização do Akonadi para os objetos de grupos de contatos
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av kontaktgruppobjekt
Comment[tr]=Kişi grubu nesneleri için bir Akonadi sıralandırıcısı
Comment[uk]=Втулок серіалізації Akonadi для об'єктів груп контактів
Comment[x-test]=xxAn Akonadi serializer plugin for contact group objectsxx
Comment[zh_CN]=对联系人分组对象进行序列转换的 Akonadi 插件
Comment[zh_TW]=聯絡人群組物件的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-vnd.kde.contactgroup
X-KDE-Library=akonadi_serializer_contactgroup
