[Misc]
Encoding=UTF-8
Name=Incidence Serializer
Name[el]=Διαχειριστής περιστατικών
Name[es]=Serializador de incidencias
Name[it]=Serializzatore eventi e diari
Name[ja]=イベントシリアライザ
Name[ne]=घटना मिलानकर्ता
Name[pt]=Serializador de Incidências
Name[pt_BR]=Serializador de Incidências
Name[sv]=Förekomstserialisering
Name[x-test]=xxIncidence Serializerxx
Name[zh_CN]=事件序列转换器
Name[zh_TW]=頻率序列器
Comment=An Akonadi serializer plugin for events, tasks and journal entries
Comment[el]=Ένα πρόσθετο διαχείρισης γεγονότων, εργασιών και καταχωρήσεων χρονικού για το Akonadi
Comment[es]=Un plugin del serializador de Akonadi para eventos, tareas y entradas del diario
Comment[it]=Un plugin serializzatore degli eventi, compiti e diari per Akonadi
Comment[ja]=イベント、タスク、ジャーナルエントリのための Akonadi シリアライザプラグイン
Comment[ne]=घटना, कार्य र जर्नल भौचरका लागि एउटा एकोनाडी मिलानकर्ता प्लगइन
Comment[pt]=Um 'plugin' de serialização do Akonadi para os eventos, tarefas e itens do diário
Comment[pt_BR]=Um 'plugin' de serialização do Akonadi para os eventos, tarefas e itens do diário
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av händelser, uppgifter och journalanteckningar
Comment[x-test]=xxAn Akonadi serializer plugin for events, tasks and journal entriesxx
Comment[zh_CN]=对事项、任务和日记项进行序列转换的 Akonadi 插件
Comment[zh_TW]=事件、工作與日誌項目物件的 Akonadi 序列器外掛程式

[Plugin]
Type=text/calendar
X-KDE-Library=libakonadi_serializer_kcal
