[Misc]
Name=Mail Serializer
Name[ca]=Serialitzador de correu
Name[el]=Διαχειριστής αλληλογραφίας
Name[es]=Serializador de correo
Name[et]=Kirjade jadasti
Name[fr]=Sérialiseur de messages
Name[it]=Serializzatore posta elettronica
Name[ja]=メールシリアライザ
Name[km]=ម៉ាស៊ីន​បោះពុម្ព​សំបុត្រ
Name[nds]=Nettpost-Reegmoduul
Name[ne]=पत्र मलानकर्ता
Name[pt]=Serializador de Correio
Name[pt_BR]=Serializador de Correio
Name[sv]=E-postserialisering
Name[x-test]=xxMail Serializerxx
Name[zh_CN]=邮件序列转换器
Name[zh_TW]=信件序列器
Comment=An Akonadi serializer plugin for mail objects
Comment[ca]=Un connector de serialització de l'Akonadi pels objectes correu
Comment[el]=Ένα πρόσθετο διαχείρισης αντικειμένων αλληλογραφίας για το Akonadi
Comment[es]=Un complemento serializador de Akonadi para objetos correo
Comment[et]=Akonadi kirjaobjektide jadastamisplugin
Comment[fr]=Un module externe Akonadi pour la sérialisation des messages
Comment[it]=Un plugin serializzatore di posta elettronica per Akonadi
Comment[ja]=メールオブジェクトのための Akonadi シリアライザプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​កម្មវិធី​បោះពុម្ព Akonadi សម្រាប់​វត្ថុ​សំបុត្រ
Comment[nds]=Akonadi-Inreegmoduul för Nettbreven
Comment[ne]=पत्र वस्तुका लागि एउटा एकोनाडी मिलानकर्ता प्लगइन
Comment[pt]=Um 'plugin' de serialização do Akonadi para os objectos de correio
Comment[pt_BR]=Um 'plugin' de serialização do Akonadi para os objectos de correio
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av e-postobjekt
Comment[x-test]=xxAn Akonadi serializer plugin for mail objectsxx
Comment[zh_CN]=对邮件对象进行序列转换的 Akonadi 插件
Comment[zh_TW]=信件物件的 Akonadi 序列器外掛程式

[Plugin]
Type=message/rfc822,message/news
X-KDE-Library=akonadi_serializer_mail
