[Misc]
Name=Bookmark serializer
Name[ca]=Serialitzador de punts
Name[da]=Serieordning af bogmærker
Name[de]=Lesezeichen-Serialisierung
Name[el]=Διαχειριστής αλληλουχίας σελιδοδεικτών
Name[es]=Serializador de marcadores
Name[et]=Järjehoidjate jadasti
Name[fr]=Sérialiseur de signets
Name[ga]=Srathóir leabharmharcanna
Name[gl]=Serializador de marcadores
Name[it]=Serializzatore dei segnalibri
Name[ja]=ブックマークシリアライザ
Name[km]=ម៉ាស៊ីន​បោះពុម្ព​ចំណាំ
Name[lv]=Grāmatzīmju serializētājs
Name[nb]=Bokmerke-serialisering
Name[nds]=Leesteken-Reegmoduul
Name[nl]=Bladwijzeradministratie
Name[nn]=Bokmerkeserialisator
Name[pa]=ਬੁੱਕਮਾਰਕ ਸੀਰੀਲਾਈਜ਼ਰ
Name[pl]=Serializacja zakładek
Name[pt]=Serializador do favorito
Name[pt_BR]=Serializador de favoritos
Name[sv]=Bokmärkesserialisering
Name[tr]=Yer imi sıralandırıcı
Name[uk]=Серіалізатор закладок
Name[x-test]=xxBookmark serializerxx
Name[zh_CN]=书签序列转换器
Name[zh_TW]=書籤序列器
Comment=An Akonadi serializer plugin for bookmark objects
Comment[ca]=Un connector de serialització de l'Akonadi pels objectes punts
Comment[da]=Et Akonadi-plugin til serieordning af bogmærkeobjekter
Comment[de]=Akonadi-Modul zur Serialisierung von Lesezeichen
Comment[el]=Ένα πρόσθετο διαχείρισης αλληλουχίας αντικειμένων αλληλογραφίας για το Akonadi
Comment[es]=Un complemento serializador de Akonadi para objetos marcador
Comment[et]=Akonadi järjehoidjaobjektide jadastamisplugin
Comment[fr]=Un module externe Akonadi pour la sérialisation des signets
Comment[ga]=Breiseán srathóra Akonadi le haghaidh leabharmharcanna
Comment[gl]=Extensión de serialización de Akonadi para obxectos marcador
Comment[it]=Un plugin serializzatore dei segnalibri per Akonadi
Comment[ja]=ブックマークオブジェクトのための Akonadi シリアライザプラグイン
Comment[km]=កម្មវិធី​ជំនួយ​កម្មវិធី​បោះពុម្ព Akonadi សម្រាប់​វត្ថុ​ចំណាំ
Comment[lv]=Akonadi grāmatzīmju serializēšanas spraudnis
Comment[nb]=Et Akonadi programtillegg for serialisering av  bokmerke-objekter
Comment[nds]=Akonadi-Inreegmoduul för Leestekens
Comment[nl]=Een administratieplugin voor Akonadi voor bladwijzers
Comment[nn]=Eit Akonadi-serialisatortillegg for bokmerkeobjekt
Comment[pl]=Wtyczka Akonadi do serializowania dla obiektów zakładek
Comment[pt]=Um 'plugin' de serialização do Akonadi para os objectos de favoritos
Comment[pt_BR]=Um plug-in de serialização do Akonadi para os objetos dos favoritos
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av bokmärkesobjekt
Comment[tr]=Yer imi nesneleri için bir Akonadi sıralandırıcısı
Comment[uk]=Втулок серіалізації Akonadi для об'єктів закладок
Comment[x-test]=xxAn Akonadi serializer plugin for bookmark objectsxx
Comment[zh_CN]=对书签对象进行序列转换的 Akonadi 插件
Comment[zh_TW]=書籤物件的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-xbel
X-KDE-Library=akonadi_serializer_bookmark
