[Misc]
Name=Microblog Serializer
Name[ar]=مسلسل التدوين المصغر
Name[ca]=Serialitzador de microbloc
Name[ca@valencia]=Serialitzador de microbloc
Name[da]=Serieordning af microblogs
Name[de]=Microblog-Serialisierung
Name[el]=Διαχειριστής Microblog
Name[en_GB]=Microblog Serialiser
Name[es]=Serializador de Microblog
Name[et]=Mikroblogi jadasti
Name[fi]=Microblog-sarjoittaja
Name[fr]=Sérialiseur Microblog
Name[ga]=Srathóir Micreabhlagadóireachta
Name[gl]=Serializador de microblogues
Name[hu]=Microblog-leképező modul
Name[ia]=Divulgator partial de microblog
Name[it]=Serializzatore microblog
Name[ja]=マイクロブログ用シリアライザ
Name[kk]=Микроблог
Name[km]=Microblog Serializer
Name[lv]=Mikroblogu serializētājs
Name[nb]=Mikroblogg-serialisator
Name[nds]=Lüttdaagbook-Reegmoduul
Name[nl]=Microblogadministratie
Name[nn]=Mikroblogg-serialisator
Name[pa]=ਮਾਈਕਰੋਬਲੌਗ ਸੀਰੀਅਲਾਈਜ਼ਰ
Name[pl]=Serializacja mikrobloga
Name[pt]=Serializador do Micro-blog
Name[pt_BR]=Serializador de microblog
Name[ro]=Serializator de microbloguri
Name[ru]=Сохранение записей микроблога
Name[sv]=Serialisering av mikroblogg
Name[tr]=Mini Günlük Sıralandırıcı
Name[uk]=Серіалізатор мікроблогів
Name[x-test]=xxMicroblog Serializerxx
Name[zh_CN]=微博客序列转换器
Name[zh_TW]=Microblog 序列器
Comment=An Akonadi serializer plugin for Microblog
Comment[ar]=ملحق مسلسل اكوندا للتدوين المصغر
Comment[ca]=Un connector de serialització de l'Akonadi pels microblocs
Comment[ca@valencia]=Un connector de serialització de l'Akonadi pels microblocs
Comment[da]=Et Akonadi-plugin til serieordning af microblogs
Comment[de]=Akonadi-Modul zur Serialisierung von Microblog-Objekten
Comment[el]=Ένα πρόσθετο διαχείρισης αντικειμένων Microblog για το Akonadi
Comment[en_GB]=An Akonadi serialiser plugin for Microblog
Comment[es]=Un complemento serializador de Akonadi para Microblog
Comment[et]=Akonadi mikroblogi jadastamisplugin
Comment[fi]=Akonadi-sarjoittajaliitännäinen Microblogiin
Comment[fr]=Un module externe Akonadi pour la sérialisation Microblog
Comment[ga]=Breiseán srathóra Akonadi le haghaidh micreabhlagadóireachta
Comment[gl]=Un engadido de serialización de Akonadi para Microblog
Comment[hu]=Akonadi-leképező modul a Microbloghoz
Comment[ia]=Un plug-in pro divulgator partial de Akonadi pro microblog
Comment[it]=Un'estensione di Akonadi per la serializzazione di microblog
Comment[ja]=マイクロブログのための Akonadi シリアライザプラグイン
Comment[kk]=Akonadi микроблогты тізбектеуіш плагині
Comment[km]=កម្មវិធី​ជំនួយ​​កម្មវិធី​ដាក់​លេខ​សៀរៀល Akonadi សម្រាប់ Microblog
Comment[lv]=Akonadi Microblog serializēšanas spraudnis
Comment[nb]=Et Akonadi programtillegg for serialisering av Microblog
Comment[nds]=Akonadi-Inreegmoduul för Lüttdaagböker
Comment[nl]=Een administratieplugin voor Akonadi voor microblog
Comment[nn]=Eit Akonadi-serialisatortillegg for mikrobloggar
Comment[pa]=ਮਾਈਕਰੋਬਲੌਗ ਲਈ ਅਕੌਂਡੀ ਸੀਰੀਲਾਈਜ਼ਰ
Comment[pl]=Wtyczka Akonadi do serializacji mikrobloga
Comment[pt]=Um 'plugin' de serialização do Akonadi para o Micro-blog
Comment[pt_BR]=Um plug-in de serialização do Akonadi para microblog
Comment[ro]=Modul de serializare Akonadi pentru Microblog
Comment[ru]=Модуль сохранения записей микроблога для Akonadi
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av mikrobloggar
Comment[tr]=Mini günlükler için bir Akonadi sıralandırıcı
Comment[uk]=Додаток серіалізації Akonadi для об'єктів мікроблогів
Comment[x-test]=xxAn Akonadi serializer plugin for Microblogxx
Comment[zh_CN]=对微博客信息进行转换的 Akonadi 序列器
Comment[zh_TW]=Microblog 的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-vnd.kde.microblog
X-Akonadi-Class=legacy;default;Microblog::StatusItem;
X-KDE-Library=akonadi_serializer_microblog
X-KDE-ClassName=Akonadi::SerializerPluginmicroblog
