[Misc]
Name=Incidence Serializer
Name[ar]=مُسلسِل الحدوثات
Name[bs]=Seralizator događaja
Name[ca]=Serialitzador d'incidències
Name[ca@valencia]=Serialitzador d'incidències
Name[da]=Serieordning af hændelser
Name[de]=Ereignis-Serialisierung
Name[el]=Σειριακοποιητής περιστατικών
Name[en_GB]=Incidence Serialiser
Name[es]=Serializador de incidencias
Name[et]=Sündmuste jadasti
Name[fi]=Merkintäserialisoija
Name[fr]=Sérialiseur d'évènements
Name[ga]=Srathóir Imeachtaí
Name[gl]=Serializador de incidencias
Name[hu]=Eseménykezelő
Name[ia]=Divulgator partial de incidentias
Name[it]=Serializzatore occorrenze
Name[ja]=イベント用シリアライザ
Name[kk]=Істерді тізбектеуіші
Name[km]=Incidence Serializer
Name[ko]=사건 시리얼라이저
Name[lt]=Įvykių serializatorius
Name[lv]=Notikumu serializētājs
Name[nb]=Forekomst-serialisering
Name[nds]=Begeefnis-Reegmoduul
Name[ne]=घटना मिलानकर्ता
Name[nl]=Agenda-item-administratie
Name[nn]=Hendingsserialisator
Name[pl]=Szeregowanie zdarzeń
Name[pt]=Serializador de Incidências
Name[pt_BR]=Serializador de incidências
Name[ro]=Serializator incidență
Name[ru]=Сохранение событий
Name[sk]=Serializátor výskytu
Name[sl]=Razvrščevalnik pojavitev v zaporedje
Name[sr]=Серијализатор случајева
Name[sr@ijekavian]=Серијализатор случајева
Name[sr@ijekavianlatin]=Serijalizator slučajeva
Name[sr@latin]=Serijalizator slučajeva
Name[sv]=Förekomstserialisering
Name[tr]=Olay Sıralandırıcısı
Name[uk]=Серіалізатор подій
Name[x-test]=xxIncidence Serializerxx
Name[zh_CN]=事件序列转换器
Name[zh_TW]=頻率序列器
Comment=An Akonadi serializer plugin for events, tasks and journal entries
Comment[ar]=ملحقة سَلسَلة «أكونادي» للأحداث والمهامّ ومدخلات اليوميّة
Comment[bs]=Akonadi dodatak serializatora za događaje, zadatke i žurnal upise
Comment[ca]=Un connector de serialització de l'Akonadi pels objectes d'incidències
Comment[ca@valencia]=Un connector de serialització de l'Akonadi pels objectes d'incidències
Comment[da]=Et Akonadi-plugin til serieordning af hændelser, opgaver og journalindgange
Comment[de]=Akonadi-Modul zur Serialisierung von Ereignissen
Comment[el]=Ένα πρόσθετο σειριακοποιητή Akonadi για γεγονότα, εργασίες και καταχωρήσεις χρονικού
Comment[en_GB]=An Akonadi serialiser plugin for events, tasks and journal entries
Comment[es]=Un complemento serializador de Akonadi para eventos, tareas y entradas del diario
Comment[et]=Akonadi sündmuste, ülesannete ja päevikusissekannate jadastamisplugin
Comment[fi]=Akonadi-serialisoijaliitännäinen tapahtumia, tehtäviä ja päiväkirjamerkintöjä varten.
Comment[fr]=Un module externe Akonadi pour la sérialisation des évènements
Comment[ga]=Breiseán srathóra Akonadi le haghaidh imeachtaí, tascanna, agus iontrálacha dialainne
Comment[gl]=Un complemento de serialización de Akonadi para eventos, tarefas e entradas do diario
Comment[hu]=Akonadi-modul események, feladatok és naplóbejegyzések kezeléséhez
Comment[ia]=Un plug-in pro divulgator partial de Akonadi pro eventos, cargas e jornales
Comment[it]=Un'estensione di Akonadi per la serializzazione di eventi, attività e diari
Comment[ja]=イベント、タスク、日記のエントリのための Akonadi シリアライザプラグイン
Comment[kk]=Akonadi оқиға, тапсырма, күнделік жазуларының тізбектеуіш плагині
Comment[km]=កម្មវិធី​ជំនួយ​កម្មវិធី​បោះពុម្ព Akonadi សម្រាប់​ធាតុ​​ព្រឹត្តិការណ៍ ភារកិច្ច និង​ទិនានុប្បវត្តិ
Comment[ko]=행사, 작업, 저널 항목을 위한 Akonadi 시리얼라이저 플러그인
Comment[lt]=Akonadi serializatoriaus papildinys įvykiams, užduotims ir dienoraščio įrašams
Comment[lv]=Akonadi notikumu, uzdevumu un dienasgrāmatas ierakstu serializēšanas spraudnis
Comment[nb]=Et Akonadi programtillegg for serialisering av hendelser, gjøremål og dagboksnotater
Comment[nds]=Akonadi-Inreegmoduul för Begeefnissen, Opgaven un Daagbookindrääg
Comment[ne]=घटना, कार्य र जर्नल भौचरका लागि एउटा एकोनाडी मिलानकर्ता प्लगइन
Comment[nl]=Een administratieplug-in voor Akonadi voor evenementen, taken en journalen
Comment[nn]=Eit Akonadi-serialisatortillegg for hendingar, oppgåver og dagboktekstar
Comment[pa]=ਈਵੈਂਟ, ਟਾਸਕ ਅਤੇ ਜਰਨਲ ਐਂਟਰੀਆਂ ਲਈ ਅਕੌਂਡੀ ਸੀਰੀਲਾਈਜ਼ਰ ਪਲੱਗਇਨ
Comment[pl]=Wtyczka Akonadi do szeregowania zdarzeń, zadań i wpisów w dzienniku
Comment[pt]=Um 'plugin' de serialização do Akonadi para os eventos, tarefas e itens do diário
Comment[pt_BR]=Um plugin de serialização do Akonadi para os eventos, tarefas e entradas do diário
Comment[ro]=Modul de serializare Akonadi pentru evenimente, sarcini și întregistrări de agendă
Comment[ru]=Модуль сохранения событий, задач и записей дневника для Akonadi
Comment[sk]=Plugin serializátora Akonadi pre udalosti, úlohy a položky denníka
Comment[sl]=Akonadijev vstavek za razvrščanje predmetov pojavitev v zaporedje
Comment[sr]=Аконадијев прикључак серијализатора за догађаје, послове и уносе дневника
Comment[sr@ijekavian]=Аконадијев прикључак серијализатора за догађаје, послове и уносе дневника
Comment[sr@ijekavianlatin]=Akonadijev priključak serijalizatora za događaje, poslove i unose dnevnika
Comment[sr@latin]=Akonadijev priključak serijalizatora za događaje, poslove i unose dnevnika
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av händelser, uppgifter och journalanteckningar
Comment[tr]=Olay, görev ve günlük nesneleri için bir Akonadi sıralandırıcısı
Comment[uk]="Додаток серіалізації Akonadi для подій, завдань і записів журналів"
Comment[x-test]=xxAn Akonadi serializer plugin for events, tasks and journal entriesxx
Comment[zh_CN]=对事项、任务和日记项进行序列转换的 Akonadi 插件
Comment[zh_TW]=事件、工作與日誌項目物件的 Akonadi 序列器外掛程式

[Plugin]
Type=text/calendar,application/x-vnd.akonadi.note,application/x-vnd.kde.notes
X-Akonadi-Class=default;KCalCore::Incidence*;
X-KDE-Library=akonadi_serializer_kcalcore
X-KDE-ClassName=Akonadi::SerializerPluginKCalCore
