[Misc]
Name=Microblog Serializer
Name[da]=Serieordning af microblogs
Name[el]=Διαχειριστής Microblog
Name[en_GB]=Microblog Serialiser
Name[et]=Mikroblogi jadasti
Name[ga]=Srathóir Micreabhlagadóireachta
Name[gl]=Serializador de Microblog
Name[nb]=Mikroblogg-serialisering
Name[nds]=Lüttdaagbook-Reegmoduul
Name[nn]=Mikroblogg-serialisator
Name[pt]=Serializador do Micro-blog
Name[pt_BR]=Serializador de microblog
Name[ru]=Сохранение записей микроблога
Name[sv]=Serialisering av mikrowebbjournal
Name[tr]=Mini Günlük Sıralandırıcı
Name[uk]=Серіалізатор мікроблогів
Name[x-test]=xxMicroblog Serializerxx
Name[zh_CN]=微博客序列转换器
Name[zh_TW]=Microblog 序列器
Comment=An Akonadi serializer plugin for Microblog
Comment[da]=Et Akonadi-plugin til serieordning af microblogs
Comment[el]=Ένα πρόσθετο διαχείρισης αντικειμένων Microblog για το Akonadi
Comment[en_GB]=An Akonadi serialiser plugin for Microblog
Comment[et]=Akonadi mikroblogi jadastamisplugin
Comment[ga]=Breiseán srathóra Akonadi le haghaidh micreabhlagadóireachta
Comment[gl]=Un engadido de serialización de Akonadi para Microblog
Comment[km]=កម្មវិធី​ជំនួយ​​កម្មវិធី​ដាក់​លេខ​សៀរៀល Akonadi សម្រាប់ Microblog
Comment[nb]=Et Akonadi programtillegg for serialisering av Microblog
Comment[nds]=Akonadi-Inreegmoduul för Lüttdaagböker
Comment[nn]=Eit Akonadi-serialisatortillegg for mikrobloggar
Comment[pt]=Um 'plugin' de serialização do Akonadi para o Micro-blog
Comment[pt_BR]=Um plug-in de serialização do Akonadi para microblog
Comment[ru]=Модуль сохранения записей микроблога для Akonadi
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av mikrowebbjournaler
Comment[tr]=Mini günlükler için bir Akonadi sıralandırıcı
Comment[uk]=Додаток серіалізації Akonadi для об'єктів мікроблогів
Comment[x-test]=xxAn Akonadi serializer plugin for Microblogxx
Comment[zh_CN]=对微博客信息进行转换的 Akonadi 序列器
Comment[zh_TW]=Microblog 的 Akonadi 序列器外掛程式

[Plugin]
Type=application/x-vnd.kde.microblog
X-KDE-Library=akonadi_serializer_microblog
