[Misc]
Encoding=UTF-8
Name=Addressee Serializer
Comment=An Akonadi serializer plugin for addressee objects

[Plugin]
Type=text/vcard
X-KDE-Library=libakonadi_serializer_addressee
