[Desktop Entry]
Name=Akonadi VCard Resource
Name[ca]=Recurs VCard de l'Akonadi
Name[de]=Akonadi-Ressource für VCard
Name[el]=Πόρος VCard του Akonadi
Name[es]=Recurso VCard de Akonadi
Name[et]=Akonadi VCardi ressurss
Name[fr]=Ressource VCard pour Akonadi
Name[ga]=Acmhainn VCard Akonadi
Name[it]=Risorsa VCard per Akonadi
Name[ja]=Akonadi VCard リソース
Name[km]=ធនធាន Akonadi VCard
Name[ko]=Akonadi VCard 자원
Name[nb]=Akonadi VCard-ressurs
Name[nds]=Akonadi-VCard-Ressource
Name[ne]=एकोनाडी भीकार्ड संसाधान
Name[nl]=Akonadi VCard-hulpbron
Name[pl]=Zasób wizytówek Akonadi
Name[pt]=Recurso de VCard do Akonadi
Name[pt_BR]=Recurso de VCard do Akonadi
Name[sv]=Akonadi VCard-resurs
Name[uk]=Ресурс Akonadi VCard
Name[x-test]=xxAkonadi VCard Resourcexx
Name[zh_CN]=Akonadi VCard 资源
Name[zh_TW]=Akonadi VCard 資源
Comment=An agent to load data from a VCard file
Comment[ca]=Un agent per carregar dades des d'un fitxer VCard
Comment[de]=Agent zum Laden von Daten aus einer Visitenkarten-Datei
Comment[el]=Ένας πελάτης φόρτωσης δεδομένων από αρχεία VCard
Comment[es]=Un agente para cargar datos de un archivo VCard
Comment[et]=Agent andmete laadimiseks VCard-failist
Comment[fr]=Un agent pour charger des données depuis un fichier au format VCard
Comment[ga]=Gníomhaire a luchtaíonn sonraí ó chomhad VCard
Comment[it]=Un agente per caricare dati da un file VCard
Comment[ja]=VCard ファイルからデータを読み込むエージェント
Comment[km]=ភ្នាក់ងារ​មួ​យ​ត្រូវ​ផ្ទុក​ទិន្នន័យ​ពីឯកសារ VCard
Comment[ko]=VCard 파일에서 데이터를 불러오는 에이전트
Comment[nb]=En agent som laster data fra en vCard-fil
Comment[nds]=Hölper för't Laden vun VCard-Dateien
Comment[ne]=भीकार्ड फाइलबाट डेटा लोड गर्ने एउटा अभिकर्ता
Comment[nl]=Een agent om gegevens van een VCard-bestand op te halen
Comment[pl]=Agent do wczytywania plików VCard
Comment[pt]=Um agente para carregar dados de um ficheiro VCard
Comment[pt_BR]=Um agente para carregar dados de um ficheiro VCard
Comment[sv]=En modul för att ladda data från en VCard-fil
Comment[uk]=Агент для завантаження файла VCard
Comment[x-test]=xxAn agent to load data from a VCard filexx
Comment[zh_CN]=从 VCard 文件载入数据的代理器
Comment[zh_TW]=從 VCard 檔載入資料用的代理程式
Type=AkonadiResource
Exec=akonadi_vcard_resource
Icon=vcard

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_vcard_resource
