[Desktop Entry]
Name=VCard File
Name[ca]=Fitxer VCard
Name[de]=VCard-Datei
Name[el]=Αρχείο VCard
Name[gl]=Ficheiro de VCard
Name[ja]=VCard ファイル
Name[km]=ឯកសារ VCard
Name[nb]=VCard-fil
Name[nds]=VCard-Datei
Name[nl]=vCard-bestand
Name[nn]=vCard-fil
Name[pt]=Ficheiro VCard
Name[pt_BR]=Arquivo VCard
Name[sv]=vCard-fil
Name[tr]=VCard Dosyası
Name[uk]=Файл VCard
Name[x-test]=xxVCard Filexx
Name[zh_TW]=VCard 檔案
Comment=Loads data from a VCard file
Comment[ca]=Carrega dades des d'un fitxer VCard
Comment[de]=Daten werden aus einer Visitenkarten-Datei geladen
Comment[el]=Φόρτωση δεδομένων από ένα αρχείο VCard
Comment[gl]=Carrega datos desde un ficheiro VCard
Comment[ja]=VCard ファイルからデータを読み込みます
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​ឯកសារ VCard
Comment[nb]=Laster data fra en vCard-fil
Comment[nds]=Laadt Daten ut en VCard-Datei
Comment[nl]=Laadt gegevens van een VCard-bestand
Comment[nn]=Lastar data frå ei vCard-fil
Comment[pt]=Carrega os dados de um ficheiro VCard
Comment[pt_BR]=Carrega os dados de um arquivo VCard
Comment[sv]=Laddar data från en vCard-fil
Comment[tr]=VCard dosyasından veri yükler
Comment[uk]=Завантажує дані з файла VCard
Comment[x-test]=xxLoads data from a VCard filexx
Comment[zh_TW]=從 VCard 檔載入資料
Type=AkonadiResource
Exec=akonadi_vcard_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_vcard_resource
