[Desktop Entry]
Name=vCard File
Comment=Loads data from a vCard file
Type=AkonadiResource
Exec=akonadi_vcard_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_vcard_resource
X-Akonadi-LaunchMethod=AgentServer
