[Desktop Entry]
Name=Kolab Groupware Server
Name[ca]=Servidor de Groupware Kolab
Name[ca@valencia]=Servidor de Groupware Kolab
Name[da]=Kolab groupware-server
Name[de]=Kolab Groupware-Server
Name[el]=Εξυπηρετητής Groupware Kolab
Name[en_GB]=Kolab Groupware Server
Name[es]=Servidor de trabajo en grupo Kolab
Name[et]=Kolabi grupitöö server
Name[fr]=Serveur de travail collaboratif Kolab
Name[ga]=Freastalaí Groupware Kolab
Name[gl]=Servidor de Traballo en Grupo Kolab
Name[it]=Server di groupware Kolab
Name[ja]=Kolab グループウェアサーバ
Name[km]=ម៉ាស៊ីន​បម្រើ Kolab Groupware
Name[lv]=Kolab grupdarba serveris
Name[nb]=Kolab groupware-tjener
Name[nds]=Kolab-Arbeitkoppel-Server
Name[nl]=Kolab groupwareserver
Name[nn]=Kolab Groupware-tenar
Name[pl]=Serwer Groupware Kolab
Name[pt]=Servidor de Groupware Kolab
Name[pt_BR]=Servidor groupware Kolab
Name[ro]=Server Kolab Groupware
Name[sl]=Strežnik Kolab za skupinsko delo
Name[sv]=Kolab grupprogramserver
Name[tr]=Kolab Groupware Sunucusu
Name[uk]=Сервер групової роботи Kolab
Name[x-test]=xxKolab Groupware Serverxx
Name[zh_CN]=Kolab 群件服务器
Name[zh_TW]=Kolab 群組伺服器
Icon=kolab
Comment=Kolab Groupware Server
Comment[ca]=Servidor de Groupware Kolab
Comment[ca@valencia]=Servidor de Groupware Kolab
Comment[de]=Kolab Groupware-Server
Comment[en_GB]=Kolab Groupware Server
Comment[es]=Servidor de trabajo en grupo Kolab
Comment[fr]=Serveur de travail collaboratif Kolab
Comment[ga]=Freastalaí Groupware Kolab
Comment[gl]=Servidor de traballo en grupo Kolab
Comment[it]=Server di groupware Kolab
Comment[ja]=Kolab グループウェアサーバ
Comment[km]=ម៉ាស៊ីន​បម្រើ Kolab Groupware
Comment[nb]=Kolab groupware-tjener 
Comment[nds]=Kolab-Arbeitkoppel-Server
Comment[nl]=Kolab-groupware-server
Comment[nn]=Kolab Groupware-tenar
Comment[pt]=Servidor de 'Groupware' Kolab
Comment[pt_BR]=Servidor groupware Kolab
Comment[sv]=Kolab grupprogramserver
Comment[uk]=Сервер групової роботи Kolab
Comment[x-test]=xxKolab Groupware Serverxx
Comment[zh_CN]=Kolab 群件服务器
Comment[zh_TW]=Kolab 群組伺服器

[Wizard]
Type=message/rfc822,text/directory,text/calendar
Script=kolabwizard.js

[Translate]
Filename=accountwizard_kolab
