[Desktop Entry]
Name=Kolab Groupware Server (Old)
Icon=kolab
Comment=Kolab Groupware Server via kolabproxy

[Wizard]
Type=message/rfc822,text/directory,text/calendar,text/x-vnd.akonadi.note
Script=kolabwizard.es

[Translate]
Filename=accountwizard_kolabproxy
