[Desktop Entry]
Name=AkoNotes
Name[en_GB]=AkoNotes
Name[es]=AkoNotes
Name[pt]=AkoNotes
Name[pt_BR]=AkoNotes
Name[sv]=Ako-anteckningar
Name[uk]=Нотатки
Name[x-test]=xxAkoNotesxx
Comment=Loads a notes hierarchy from a local maildir folder
Comment[en_GB]=Loads a notes hierarchy from a local maildir folder
Comment[es]=Carga una jerarquía de notas desde una carpeta de directorio de correo local
Comment[pt]=Carrega uma hierarquia de notas de uma pasta Maildir local
Comment[pt_BR]=Carrega uma hierarquia de notas de uma pasta maildir local
Comment[sv]=Laddar en anteckningshierarki från en lokal maildir-katalog
Comment[uk]=Завантажує ієрархію нотаток з локальної теки maildir
Comment[x-test]=xxLoads a notes hierarchy from a local maildir folderxx
Type=AkonadiResource
Exec=akonadi_akonotes_resource
Icon=view-pim-notes

X-Akonadi-MimeTypes=text/x-vnd.akonadi.note
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_akonotes_resource
