[Desktop Entry]
Name=AkoNotes
Name[ca]=AkoNotes
Name[ca@valencia]=AkoNotes
Name[cs]=AkoNotes
Name[da]=AkoNotes
Name[de]=AkoNotes
Name[el]=AkoNotes
Name[en_GB]=AkoNotes
Name[es]=AkoNotes
Name[et]=AkoNotes
Name[fr]=AkoNotes
Name[ga]=AkoNotes
Name[gl]=AkoNotes
Name[ia]=AkoNotes
Name[it]=AkoNotes
Name[ja]=AkoNotes
Name[kk]=AkoNotes
Name[km]=AkoNotes
Name[nb]=AkoNotes
Name[nds]=Akonotes
Name[nl]=AkoNotes
Name[pl]=AkoNotes
Name[pt]=AkoNotes
Name[pt_BR]=AkoNotes
Name[ro]=AkoNote
Name[ru]=AkoNotes
Name[sv]=Ako-anteckningar
Name[uk]=Нотатки
Name[x-test]=xxAkoNotesxx
Name[zh_CN]=AkoNotes
Name[zh_TW]=AkoNotes
Comment=Loads a notes hierarchy from a local maildir folder
Comment[ca]=Carrega una jerarquia de notes des d'una carpeta maildir local
Comment[ca@valencia]=Carrega una jerarquia de notes des d'una carpeta maildir local
Comment[da]=Indlæser et hierarki af noter fra en lokal maildir-mappe
Comment[de]=Laden einer Notizenhierarchie aus einem lokalen Maildir-Ordner
Comment[el]=Φόρτωση ιεραρχίας σημειώσεων από έναν τοπικό φάκελο maildir
Comment[en_GB]=Loads a notes hierarchy from a local maildir folder
Comment[es]=Carga una jerarquía de notas desde una carpeta de directorio de correo local
Comment[et]=Märkmete hierarhia laadimine kohalikust maildir-kaustast
Comment[fr]=Charge une arborescence de notes d'un dossier au format maildir
Comment[ga]=Luchtaíonn sé seo ordlathas nótaí ó fhillteán logánta maildir
Comment[gl]=Carga unha xerarquía de notas desde un cartafol de correo local
Comment[ia]=Lege un hierarchia de notas de un dossier local de Maildir
Comment[it]=Carica una gerarchia di note da una cartella locale maildir
Comment[ja]=ローカルの maildir フォルダから notes の階層を読み込みます
Comment[kk]=Жергілікті maildir қапшығынан жазбалар иерархиясын жүктеп алады
Comment[km]=ផ្ទុក​ឋានានុក្រម​ចំណាំ​ពី​ថត maildir មូលដ្ឋាន
Comment[nb]=Laster et notat-hierarki fra en lokal maildir-mappe
Comment[nds]=Notizenstruktuur ut en lokaal Nettpostorner laden
Comment[nl]=Laadt hiërarchie van notities van een lokale maildir-map
Comment[pl]=Wczytuje hierarchię notatek z lokalnego katalogu maildir
Comment[pt]=Carrega uma hierarquia de notas de uma pasta Maildir local
Comment[pt_BR]=Carrega uma hierarquia de notas de uma pasta maildir local
Comment[ro]=Încarcă o ierarhie de notițe dintr-un dosar maildir local
Comment[sv]=Laddar en anteckningshierarki från en lokal maildir-katalog
Comment[uk]=Завантажує ієрархію нотаток з локальної теки maildir
Comment[x-test]=xxLoads a notes hierarchy from a local maildir folderxx
Comment[zh_CN]=从本地 maildir 文件夹中载入层次型便笺
Comment[zh_TW]=從本地 Maildir 格式的目錄中載入組織便條
Type=AkonadiResource
Exec=akonadi_akonotes_resource
Icon=view-pim-notes

X-Akonadi-MimeTypes=text/x-vnd.akonadi.note
X-Akonadi-Capabilities=Resource,Notes
X-Akonadi-Identifier=akonadi_akonotes_resource
X-Akonadi-LaunchMethod=AgentServer
