[Desktop Entry]
Name=Calendar Search Agent
Name[ca]=Agent de cerca del calendari
Name[ca@valencia]=Agent de cerca del calendari
Name[da]=Agent til kalendersøgning
Name[de]=Agent zur Kalender-Suche
Name[en_GB]=Calendar Search Agent
Name[es]=Agente de búsqueda de calendario
Name[fr]=Agent de recherche d'agenda
Name[gl]=Axente de Procura do Calendario
Name[km]=ភ្នាក់ងារ​ស្វែងរក​ប្រតិទិន
Name[nb]=Kalendersøk-agent
Name[nds]=Kalenner-Söökhülp
Name[nl]=Agendazoekagent
Name[nn]=Agent for kalendersøk
Name[pa]=ਕੈਲੰਡਰ ਖੋਜ ਏਜੰਟ
Name[pt]=Agente de Pesquisa do Calendário
Name[pt_BR]=Agente de pesquisa de calendário
Name[sv]=Modul för kalendersökning
Name[uk]=Агент пошуку у календарі
Name[x-test]=xxCalendar Search Agentxx
Name[zh_CN]=日历搜索代理
Name[zh_TW]=行事曆搜尋代理程式
Type=AkonadiAgent
Exec=akonadi_calendarsearch_agent
Icon=text-calendar

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Unique,NoConfig
X-Akonadi-Identifier=akonadi_calendarsearch_agent
