[Desktop Entry]
Name=Calendar Search Agent
Name[bs]=Agent za pretragu kalendara.
Name[ca]=Agent de cerca del calendari
Name[ca@valencia]=Agent de cerca del calendari
Name[cs]=Agent vyhledávání v kalendáři
Name[da]=Agent til kalendersøgning
Name[de]=Agent zur Kalender-Suche
Name[el]=Πράκτορας αναζήτησης ημερολογίου
Name[en_GB]=Calendar Search Agent
Name[es]=Agente de búsqueda de calendario
Name[et]=Kalendriotsingu agent
Name[fi]=Kalenterihakutyökalu
Name[fr]=Agent de recherche d'agenda
Name[gl]=Axente de Procura do Calendario
Name[hu]=Naptárkereső ügynök
Name[ia]=Agente de cercar in calendario
Name[it]=Agente per la ricerca nel calendario
Name[ja]=カレンダー検索コンポーネント
Name[kk]=Күнтізбеде іздеу агенті
Name[km]=ភ្នាក់ងារ​ស្វែងរក​ប្រតិទិន
Name[ko]=달력 검색 에이전트
Name[lt]=Kalendoriaus paieškos agentas
Name[lv]=Kalendāra meklēšanas aģents
Name[nb]=Kalendersøk-agent
Name[nds]=Kalenner-Söökhülp
Name[nl]=Agendazoekagent
Name[nn]=Agent for kalendersøk
Name[pa]=ਕੈਲੰਡਰ ਖੋਜ ਏਜੰਟ
Name[pl]=Agent wyszukiwania kalendarza
Name[pt]=Agente de Pesquisa do Calendário
Name[pt_BR]=Agente de pesquisa de calendário
Name[ro]=Agent de căutare a calendarelor
Name[ru]=Календарный поисковый агент
Name[sk]=Agent hľadania v kalendári
Name[sl]=Posrednik za koledarsko iskanje
Name[sr]=Агент претраге календара
Name[sr@ijekavian]=Агент претраге календара
Name[sr@ijekavianlatin]=Agent pretrage kalendara
Name[sr@latin]=Agent pretrage kalendara
Name[sv]=Modul för kalendersökning
Name[tr]=Takvim Arama Programı
Name[uk]=Агент пошуку у календарі
Name[x-test]=xxCalendar Search Agentxx
Name[zh_CN]=日历搜索代理
Name[zh_TW]=行事曆搜尋代理程式
Comment=Agent for calendar searching
Comment[bs]=Agent za traženje kalendara
Comment[ca]=Agent per cerques al calendari
Comment[ca@valencia]=Agent per cerques al calendari
Comment[cs]=Agent vyhledávání v kalendáři
Comment[da]=Agent til kalendersøgning
Comment[de]=Agent zur Suche in Kalendern
Comment[el]=Πράκτορας για αναζήτηση ημερολογίου
Comment[es]=Agente para búsqueda de calendario
Comment[et]=Kalendriotsingu agent
Comment[fi]=Kalenterihakuasiakas
Comment[fr]=Agent de recherche dans les agendas
Comment[gl]=Axente para a busca en calendarios
Comment[hu]=Ügynök a naptárkereséshez
Comment[ia]=Agente per cerca de calendario
Comment[it]=Agente per la ricerca nel calendario
Comment[kk]=Күнтізбеде іздеу агенті
Comment[km]=ភ្នាក់ងារ​សម្រាប់​ការ​ស្វែងរក​ប្រតិទិន
Comment[ko]=달력 검색을 위한 에이전트
Comment[nb]=Agent for kalendersøking
Comment[nl]=Agent voor zoeken in agenda
Comment[pl]=Agent do znajdywania w kalendarzu
Comment[pt]=Agente de pesquisa no calendário
Comment[pt_BR]=Agente para pesquisa no calendário
Comment[ro]=Agent pentru căutarea calendarelor
Comment[ru]=Поисковый календарный агент
Comment[sk]=Agent pre hľadanie v kalendári
Comment[sl]=Agent za iskanje v koledarjih
Comment[sr]=Агент за претрагу календара
Comment[sr@ijekavian]=Агент за претрагу календара
Comment[sr@ijekavianlatin]=Agent za pretragu kalendara
Comment[sr@latin]=Agent za pretragu kalendara
Comment[sv]=Modul för kalendersökning
Comment[tr]=Takvim araması için yardımcı
Comment[uk]=Агент для пошуку у календарях
Comment[x-test]=xxAgent for calendar searchingxx
Comment[zh_CN]=日历搜索代理
Comment[zh_TW]=行事曆搜尋代理程式
Type=AkonadiAgent
Exec=akonadi_calendarsearch_agent
Icon=text-calendar

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Unique,NoConfig
X-Akonadi-Identifier=akonadi_calendarsearch_agent
