[Desktop Entry]
Name=AugmentedMBox Resource
Name[en_GB]=AugmentedMBox Resource
Name[et]=AugmentedMBox ressurss
Name[fr]=Ressource AugmentedMBox
Name[pt]=Recurso AugmentedMBox
Name[pt_BR]=Recurso AugmentedMBox
Name[sv]=Förbättrad MBox-resurs
Name[uk]=Ресурс AugmentedMBox
Name[x-test]=xxAugmentedMBox Resourcexx
Comment=
Type=AkonadiResource
Exec=akonadi_augmentedmbox_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_augmentedmbox_resource
