[Desktop Entry]
Name=AugmentedMailDir Resource
Comment=
Type=AkonadiResource
Exec=akonadi_augmentedmaildir_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_augmentedmaildir_resource
