[Desktop Entry]
Name=AugmentedMailDir Resource
Name[en_GB]=AugmentedMailDir Resource
Name[et]=AugmentedMailDir ressurss
Name[pt]=Recurso AugmentedMailDir
Name[pt_BR]=Recurso AugmentedMailDir
Name[sv]=Förbättrad MailDir-resurs
Name[uk]=Ресурс AugmentedMailDir
Name[x-test]=xxAugmentedMailDir Resourcexx
Comment=
Type=AkonadiResource
Exec=akonadi_augmentedmaildir_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_augmentedmaildir_resource
