[Desktop Entry]
Name=MappedVCard Resource
Name[en_GB]=MappedVCard Resource
Name[pt]=Recurso MappedVCard
Name[sv]=Avbildad vCard-resurs
Name[uk]=Ресурс MappedVCard
Comment=
Type=AkonadiResource
Exec=akonadi_mappedvcard_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_mappedvcard_resource
