[Desktop Entry]
Name=Open-Xchange Groupware Server
Name[en_GB]=Open-Xchange Groupware Server
Name[es]=Servidor de trabajo en grupo  Open-Xchange
Name[gl]=Servidor de Traballo en Grupo OpenXchange
Name[nb]=OpenXchange-tjener
Name[nds]=OpenXchange-Arbeitkoppelserver
Name[nn]=Open-Xchange-tenar
Name[pt]=Servidor de 'Groupware' Open-Xchange
Name[pt_BR]=Servidor groupware Open-Xchange
Name[sv]=Open-xchange grupprogramserver
Name[uk]=Сервер групової роботи Open-Xchange
Name[x-test]=xxOpen-Xchange Groupware Serverxx
Comment=Provides access to the appointments, tasks, and contacts of an Open-Xchange groupware server.
Comment[en_GB]=Provides access to the appointments, tasks and contacts of an Open-Xchange groupware server.
Comment[es]=Proporciona acceso a las citas, tareas y contactos almacenados en un servidor de trabajo en grupo Open-Xchange.
Comment[gl]=Fornece acceso ás citas, tarefas e contactos almacenados nun servidor de traballo en grupo Open-Xchange
Comment[nb]=Gir tilgang til avtaler, oppgaver og kontakter lagret på en Open-Xchange gruppevare-tjener
Comment[nds]=Stellt Togriep op de op en Open-Xchange-Arbeitkoppelserver wohrten Terminen, Opgaven un Kontakten praat
Comment[pt]=Oferece o acesso aos compromissos, tarefas e contactos guardados num servidor de 'groupware' Open-Xchange.
Comment[pt_BR]=Fornece acesso aos compromissos, tarefas e contatos de um servidor groupware Open-Xchange.
Comment[sv]=Ger tillgång till möten, uppgifter och kontakter lagrade på en Open-Xchange grupprogramserver
Comment[uk]=Надає доступ до записів зустрічей, завдань і контактів, які зберігаються на сервері групової роботи Open-Xchange.
Comment[x-test]=xxProvides access to the appointments, tasks, and contacts of an Open-Xchange groupware server.xx
Type=AkonadiResource
Exec=akonadi_openxchange_resource
Icon=ox

X-Akonadi-MimeTypes=text/directory,text/calendar,application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_openxchange_resource
