[Desktop Entry]
Name=Open-Xchange Groupware Server
Name[en_GB]=Open-Xchange Groupware Server
Name[fr]=Serveur de Groupware Open-Xchange
Name[gl]=Servidor de traballo en grupo Open-Xchange.
Name[pt]=Servidor de 'Groupware' Open-Xchange
Name[sv]=Open-xchange grupprogramserver
Name[uk]=Сервер групової роботи Open-Xchange
Name[x-test]=xxOpen-Xchange Groupware Serverxx
Comment=Provides access to the appointments, tasks and contacts of a Open-Xchange groupware server
Comment[en_GB]=Provides access to the appointments, tasks and contacts of a Open-Xchange groupware server
Comment[fr]=Permets l'accès aux réunions, tâches et contacts d'un serveur de groupware Open-Xchange
Comment[gl]=Fornece acceso ás citas, tarefase contactos dun servidor de traballo en grupo Open-Xchange
Comment[pt]=Fornece o acesso aos compromissos, tarefas e contactos de um servidor de 'groupware' Open-Xchange
Comment[sv]=Ger tillgång till möten, uppgifter och kontakter lagrade på en Open-Xchange grupprogramserver
Comment[uk]=Надає доступ до записів зустрічей, завдань і контактів, які зберігаються на сервері групової роботи Open-Xchange.
Comment[x-test]=xxProvides access to the appointments, tasks and contacts of a Open-Xchange groupware serverxx
Type=AkonadiResource
Exec=akonadi_openxchange_resource
Icon=ox

X-Akonadi-MimeTypes=text/directory,text/calendar,application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_openxchange_resource
