[Desktop Entry]
Type=Application
Name=Kolab Groupware
Name[ca]=Treball en grup Kolab
Name[ca@valencia]=Treball en grup Kolab
Name[es]=Software colaborativo Kolab
Name[fr]=Logiciel de collaboration « Kolab »
Name[nl]=Kolab-groupware
Name[pt_BR]=Groupware Kolab
Name[sl]=Kolab Groupware
Name[sv]=Kolab grupprogram
Name[tr]=Kolab Groupware
Name[uk]=Групова робота у Kolab
Name[x-test]=xxKolab Groupwarexx
NoDisplay=true
Exec=akonadi_kolab_resource
Icon=network-server
