[Desktop Entry]
Icon=kontact
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=kcm_ldap
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAddressBook
X-KDE-Weight=200

Name=LDAP Server Settings
Name[ar]=إعدادات خادوم LDAP
Name[ca]=Arranjament del servidor LDAP
Name[ca@valencia]=Arranjament del servidor LDAP
Name[cs]=Nastavení serveru LDAP
Name[da]=Indstillinger for LDAP-server
Name[de]=LDAP-Server-Einstellungen
Name[en_GB]=LDAP Server Settings
Name[es]=Preferencias del servidor LDAP
Name[et]=LDAP serveri seadistused
Name[fi]=LDAP-palvelinasetukset
Name[fr]=Configuration du serveur LDAP
Name[gl]=Configuración do servidor de LDAP
Name[ia]=Preferentias del servitor LDAP
Name[it]=Impostazioni server LDAP
Name[ja]=LDAP サーバの設定
Name[ko]=LDAP 서버 설정
Name[nb]=LDAP tjenerinnstillinger
Name[nl]=LDAP-serverinstellingen
Name[nn]=Innstillingar for LDAP-tenar
Name[pl]=Ustawienia serwera LDAP
Name[pt]=Configuração do Servidor de LDAP
Name[pt_BR]=Configurações do servidor LDAP
Name[ru]=Настройка серверов LDAP
Name[sk]=Nastavenia servera LDAP
Name[sl]=Nastavitve strežnika LDAP
Name[sr]=Поставке ЛДАП сервера
Name[sr@ijekavian]=Поставке ЛДАП сервера
Name[sr@ijekavianlatin]=Postavke LDAP servera
Name[sr@latin]=Postavke LDAP servera
Name[sv]=LDAP-serverinställningar
Name[tr]=LDAP Sunucu Ayarları
Name[uk]=Параметри серверів LDAP
Name[x-test]=xxLDAP Server Settingsxx
Name[zh_CN]=LDAP 服务器设置
Name[zh_TW]=LDAP 伺服器設定
Comment=Configure the available LDAP servers
Comment[ar]=اضبط خواديم LDAP المتوفّرة
Comment[ca]=Configura els servidors LDAP disponibles
Comment[ca@valencia]=Configura els servidors LDAP disponibles
Comment[cs]=Nastavit dostupné servery LDAP
Comment[da]=Indstil de tilgængelige LDAP-servere
Comment[de]=Die verfügbaren LDAP-Server einrichten
Comment[en_GB]=Configure the available LDAP servers
Comment[es]=Configurar los servidores LDAP disponibles
Comment[et]=Saadaolevate LDAP serverite seadistamine
Comment[fi]=Saatavilla olevien LDAP-palvelinten asetukset
Comment[fr]=Configurer les serveurs LDAP disponibles
Comment[gl]=Configurar os servidores de LDAP dispoñíbeis
Comment[ia]=Configura le servitores LDAP accessibile
Comment[it]=Configura i server LDAP disponibili
Comment[ja]=利用可能な LDAP サーバの設定
Comment[ko]=사용 가능한 LDAP 서버 설정
Comment[nb]=Sett opp de tilgjengelige LDAP-tjenerne
Comment[nl]=De beschikbare LDAP-servers configureren
Comment[nn]=Set opp dei tilgjengelege LDAP-tenarane
Comment[pl]=Ustawienia dostępnych serwerów LDAP
Comment[pt]=Configurar os servidores de LDAP disponíveis
Comment[pt_BR]=Configura os servidores LDAP disponíveis
Comment[ru]=Настройка доступных серверов LDAP
Comment[sk]=Nastaviť dostupné servery LDAP
Comment[sl]=Nastavite razpoložljive strežnike LDAP
Comment[sr]=Подешавање доступних ЛДАП сервера
Comment[sr@ijekavian]=Подешавање доступних ЛДАП сервера
Comment[sr@ijekavianlatin]=Podešavanje dostupnih LDAP servera
Comment[sr@latin]=Podešavanje dostupnih LDAP servera
Comment[sv]=Anpassa tillgängliga LDAP-servrar
Comment[tr]=Kullanılabilir LDAP sunucularını yapılandır
Comment[uk]=Налаштовування доступних серверів LDAP
Comment[x-test]=xxConfigure the available LDAP serversxx
Comment[zh_CN]=配置可用 LDAP 服务器
Comment[zh_TW]=配置可用的 LDAP 伺服器
X-KDE-Keywords=kaddressbook, configure, settings, LDAP
X-KDE-Keywords[ar]=kaddressbook,configure,settings,LDAP,دفتر,عناوين,ضبط,إعدادات
X-KDE-Keywords[ca]=kaddressbook, configura, arranjament, LDAP
X-KDE-Keywords[ca@valencia]=kaddressbook, configura, arranjament, LDAP
X-KDE-Keywords[da]=kaddressbook, indstil, indstillinger, LDAP
X-KDE-Keywords[de]=KAddressbook,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen,LDAP
X-KDE-Keywords[en_GB]=kaddressbook, configure, settings, LDAP
X-KDE-Keywords[es]=kaddressbook, configurar, preferencias, LDAP
X-KDE-Keywords[et]=kde aadressiraamat, seadistamine, seadistused, LDAP
X-KDE-Keywords[fi]=kaddressbook, configure, settings, asetukset, LDAP
X-KDE-Keywords[fr]=KAddressBook, configuration, paramètres, LDAP
X-KDE-Keywords[gl]=kaddressbook, configurar, opcións, LDAP
X-KDE-Keywords[ia]=kaddressbook, configura, preferentias, LDAP
X-KDE-Keywords[it]=kaddressbook, configurazione, impostazioni, LDAP
X-KDE-Keywords[ko]=kaddressbook, configure, settings, LDAP, 설정, 주소록
X-KDE-Keywords[nb]=kaddressbook, oppsett, innstillinger, LDAP
X-KDE-Keywords[nl]=kaddressbook, instellen, instellingen, LDAP
X-KDE-Keywords[pl]=kaddressbook, konfiguruj, ustawienia, LDAP
X-KDE-Keywords[pt]=kaddressbook, configurar, configuração, LDAP
X-KDE-Keywords[pt_BR]=kaddressbook, configurar, configurações, LDAP
X-KDE-Keywords[ru]=kaddressbook,configure,settings,LDAP,адресная книга,настройки,настроить
X-KDE-Keywords[sk]=kaddressbook, nastaviť, nastavenia, LDAP
X-KDE-Keywords[sl]=kaddressbook, nastavi, nastavitve, LDAP
X-KDE-Keywords[sr]=kaddressbook,configure,settings,LDAP,К‑адресар,подешавање,подесити,поставке,ЛДАП
X-KDE-Keywords[sr@ijekavian]=kaddressbook,configure,settings,LDAP,К‑адресар,подешавање,подесити,поставке,ЛДАП
X-KDE-Keywords[sr@ijekavianlatin]=kaddressbook,configure,settings,LDAP,K‑adresar,podešavanje,podesiti,postavke,LDAP
X-KDE-Keywords[sr@latin]=kaddressbook,configure,settings,LDAP,K‑adresar,podešavanje,podesiti,postavke,LDAP
X-KDE-Keywords[sv]=adressbok, anpassa, inställningar, LDAP
X-KDE-Keywords[tr]=kaddressbook, yapılandırma, ayarlar, LDAP, adresdefteri
X-KDE-Keywords[uk]=kaddressbook,налаштувати,адресна,книга,параметри,лдап,configure,settings,LDAP
X-KDE-Keywords[x-test]=xxkaddressbookxx,xx configurexx,xx settingsxx,xx LDAPxx
X-KDE-Keywords[zh_CN]=kaddressbook, configure, settings, LDAP, 配置, 地址簿,设置
X-KDE-Keywords[zh_TW]=kaddressbook, configure, settings, LDAP
