[Desktop Entry]
Icon=kontact
Type=Service
X-KDE-ServiceTypes=KCModule

X-KDE-Library=pim/kcms/kaddressbook/kcm_ldap
X-KDE-ParentApp=kaddressbook
X-KDE-ParentComponents=kaddressbook,kontact_kaddressbookplugin
X-KDE-CfgDlgHierarchy=KAddressBook
X-KDE-Weight=200

Name=LDAP Server Settings
Name[ca]=Arranjament del servidor LDAP
Name[ca@valencia]=Arranjament del servidor LDAP
Name[cs]=Nastavení serveru LDAP
Name[da]=Indstillinger for LDAP-server
Name[de]=LDAP-Server-Einstellungen
Name[el]=Ρυθμίσεις εξυπηρετητή LDAP
Name[en_GB]=LDAP Server Settings
Name[es]=Preferencias del servidor LDAP
Name[et]=LDAP serveri seadistused
Name[fi]=LDAP-palvelinasetukset
Name[fr]=Paramètres du serveur « LDAP »
Name[ga]=Socruithe Freastalaí LDAP
Name[ia]=Preferentias del servitor LDAP
Name[it]=Impostazioni server LDAP
Name[ja]=LDAP サーバの設定
Name[kk]=LDAP серверін баптау
Name[km]=ការ​កំណត់​ម៉ាស៊ីន LDAP
Name[ko]=LDAP 서버 설정
Name[lv]=LDAP serveru iestatījumi
Name[nds]=LDAP-Server instellen
Name[nl]=LDAP-serverinstellingen
Name[pa]=LDAP ਸਰਵਰ ਸੈਟਿੰਗ
Name[pl]=Ustawienia serwera LDAP
Name[pt]=Configuração do Servidor de LDAP
Name[pt_BR]=Configurações do servidor LDAP
Name[sl]=Nastavitve strežnika LDAP
Name[sv]=LDAP-serverinställningar
Name[tr]=LDAP Sunucusu Ayarları
Name[uk]=Параметри серверів LDAP
Name[x-test]=xxLDAP Server Settingsxx
Comment=Configure the available LDAP servers
Comment[ca]=Configura els servidors LDAP disponibles
Comment[ca@valencia]=Configura els servidors LDAP disponibles
Comment[cs]=Nastavit dostupné servery LDAP
Comment[da]=Indstil de tilgængelige LDAP-servere
Comment[de]=Verfügbare LDAP-Server einrichten
Comment[el]=Ρύθμιση των διαθέσιμων εξυπηρετητών LDAP
Comment[en_GB]=Configure the available LDAP servers
Comment[es]=Configurar los servidores LDAP disponibles
Comment[et]=Saadaolevate LDAP serverite seadistamine
Comment[fi]=Saatavilla olevien LDAP-palvelinten asetukset
Comment[fr]=Configurer les serveurs disponibles « LDAP »
Comment[ga]=Cumraigh na freastalaithe LDAP atá ar fáil
Comment[ia]=Configura le servitores LDAP accessibile
Comment[it]=Configura i server LDAP disponibili
Comment[ja]=利用可能な LDAP サーバの設定
Comment[kk]=Қол жеткізетін LDAP серверлерінің параметрлері
Comment[km]=កំណត់​រចនាសម្ព័ន្ធ​ម៉ាស៊ីន​បម្រើ LDAP ដែល​អាច​ប្រើ​
Comment[ko]=사용 가능한 LDAP 서버 설정
Comment[lv]=Konfigurē pieejamos LDAP serverus
Comment[nds]=De verföögboren LDAP-Servers instellen
Comment[nl]=De beschikbare LDAP-servers configureren
Comment[pl]=Konfiguracja dostępnych serwerów LDAP
Comment[pt]=Configurar os servidores de LDAP disponíveis
Comment[pt_BR]=Configura os servidores LDAP disponíveis
Comment[sl]=Nastavite strežnike LDAP, ki so na voljo
Comment[sv]=Anpassa tillgängliga LDAP-servrar
Comment[tr]=Kullanılabilir LDAP sunucusu ayarları
Comment[uk]=Налаштування доступних серверів LDAP
Comment[x-test]=xxConfigure the available LDAP serversxx
X-KDE-Keywords=kaddressbook, configure, settings, LDAP
X-KDE-Keywords[ca]=kaddressbook, configura, arranjament, LDAP
X-KDE-Keywords[ca@valencia]=kaddressbook, configura, arranjament, LDAP
X-KDE-Keywords[cs]=kaddressbook, nastavit, nastavení, LDAP
X-KDE-Keywords[da]=kaddressbook, indstil, indstillinger, LDAP
X-KDE-Keywords[de]=KAddressbook,einstellen,konfigurieren,Konfiguration,Einrichtung,Einstellungen,LDAP
X-KDE-Keywords[en_GB]=kaddressbook, configure, settings, LDAP
X-KDE-Keywords[es]=kaddressbook, configurar, preferencias, LDAP
X-KDE-Keywords[et]=kde aadressiraamat, seadistamine, seadistused, LDAP
X-KDE-Keywords[fi]=kaddressbook, asetukset, LDAP
X-KDE-Keywords[fr]=KAddressBook, configurer, paramètres, « LDAP »
X-KDE-Keywords[ia]=kaddressbook, configura, preferentias, LDAP
X-KDE-Keywords[it]=kaddressbook, configurazione, impostazioni, LDAP
X-KDE-Keywords[ko]=kaddressbook, configure, settings, LDAP, 설정, 주소록
X-KDE-Keywords[nl]=kaddressbook, configureren, instellingen, LDAP
X-KDE-Keywords[pl]=kaddressbook, konfiguruj, ustawienia, LDAP
X-KDE-Keywords[pt]=kaddressbook, configurar, configuração, LDAP
X-KDE-Keywords[pt_BR]=kaddressbook, configurar, configurações, LDAP
X-KDE-Keywords[sl]=kaddressbook, configure, settings, LDAP, nastavitve
X-KDE-Keywords[sv]=adressbok, anpassa, inställningar, LDAP
X-KDE-Keywords[uk]=kaddressbook, configure, settings, LDAP,адресна книга,налаштувати,параметри,лдап
X-KDE-Keywords[x-test]=xxkaddressbookxx,xx configurexx,xx settingsxx,xx LDAPxx
