[Desktop Entry]
Name=Mbox
Name[nds]=MBox
Name[nn]=MBOX
Name[x-test]=xxMboxxx
Name[zh_CN]=MBox
Comment=Loads data from a local mbox file
Comment[da]=Indlæser data fra en lokal mbox-fil
Comment[de]=Daten werden aus einer lokalen MBox-Datei geladen
Comment[el]=Φόρτωση δεδομένων από ένα τοπικό αρχείο mbox
Comment[et]=Andmete laadimine kohalikust mbox-failist
Comment[ga]=Breiseán a luchtaíonn sonraí ó chomhad logánta mbox
Comment[gl]=Carrega datos desde un ficheiro mbox local
Comment[it]=Carica dati da una cartella locale mbox
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​ឯកសារ mbox មូលដ្ឋាន
Comment[lv]=Ielādē datus no lokālā mbox faila
Comment[nb]=Laster data fra en lokal mbox-fil
Comment[nds]=Laadt Daten ut en lokaal Postfach (MBox-Datei)
Comment[nl]=Laadt gegevens uit een lokaal mboxbestand
Comment[nn]=Lastar data frå ei lokal MBOX-fil
Comment[pt]=Carrega os dados a partir de um ficheiro 'mbox' local
Comment[pt_BR]=Carrega os dados de um arquivo mbox local
Comment[ru]=Загрузка данных из локального файла mbox
Comment[sv]=Laddar data från en lokal mbox-fil
Comment[tr]=Yerel mbox dosyasından veri yükler
Comment[uk]=Завантажує дані з локального файла mbox
Comment[x-test]=xxLoads data from a local mbox filexx
Comment[zh_CN]=从本地 mbox 文件载入数据
Comment[zh_TW]=從本地 mbox 檔載入資料
Type=AkonadiResource
Exec=akonadi_mbox_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_mbox_resource
