[Desktop Entry]
Name=Akonadi Localbookmark Resource
Name[ca]=Recurs de punts locals de l'Akonadi
Name[de]=Akonadi-Ressource für lokale Lesezeichen
Name[el]=Πόρος τοπικού σελιδοδείκτη του Akonadi
Name[es]=Recurso de marcadores locales de Akonadi
Name[et]=Akonadi kohalike järjehoidjate ressurss
Name[fr]=Ressource signet pour Akonadi
Name[it]=Risorsa segnalibri locali per Akonadi
Name[ja]=Akonadi ローカルブックマークリソース
Name[km]=ធនធាន​ចំណាំ​មូលដ្ឋាន​​របស់ Akonadi
Name[ko]=Akonadi 로컬 책갈피 자원
Name[nb]=Akonadi lokalbokmerke-ressurs
Name[nds]=Akonadi-Lokaalleesteken-Ressource
Name[nl]=Akonadi-hulpbron voor lokale bladwijzers
Name[pl]=Zasób Akonadi lokalnych zakładek
Name[pt]=Recurso de Favoritos Locais do Akonadi
Name[pt_BR]=Recurso de Favoritos Locais do Akonadi
Name[sv]=Akonadi lokal bokmärkesresurs
Name[uk]=Ресурс Akonadi Localbookmark
Name[x-test]=xxAkonadi Localbookmark Resourcexx
Name[zh_CN]=Akonadi 本地书签资源
Name[zh_TW]=Akonadi 本地書籤資源
Comment=An agent to load data from a local bookmarks file
Comment[ca]=Un agents per carregra dades des d'un fitxer de punts local
Comment[de]=Agent zum Laden von Daten aus einer lokalen Lesezeichen-Datei
Comment[el]=Ένας πράκτορας φόρτωσης δεδομένων από ένα τοπικό αρχείο σελιδοδεικτών
Comment[es]=Un agente para cargar datos de un fichero de marcadores local
Comment[et]=Agent andmete laadimiseks kohalikust järjehoidjafailist
Comment[fr]=Un agent pour charger des données depuis un fichier local de signets
Comment[it]=Un agente per caricare dati da un file locale di segnalibri
Comment[ja]=ローカルのブックマークファイルからデータを読み込むエージェント
Comment[km]=ភ្នាក់ងារ​ត្រូវ​ផ្ទុក​ទិន្នន័យ​ពី​ឯកសារ​ចំណាំ​មូលដ្ឋាន
Comment[ko]=로컬 책갈피 파일에서 데이터를 불러오는 에이전트
Comment[nb]=En agent som laster data fra en lokal bokmerkefil
Comment[nds]=Hölper för't Laden vun lokaal Leestekendaten
Comment[nl]=Een agent om gegevens op te halen van lokale bladwijzers
Comment[pl]=Agent do wczytywania danych w lokalnych plików zakładek
Comment[pt]=Um agente para carregar dados a partir de um ficheiro de favoritos local
Comment[pt_BR]=Um agente para carregar dados a partir de um ficheiro de favoritos local
Comment[sv]=En modul för att ladda data från en lokal bokmärkesfil
Comment[uk]=Агент для завантаження даних з локального файла закладок
Comment[x-test]=xxAn agent to load data from a local bookmarks filexx
Comment[zh_CN]=从本地书签文件载入数据的代理器
Comment[zh_TW]=從本地書籤檔載入資料的代理程式
Type=AkonadiResource
Exec=akonadi_localbookmarks_resource
Icon=bookmark

X-Akonadi-MimeTypes=text/bookmark
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_localbookmarks_resource
