[Desktop Entry]
Encoding=UTF-8
Name=Akonadi Localbookmark Resource
Name[sv]=Akonadi lokal bokmärkesresurs
Comment=An agent to load data from a local bookmarks file
Comment[sv]=En modul för att ladda data från en lokal bokmärkesfil
Type=AkonadiResource
Exec=akonadi_localbookmarks_resource
Icon=bookmark

X-Akonadi-MimeTypes=text/bookmark
X-Akonadi-Capabilitites=text/bookmark
X-Akonadi-Identifier=akonadi_localbookmarks_resource
