[Desktop Entry]
Name=Localbookmarks
Name[de]=Lokale Lesezeichen
Name[el]=Τοπικοί σελιδοδείκτες
Name[nds]=Lokaalleestekens
Name[pt]=Favoritos Locais
Name[pt_BR]=Favoritos locais
Name[sv]=Lokala bokmärken
Name[tr]=Yerel Yer İmleri
Name[uk]=Локальні закладки
Name[zh_TW]=本地書籤
Comment=Loads data from a local bookmarks file
Comment[de]=Daten werden aus einer lokalen Lesezeichen-Datei geladen
Comment[el]=Φόρτωση δεδομένων από ένα τοπικό αρχείο σελιδοδεικτών
Comment[gl]=Carregar datos desde un ficheiro local de marcadores
Comment[nds]=Laadt Daten ut en lokaal Leestekendatei
Comment[pt]=Carrega os dados a partir de um ficheiro de favoritos local
Comment[pt_BR]=Carrega os dados de um arquivo de favoritos local
Comment[sv]=Laddar data från en lokal bokmärkesfil
Comment[uk]=Завантажує дані з локального файла закладок
Comment[zh_TW]=從本地書籤檔載入資料
Type=AkonadiResource
Exec=akonadi_localbookmarks_resource
Icon=bookmarks

X-Akonadi-MimeTypes=text/bookmark
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_localbookmarks_resource
