[Desktop Entry]
Encoding=UTF-8
Name=Akonadi OpenChange Resource
Name[el]=Πόρος OpenChange του Akonadi
Name[es]=Recurso OpenChange de Akonadi
Name[ja]=Akonadi OpenChange リソース
Name[pt]=Recurso do OpenChange do Akonadi
Name[pt_BR]=Recurso do OpenChange do Akonadi
Name[sv]=Akonadi Openchange-resurs
Name[zh_TW]=Akonadi OpenChange 資源
Comment=An agent to work with an OpenChange / Exchange server
Comment[el]=Ένας πελάτης για εργασία με διακομιστές OpenChange / Exchange
Comment[es]=Un agente para trabajar con un servidor OpenChange / Exchange
Comment[ja]=OpenChange/Exchange サーバとやりとりするエージェント
Comment[pt]=Um agente para trabalhar com um serivdor de OpenChange / Exchange
Comment[pt_BR]=Um agente para trabalhar com um serivdor de OpenChange / Exchange
Comment[sv]=En modul för att arbeta med en Openchange- eller Exchange-server
Comment[zh_TW]=與 OpenChange / Exchagne 伺服器運作的代理程式
Type=AkonadiResource
Exec=akonadi_oc_resource
Icon=ocresource

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilitites=message/rf822
X-Akonadi-Identifier=akonadi_oc_resource
