[Desktop Entry]
Name=OpenChange
Comment=Makes it possible to work with an OpenChange / Exchange server
Type=AkonadiResource
Exec=akonadi_oc_resource
Icon=email

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_oc_resource
