[Desktop Entry]
Encoding=UTF-8
Name=Akonadi OpenChange Resource
Comment=An agent to work with an OpenChange / Exchange server
Type=AkonadiResource
Exec=akonadi_oc_resource
Icon=ocresource

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilitites=message/rf822
X-Akonadi-Identifier=akonadi_oc_resource
