[Desktop Entry]
Name=Local Bookmarks
Name[da]=Lokale bogmærker
Name[de]=Lokale Lesezeichen
Name[el]=Τοπικοί σελιδοδείκτες
Name[et]=Kohalikud järjehoidjad
Name[ga]=Leabharmharcanna Logánta
Name[gl]=Marcadores locais
Name[it]=Segnalibri locali
Name[ja]=ローカルブックマーク
Name[km]=ចំណាំ​មូលដ្ឋាន
Name[lv]=Lokālās grāmatzīmes
Name[nb]=Lokale bokmerker
Name[nds]=Lokaal Leestekens
Name[nl]=Lokale bladwijzers
Name[nn]=Lokalbokmerke
Name[pt]=Favoritos Locais
Name[pt_BR]=Favoritos locais
Name[ru]=Локальные закладки
Name[sv]=Lokala bokmärken
Name[tr]=Yerel Yer İmleri
Name[uk]=Локальні закладки
Name[x-test]=xxLocal Bookmarksxx
Name[zh_CN]=本地书签
Name[zh_TW]=本地書籤
Comment=Loads data from a local bookmarks file
Comment[ca]=Carrega dades des d'un fitxer de punts local
Comment[cs]=Načítá data z místních záložek
Comment[da]=Indlæser data fra en lokal bogmærkefil
Comment[de]=Daten werden aus einer lokalen Lesezeichen-Datei geladen
Comment[el]=Φόρτωση δεδομένων από ένα τοπικό αρχείο σελιδοδεικτών
Comment[es]=Carga datos de un archivo de marcadores local
Comment[et]=Andmete laadimine kohalikust järjehoidjafailist
Comment[fr]=Charge des données depuis un fichier local de signets
Comment[ga]=Breiseán a luchtaíonn sonraí ó chomhad logánta leabharmharcanna
Comment[gl]=Carrega datos desde un ficheiro local de marcadores
Comment[hu]=Adatbetöltő helyi könyvjelzőfájlokhoz
Comment[it]=Carica dati da un file locale di segnalibri
Comment[ja]=ローカルのブックマークファイルからデータを読み込みます
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​ឯកសារ​ចំណាំ​មូលដ្ឋាន
Comment[ko]=로컬 책갈피 파일에서 데이터를 불러옵니다
Comment[lt]=įkelia duomenis iš vietinio žymelių failo
Comment[lv]=Ielādē datus no lokālā grāmatzīmju faila
Comment[nb]=Laster data fra en lokal bokmerkefil
Comment[nds]=Laadt Daten ut en lokaal Leestekendatei
Comment[nl]=Laadt gegevens van een lokaal bladwijzerbestand
Comment[nn]=Lastar data frå ei lokal bokmerkefil
Comment[pa]=ਇੱਕ ਲੋਕਲ ਬੁੱਕਮਾਰਕ ਫਾਇਲ ਤੋਂ ਡਾਟਾ ਲੋਡ ਕਰੋ
Comment[pl]=Wczytuje dane z pliku lokalnych zakładek
Comment[pt]=Carrega os dados a partir de um ficheiro de favoritos local
Comment[pt_BR]=Carrega os dados de um arquivo de favoritos local
Comment[ro]=Încarcă date dintr-un fișier local de tip semn de carte
Comment[ru]=Загрузка данных из локального файла с закладками
Comment[sl]=Naloži podatke iz krajevne datoteke z zaznamki
Comment[sv]=Laddar data från en lokal bokmärkesfil
Comment[tr]=Yerel bir yer imleri dosyasından veri yükler
Comment[uk]=Завантажує дані з локального файла закладок
Comment[x-test]=xxLoads data from a local bookmarks filexx
Comment[zh_CN]=从本地书签文件载入数据
Comment[zh_TW]=從本地書籤檔載入資料
Type=AkonadiResource
Exec=akonadi_localbookmarks_resource
Icon=bookmarks

X-Akonadi-MimeTypes=text/bookmark
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_localbookmarks_resource
