[Desktop Entry]
Encoding=UTF-8
Name=Akonadi NNTP Resource
Name[es]=Recurso Akonadi NNTP
Comment=An agent to load data from a news server
Comment[es]=Un agente para cargar datos de un servidor de noticias
Type=AkonadiResource
Exec=akonadi_nntp_resource
Icon=news

X-Akonadi-MimeTypes=message/news
X-Akonadi-Capabilitites=message/news
X-Akonadi-Identifier=akonadi_nntp_resource
