[Desktop Entry]
Encoding=UTF-8
Name=Akonadi NNTP Resource
Name[es]=Recurso Akonadi NNTP
Name[ja]=Akonadi NNTP リソース
Name[sv]=Akonadi NNTP-resurs
Name[x-test]=xxAkonadi NNTP Resourcexx
Name[zh_TW]=Akonadi NNTP 資源
Comment=An agent to load data from a news server
Comment[es]=Un agente para cargar datos de un servidor de noticias
Comment[ja]=ニュースサーバからデータを読み込むエージェント
Comment[sv]=En modul för att ladda data från en nyhetsserver
Comment[x-test]=xxAn agent to load data from a news serverxx
Comment[zh_TW]=從新聞伺服器載入資料用的代理程式
Type=AkonadiResource
Exec=akonadi_nntp_resource
Icon=news

X-Akonadi-MimeTypes=message/news
X-Akonadi-Capabilitites=message/news
X-Akonadi-Identifier=akonadi_nntp_resource
