[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=editor
ServiceTypes=Komposer/Editor

X-KDE-Library=libkomposer_krichtextplugin
X-KDE-Komposer-Version=1
X-KDE-Komposer-Weight=10

X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=komposer_richtext
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Editors
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
Name=RichText Editor
Comment=Komposer KRichText Plugin
