[Desktop Entry]
Encoding=UTF-8
Type=Service
Icon=editor
ServiceTypes=Komposer/Editor

X-KDE-Library=libkomposer_krichtextplugin
X-KDE-Komposer-Version=1
X-KDE-Komposer-Weight=10

X-KDE-PluginInfo-Author=Zack Rusin
X-KDE-PluginInfo-Email=zack@kde.org
X-KDE-PluginInfo-Name=komposer_richtext
X-KDE-PluginInfo-Version=0.0.1
X-KDE-PluginInfo-Website=http://www.kde.org
X-KDE-PluginInfo-Category=Editors
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=LGPL
Name=RichText Editor
Name[ca]=Editor de text enriquit
Name[da]=RichText editor
Name[es]=Editor RichText
Name[et]=RichText redaktor
Name[fr]=Éditeur de texte enrichi
Name[it]=Editor rich text
Name[nl]=RichText-editor
Name[pt_BR]=Editor Texto
Name[sl]=Urejevalnik bogatega besedila
Name[sv]=Richtext editor
Name[ta]=ரிச் உரை திருத்தி
Name[xx]=xxRichText Editorxx
Name[zh_CN]=富文本编辑器
Comment=Komposer KRichText Plugin
Comment[bg]=Редактор с поддръжка за форматиране на текста
Comment[br]=Lugent Komposer KRichText
Comment[ca]=Connector KRichText per a Komposer
Comment[cy]=Ategyn KTestunCyfoethog Kyfansoddydd
Comment[da]=Brevskriver KRichText Plugin
Comment[de]=Komposer-Plugin für KRichtText
Comment[el]=Πρόσθετο KRichText του Komposer
Comment[es]=Accesorio KRichText de Komposer
Comment[et]=Komposeri KRichTexti plugin
Comment[fi]=Komposer KRichText liitännäinen
Comment[fr]=Module KRichText pour Komposer
Comment[hi]=कम्पोज़र के-रिच-टेक्स्ट प्लगइन
Comment[hu]=Komposer KRichText bővítőmodul
Comment[is]=Komposer íforrit fyrir KRich Text
Comment[it]=Plugin Komposer KRichText
Comment[nb]=Komposer-programtillegg for KRichText
Comment[nn]=Komposer, KRikTekst-programtillegg
Comment[pl]=Wtyczka Komposer do obsługi KRichText
Comment[pt]='Plugin' de KRichText para o Kompositor
Comment[pt_BR]=Plug-in KRichText do Komposer
Comment[ru]=Модуль форматированного текста Komposer
Comment[sl]=Vstavek KRichRext za Komposer
Comment[sr]=Прикључак састављача за богати текст
Comment[sr@Latn]=Dodatak sastavljača za bogati tekst
Comment[sv]=Komposer Krichtext-insticksprogram
Comment[ta]=கம்போசர் கேரிச் உரை சொருகுப்பொருள்
Comment[tr]=Komposer KRichText Eklentisi
Comment[uk]=Втулок Komposer для KRichText
Comment[xx]=xxKomposer KRichText Pluginxx
Comment[zh_CN]=Komposer KRichText 插件
