[Misc]
Name=QImage Serializer
Comment=An Akonadi serializer plugin for QImage objects

[Plugin]
Type=image/bmp,image/gif,image/jpg,image/png,image/pbm,image/pgm,image/ppm,image/tiff,image/xbm,image/xpm
X-KDE-Library=akonadi_serializer_qimage
