[Misc]
Name=QImage Serializer
Name[en_GB]=QImage Serialiser
Name[fr]=Sérialiseur QImage
Name[gl]=Serializador de QImage
Name[pt]=Serializador do QImage
Name[sv]=QImage-serialisering
Name[tr]=QImage Sıralandırıcı
Name[uk]=Серіалізатор QImage
Name[x-test]=xxQImage Serializerxx
Comment=An Akonadi serializer plugin for QImage objects
Comment[en_GB]=An Akonadi serialiser plugin for QImage objects
Comment[fr]=Un module de mise en série d'Akonadi pour des objets QImage
Comment[gl]=Un engadido de Akonadi para serializar obxectos QImage
Comment[pt]=Um 'plugin' de serialização do Akonadi para objectos QImage
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av QImage-objekt
Comment[tr]=QImage nesneleri için bir Akonadi sıralandırıcısı
Comment[uk]=Додаток серіалізації Akonadi для об'єктів QImage
Comment[x-test]=xxAn Akonadi serializer plugin for QImage objectsxx

[Plugin]
Type=image/bmp,image/gif,image/jpg,image/png,image/pbm,image/pgm,image/ppm,image/tiff,image/xbm,image/xpm
X-KDE-Library=akonadi_serializer_qimage
