[Desktop Entry]
Name=Akonadi Kolab Proxy Resource
Name[pt]=Recurso 'Proxy' do Kolab para o Akonadi
Name[pt_BR]=Recurso 'Proxy' do Kolab para o Akonadi
Name[sv]=Akonadi Kolab-proxyresurs
Name[tr]=Akonadi Kolab Vekil Sunucu Kaynağı
Name[uk]=Ресурс проксі-сервера Kolab Akonadi
Comment=Proxy resource to monitor groupware folders.
Type=AkonadiResource
Exec=akonadi_kolabproxy_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kolabproxy_resource
