[Desktop Entry]
Name=Kolab Groupware Server
Name[ca]=Servidor de Groupware Kolab
Name[ca@valencia]=Servidor de Groupware Kolab
Name[da]=Kolab groupware-server
Name[de]=Kolab Groupware-Server
Name[en_GB]=Kolab Groupware Server
Name[es]=Servidor de Groupware Kolab
Name[et]=Kolabi grupitöö server
Name[fr]=Serveur de travail collaboratif Kolab
Name[gl]=Servidor de traballo en grupo Kolab
Name[it]=Server di groupware Kolab
Name[ja]=Kolab グループウェアサーバ
Name[lv]=Kolab grupdarba serveris
Name[nb]=Kolab groupware-tjener 
Name[nds]=Kolab-Arbeitkoppel-Server
Name[nl]=Kolab groupwareserver
Name[nn]=Kolab Groupware-tenar
Name[pl]=Serwer Groupware Kolab
Name[pt]=Servidor de Groupware Kolab
Name[pt_BR]=Servidor groupware Kolab
Name[ro]=Server Kolab Groupware
Name[sl]=Strežnik Kolab za skupinsko delo
Name[sv]=Kolab grupprogramserver
Name[tr]=Kolab Groupware Sunucusu
Name[uk]=Сервер групової роботи Kolab
Name[x-test]=xxKolab Groupware Serverxx
Name[zh_CN]=Kolab 群件服务器
Name[zh_TW]=Kolab 群組伺服器
Comment=Provides access to Kolab groupware folders on an IMAP server (IMAP accounts need to be set up separately).
Comment[ca]=Proporciona accés a carpetes de groupware Kolab en un servidor IMAP (els comptes IMAP s'han de configurar separadament).
Comment[ca@valencia]=Proporciona accés a carpetes de groupware Kolab en un servidor IMAP (els comptes IMAP s'han de configurar separadament).
Comment[da]=Giver adgang til Kolab groupware-mapper på en IMAP-server (IMAP-konti skal sættes op separat).
Comment[de]=Ermöglicht den Zugriff auf Kolab Groupware-Ordner auf einem IMAP-Server (IMAP-Zugänge müssen separat erstellt werden).
Comment[en_GB]=Provides access to Kolab groupware folders on an IMAP server (IMAP accounts need to be set up separately).
Comment[es]=Proporciona acceso a carpetas groupware de Kolab en un servidor IMAP (las cuentas IMAP necesitan ser configuradas por separado).
Comment[et]=Ligipääsu tagamine Kolabi grupitöökaustadele IMAP serveris (IMAP kontod tuleb eraldi seadistada).
Comment[fr]=Fourni l'accès aux dossiers Kolab sur un serveur IMAP (il est nécessaire de configurer les comptes IMAP séparément).
Comment[gl]=Fornece acceso aos cartafoles de traballo en grupo de Kolab dun servidor de IMAP (hai que configurar as contas IMAP por separado).
Comment[it]=Fornisce l'accesso a cartelle di groupware Kolab su un server IMAP (gli account IMAP devono essere impostati separatamente).
Comment[ja]=IMAP サーバの Kolab グループウェアフォルダへのアクセスを提供します (IMAP アカウントは別に設定する必要があります)。
Comment[lv]=Nodrošina piekļuvi Kolab grupdarba mapēm uz IMAP servera (IMAP kontus jākonfigurē atsevišķi).
Comment[nb]=Gir tilgang til Kolab-mapper på en IMAP-tjener (IMAP-kontoer må settes opp separat).
Comment[nds]=Stellt Togriep op Kolab-Arbeitkoppel-Ornern op en IMAP-Server praat (IMAP-Kontos mööt enkelt inricht warrn).
Comment[nl]=Levert toegang tot Kolab groupwaremappen op een IMAP-server (het is nodig om IMAP-accounts separaat in te stellen).
Comment[nn]=Gjev tilgang til Kolab gruppevare-mapper på ein IMAP-tenar (du må i tillegg setja opp IMAP-kontoane)
Comment[pl]=Daje dostęp do folderów groupware Kolaba na serwerze IMAP (konta IMAP trzeba skonfigurować oddzielnie).
Comment[pt]=Oferece o acesso às pastas de 'groupware' do Kolab num servidor IMAP (as contas de IMAP têm de ser definidas em separado).
Comment[pt_BR]=Fornece acesso as pastas groupware Kolab em um servidor IMAP (as contas IMAP precisam ser definidas separadamente).
Comment[sl]=Omogoča dostop do Kolabovih map za skupinsko delo na strežniku IMAP (računi IMAP morajo biti nastavljeni posebej).
Comment[sv]=Ger tillgång till Kolab grupprogramkorgar på en IMAP-server (IMAP-konton måste ställas in separat).
Comment[tr]=IMAP sunucusu (IMAP hesapları ayrı ayrı yapılandırılmalıdır) üzerindeki Kolab groupware klasörlerine erişim sağlar.
Comment[uk]=Надає доступ до тек групової роботи Kolab на сервері IMAP (облікові записи IMAP слід налаштувати окремо).
Comment[x-test]=xxProvides access to Kolab groupware folders on an IMAP server (IMAP accounts need to be set up separately).xx
Comment[zh_CN]=提供了对 IMAP 服务器(IMAP 账户需另行设置)上的 Kolab 群件文件夹的访问功能。
Comment[zh_TW]=提供存取某 IMAP 伺服器上的 Kolab 群組資料夾（IMAP 帳號要分別設定）
Type=AkonadiResource
Exec=akonadi_kolabproxy_resource
Icon=kolab

X-Akonadi-MimeTypes=text/directory,text/calendar,application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource,Unique,NoConfig
X-Akonadi-Identifier=akonadi_kolabproxy_resource
