[Desktop Entry]
Name=KDE Calendar Compatibility Resource
Name[pt]=Recurso de Compatibilidade do Calendário do KDE
Name[pt_BR]=Recurso de Compatibilidade do Calendário do KDE
Name[zh_TW]=KDE 行事曆相容性資源
Comment=An agent to load data from a traditional KDE calendar resource
Comment[ga]=Gníomhaire a luchtaíonn sonraí ó acmhainn thraidisiúnta fhéilire KDE
Comment[pt]=Um agente para carregar dados de um recurso de calendário tradicional do KDE
Comment[pt_BR]=Um agente para carregar dados de um recurso de calendário tradicional do KDE
Comment[zh_TW]=從傳統 KDE 行事曆資源載入資料用的代理程式
Type=AkonadiResource
Exec=akonadi_kcal_resource
Icon=text-calendar

X-Akonadi-MimeTypes=text/calendar
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kcal_resource
