[Desktop Entry]
Name=System Users
Name[sv]=Systemanvändare
Comment=Users on the local system
Comment[sv]=Användare av det lokala systemet
Type=AkonadiResource
Exec=akonadi_systemusers_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource,Unique
X-Akonadi-Identifier=akonadi_systemusers_resource
