[Desktop Entry]
Name=vCard Directory
Name[cs]=Adresář vizitek
Name[de]=vCard-Ordner
Name[el]=VCard Κατάλογος
Name[ga]=Comhadlann v-Chártaí
Name[nl]=vCard-map
Name[pt]=Pasta de vCard's
Name[pt_BR]=Pasta de VCards
Name[sk]=Adresár VCard
Name[sr]=В‑кард фасцикла
Name[sr@ijekavian]=В‑кард фасцикла
Name[sr@ijekavianlatin]=VCard fascikla
Name[sr@latin]=VCard fascikla
Name[sv]=vCard-katalog
Name[uk]=Каталог vCard
Name[x-test]=xxvCard Directoryxx
Comment=Loads data from a directory with vCards
Comment[cs]=Načítá data z adresáře vizitek (vCard)
Comment[de]=Daten werden aus einem Ordner mit vCard-Dateien geladen
Comment[el]=Φορτώνει δεδομένα από έναν κατάλογο που περιέχει κάρτες VCard
Comment[ga]=Luchtaíonn sé seo sonraí ó chomhadlann ina bhfuil v-Chártaí
Comment[nl]=Laadt gegevens van een map met vCards
Comment[pt]=Carrega os dados de uma pasta com ficheiros vCard
Comment[pt_BR]=Carrega os dados de uma pasta com vCards
Comment[sk]=Načíta dáta z adresára s vCards
Comment[sr]=Учитава податке из фасцикле са в‑кардовима
Comment[sr@ijekavian]=Учитава податке из фасцикле са в‑кардовима
Comment[sr@ijekavianlatin]=Učitava podatke iz fascikle sa vCardovima
Comment[sr@latin]=Učitava podatke iz fascikle sa vCardovima
Comment[sv]=Laddar data från en katalog med vCard-filer
Comment[uk]=Завантажує дані з каталогу з vCard
Comment[x-test]=xxLoads data from a directory with vCardsxx
Type=AkonadiResource
Exec=akonadi_vcarddir_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_vcarddir_resource
