[Desktop Entry]
Name=Akonadi Filtering Agent
Name[et]=Akonadi flitreerimisagent
Name[km]=ភ្នាក់ងារ​ត្រងហ​របស់ Akonadi
Name[pt]=Agente de Filtragem do Akonadi
Name[pt_BR]=Agente de Filtragem do Akonadi
Name[sv]=Akonadi filtreringsmodul
Name[tr]=Akonadi Filtreleme Aracı
Name[uk]=Агент фільтрування Akonadi
Name[x-test]=xxAkonadi Filtering Agentxx
Comment=Filters PIM Data in Multiple Collections
Comment[et]=PIM-andmete filtreerimine mitmes kogus
Comment[km]=ត្រង​ទិន្នន័យ PIM ក្នុងការ​តភ្ជាប់​ជា​ច្រើន
Comment[pt]=Filtra os Dados de PIM em Várias Colecções
Comment[pt_BR]=Filtra os Dados de PIM em Várias Colecções
Comment[sv]=Filtrerar data för personlig informationshantering i flera samlingar
Comment[uk]=Фільтрує дані керування особистими відомостями за збірками
Comment[x-test]=xxFilters PIM Data in Multiple Collectionsxx
Type=AkonadiAgent
Exec=akonadi_filter_agent
Icon=view-filter
No_Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822,message/news
X-Akonadi-Capabilities=Unique
X-Akonadi-Identifier=akonadi_filter_agent

