[Desktop Entry]
Name=KDE Accounts
Name[pt]=Contas do KDE
Name[pt_BR]=Contas do KDE
Name[sv]=KDE-konton
Name[uk]=Облікові записи KDE
Name[x-test]=xxKDE Accountsxx
Comment=Loads contacts from the KDE accounts file
Comment[pt]=Carrega os dados do ficheiro de contas do KDE
Comment[pt_BR]=Carregue contatos do arquivo de contas do KDE
Comment[sv]=Laddar kontakter från KDE:s kontofil
Comment[uk]=Завантаження контактів з файла облікових записів KDE
Comment[x-test]=xxLoads contacts from the KDE accounts filexx
Type=AkonadiResource
Exec=akonadi_kdeaccounts_resource
Icon=kde

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_kdeaccounts_resource
