[Desktop Entry]
Name=Dummy MailTransport Resource
Name[ca]=Recurs de transport de correu simulat
Name[ca@valencia]=Recurs de transport de correu simulat
Name[da]=Attrap-MailTransport-ressource
Name[de]=Dummy MailTransport-Ressource
Name[en_GB]=Dummy MailTransport Resource
Name[es]=Recurso de transporte de correo para pruebas
Name[et]=Kirjade edastamine libaressurss
Name[fr]=Transport de courriels de test
Name[gl]=Recurso de transporte de correo parvo
Name[it]=Risorsa MailTransport fittizia
Name[lv]=MailTransport resursa imitācija
Name[nb]=Attrapp-ressurs for e-posttransport
Name[nds]=Platzholl-Nettpostöverdreegmetoden-Ressource
Name[nl]=Dummy mailtransporthulpmiddel
Name[pt]=Recurso de Transporte de Correio para Testes
Name[pt_BR]=Recurso de transporte de e-mails para testes
Name[sl]=Lažen vir MailTransport
Name[sv]=E-postsändningsresurs för test
Name[uk]=Тестовий ресурс MailTransport
Name[x-test]=xxDummy MailTransport Resourcexx
Name[zh_CN]=虚拟邮件传输资源
Name[zh_TW]=空白郵件傳輸資源
Comment=Dummy Resource implementing mail transport interface
Comment[ca]=Implementació de recurs simulat d'interfície de transport de correu
Comment[ca@valencia]=Implementació de recurs simulat d'interfície de transport de correu
Comment[da]=Attrap-ressource der implementerer mail-transport-grænseflade
Comment[de]=Dummy-Ressource, die die Mail-Transport-Schnittstelle implementiert
Comment[en_GB]=Dummy Resource implementing mail transport interface
Comment[es]=Recurso de prueba que implementa una interfaz de transporte de correo
Comment[et]=Kirjade edastamise liidese libaressurss
Comment[fr]=Ressource de test qui implémente l'interface de transport de courriels
Comment[gl]=Recurso parvo que aporta a interface de transporte de correo
Comment[it]=Risorsa fittizia che implementa l'interfaccia di trasporto della posta
Comment[lv]=Resursa imitācija, kas realizē pasta transporta saskarni
Comment[nb]=Attrappressurs som implementerer grensesnitt for e-posttransport
Comment[nds]=Platzhollressource mit inbuut Nettpostöverdreegmetood-Koppelsteed
Comment[nl]=Dummy hulpmiddel die een mailtransportinterface implementeert
Comment[pt]=Uma interface de transporte de correio que implementa um recurso de testes
Comment[pt_BR]=Interface de transporte de e-mails que implementa um recurso de testes
Comment[sl]=Lažen vir t implementacijo vmesnika za prenos pošte
Comment[sv]=Testresurs som implementerar gränssnitt för e-postöverföring
Comment[uk]=Тестовий ресурс, що реалізує інтерфейс пересилання пошти
Comment[x-test]=xxDummy Resource implementing mail transport interfacexx
Comment[zh_CN]=实现了邮件传输接口的虚拟资源
Comment[zh_TW]=空白資源，用於實作郵件傳輸介面
Type=AkonadiResource
Exec=akonadi_mailtransport_dummy_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource,MailTransport
X-Akonadi-Identifier=akonadi_mailtransport_dummy_resource
