[Desktop Entry]
Name=Dummy MailTransport Resource
Name[es]=Recurso de transporte de correo para pruebas
Name[nb]=Attrapp-ressurs for e-posttransport
Name[nds]=Platzholl-Nettpostöverdreegmetoden-Ressource
Name[pt]=Recurso de Transporte de Correio para Testes
Name[pt_BR]=Recurso de transporte de e-mails para testes
Name[sv]=E-postsändningsresurs för test
Name[uk]=Тестовий ресурс MailTransport
Name[x-test]=xxDummy MailTransport Resourcexx
Name[zh_TW]=空白郵件傳輸資源
Comment=Dummy Resource implementing mail transport interface
Comment[es]=Recurso de prueba que implementa una interfaz de transporte de correo
Comment[nb]=Attrappressurs som implementerer grensesnitt for e-posttransport
Comment[nds]=Platzhollressource mit inbuut Nettpostöverdreegmetood-Koppelsteed
Comment[pt]=Uma interface de transporte de correio que implementa um recurso de testes
Comment[pt_BR]=Interface de transporte de e-mails que implementa um recurso de testes
Comment[sv]=Testresurs som implementerar gränssnitt för e-postöverföring
Comment[uk]=Тестовий ресурс, що реалізує інтерфейс пересилання пошти
Comment[x-test]=xxDummy Resource implementing mail transport interfacexx
Comment[zh_TW]=空白資源，用於實作郵件傳輸介面
Type=AkonadiResource
Exec=akonadi_mailtransport_dummy_resource
Icon=message-rfc822

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Resource,MailTransport
X-Akonadi-Identifier=akonadi_mailtransport_dummy_resource
