[Desktop Entry]
Name=VCard File
Name[cs]=Soubor s vizitkou
Name[de]=vCard-Datei
Name[fr]=Fichier « vCard »
Name[nds]=vCard-Datei
Name[pt]=Ficheiro vCard
Name[sk]=Súbor VCard
Name[sv]=VCard-fil
Name[uk]=Файл vCard
Name[x-test]=xxVCard Filexx
Icon=text-directory
Comment=Loads contact from VCard File
Comment[cs]=Načítá data ze souboru vizitek (vCard)
Comment[de]=Lädt Kontakte aus einer vCard-Datei
Comment[nds]=Laadt Daten ut en vCard-Datei
Comment[pt]=Carrega um contacto de um ficheiro vCard
Comment[sk]=Načíta kontakt zo súboru vCard
Comment[sv]=Laddar data från en VCard-fil
Comment[uk]=Завантажує дані запису контакту із файла vCard
Comment[x-test]=xxLoads contact from VCard Filexx

[Wizard]
Type=text/vcard
Script=vcardwizard.es

[Translate]
Filename=accountwizard_vcard
