[Desktop Entry]
Name=VCard File
Name[ca]=Fitxer vCard
Name[cs]=Soubor s vizitkou
Name[de]=vCard-Datei
Name[es]=Archivo VCard
Name[fi]=VCard-tiedosto
Name[fr]=Fichier « vCard »
Name[ko]=vCard 파일
Name[nds]=vCard-Datei
Name[nl]=VCard-bestand
Name[pl]=Plik VCard
Name[pt]=Ficheiro vCard
Name[pt_BR]=Arquivo VCard
Name[sk]=Súbor VCard
Name[sr]=В‑кард фајл
Name[sr@ijekavian]=В‑кард фајл
Name[sr@ijekavianlatin]=VCard fajl
Name[sr@latin]=VCard fajl
Name[sv]=VCard-fil
Name[uk]=Файл vCard
Name[x-test]=xxVCard Filexx
Icon=text-directory
Comment=Loads contact from VCard File
Comment[ca]=Carrega contactes des d'un fitxer vCard
Comment[cs]=Načítá data ze souboru vizitek (vCard)
Comment[de]=Lädt Kontakte aus einer vCard-Datei
Comment[es]=Cargar contactos desde un archivo VCard
Comment[fi]=Lataa yhteystiedon VuCard-tiedostosta
Comment[ko]=vCard 파일에서 연락처를 가져옵니다
Comment[nds]=Laadt Daten ut en vCard-Datei
Comment[nl]=Laadt contactpersoon uit een VCard-bestand
Comment[pl]=Wczytuje kontakty z pliku VCard
Comment[pt]=Carrega um contacto de um ficheiro vCard
Comment[pt_BR]=Carrega os contatos de um arquivo VCard
Comment[sk]=Načíta kontakt zo súboru vCard
Comment[sr]=Учитава контакт из в‑кард фајла
Comment[sr@ijekavian]=Учитава контакт из в‑кард фајла
Comment[sr@ijekavianlatin]=Učitava kontakt iz vCard fajla
Comment[sr@latin]=Učitava kontakt iz vCard fajla
Comment[sv]=Laddar data från en VCard-fil
Comment[uk]=Завантажує дані запису контакту із файла vCard
Comment[x-test]=xxLoads contact from VCard Filexx

[Wizard]
Type=text/vcard
Script=vcardwizard.es

[Translate]
Filename=accountwizard_vcard
