[Desktop Entry]
Name=VCard File
Name[ca]=Fitxer vCard
Name[ca@valencia]=Fitxer vCard
Name[cs]=Soubor s vizitkou
Name[da]=VCard-fil
Name[de]=vCard-Datei
Name[en_GB]=VCard File
Name[es]=Archivo VCard
Name[et]=vCard-fail
Name[fi]=VCard-tiedosto
Name[fr]=Fichier « vCard »
Name[hu]=VCard fájl
Name[it]=File vCard
Name[ja]=VCard ファイル
Name[ko]=vCard 파일
Name[nb]=vCard-fil
Name[nds]=vCard-Datei
Name[nl]=VCard-bestand
Name[nn]=vCard-fil
Name[pl]=Plik VCard
Name[pt]=Ficheiro vCard
Name[pt_BR]=Arquivo VCard
Name[ru]=Файл vCard
Name[sk]=Súbor VCard
Name[sr]=В‑кард фајл
Name[sr@ijekavian]=В‑кард фајл
Name[sr@ijekavianlatin]=VCard fajl
Name[sr@latin]=VCard fajl
Name[sv]=VCard-fil
Name[tr]=VCard Dosyası
Name[uk]=Файл vCard
Name[x-test]=xxVCard Filexx
Name[zh_TW]=vCard 檔案
Icon=text-directory
Comment=Loads contact from VCard File
Comment[ca]=Carrega contactes des d'un fitxer vCard
Comment[ca@valencia]=Carrega contactes des d'un fitxer vCard
Comment[cs]=Načítá data ze souboru vizitek
Comment[da]=Indlæs kontakt fra VCard-fil
Comment[de]=Lädt Kontakte aus einer vCard-Datei
Comment[en_GB]=Loads contact from VCard File
Comment[es]=Cargar contactos desde un archivo VCard
Comment[et]=Kontakti laadimine vCard-failist
Comment[fi]=Lataa yhteystiedon VuCard-tiedostosta
Comment[fr]=Charge un contact depuis un fichier au format « vCard »
Comment[hu]=Partnert tölt be egy VCard fájlból
Comment[it]=Carica contatti da un file vCard
Comment[ko]=vCard 파일에서 연락처를 가져옵니다
Comment[nb]=Laster kontakt fra  vCard-fila
Comment[nds]=Laadt Daten ut en vCard-Datei
Comment[nl]=Laadt contactpersoon uit een VCard-bestand
Comment[pl]=Wczytuje kontakty z pliku VCard
Comment[pt]=Carrega um contacto de um ficheiro vCard
Comment[pt_BR]=Carrega os contatos de um arquivo VCard
Comment[ru]=Загрузка контакта из файла vCard
Comment[sk]=Načíta kontakt zo súboru vCard
Comment[sr]=Учитава контакт из в‑кард фајла
Comment[sr@ijekavian]=Учитава контакт из в‑кард фајла
Comment[sr@ijekavianlatin]=Učitava kontakt iz vCard fajla
Comment[sr@latin]=Učitava kontakt iz vCard fajla
Comment[sv]=Laddar data från en VCard-fil
Comment[tr]=Bir VCard dosyasından veri yükler
Comment[uk]=Завантажує дані запису контакту із файла vCard
Comment[x-test]=xxLoads contact from VCard Filexx
Comment[zh_TW]=從 vCard 檔載入聯絡人

[Wizard]
Type=text/vcard
Script=vcardwizard.es

[Translate]
Filename=accountwizard_vcard
