[Desktop Entry]
Name=Desktop Couch Resource
Name[gl]=Recurso Sofá de Escritorio
Name[pt]=Recurso de Agenda do Ambiente de Trabalho
Name[pt_BR]=Recurso de Agenda do Ambiente de Trabalho
Name[sv]=Soffresurs för skrivbordet
Name[uk]=Стільничний ресурс Couch
Name[x-test]=xxDesktop Couch Resourcexx
Type=AkonadiResource
Exec=akonadi_desktop-couch_resource
Icon=text-directory

X-Akonadi-MimeTypes=text/directory
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_desktop-couch_resource
