[Agent]
Id=defaultcalendar
Type=akonadi_ical_resource
Name=Personal Calendar
Name[ca]=Calendari personal
Name[cs]=Osobní kalendář
Name[de]=Persönlicher Kalender
Name[el]=Προσωπικό ημερολόγιο
Name[es]=Calendario personal
Name[ia]=Calendario Personal
Name[kk]=Дербес күнтізбе
Name[nb]=Personlig kalender
Name[nds]=Persöönlich Kalenner
Name[nl]=Persoonlijke agenda
Name[pt]=Calendário Pessoal
Name[pt_BR]=Calendário pessoal
Name[ru]=Личный календарь
Name[sr]=Лични календар
Name[sr@ijekavian]=Лични календар
Name[sr@ijekavianlatin]=Lični kalendar
Name[sr@latin]=Lični kalendar
Name[sv]=Personlig kalender
Name[uk]=Особистий календар
Name[x-test]=xxPersonal Calendarxx
Name[zh_TW]=個人行事曆

[Settings]
Path[$e]=/My Documents/.local/share/korganizer/std.ics

