[Misc]
Name=Microblog Serializer
Name[en_GB]=Microblog Serialiser
Name[et]=Mikroblogi jadasti
Name[ga]=Srathóir Micreabhlagadóireachta
Name[gl]=Serializador de microblogue
Name[ja]=ミニブログ用シリアライザ
Name[nds]=Microblog-Inreegmoduul
Name[pt]=Serializador do Micro-blog
Name[pt_BR]=Serializador do Micro-blog
Name[sv]=Mikrowebbjournal-serialisering
Name[uk]=Серіалізатор мікроблогів
Name[x-test]=xxMicroblog Serializerxx
Comment=An Akonadi serializer plugin for Microblog
Comment[en_GB]=An Akonadi serialiser plugin for Microblog
Comment[et]=Akonadi mikroblogi jadastamisplugin
Comment[ga]=Breiseán srathóra Akonadi le haghaidh Micreabhlagadóireachta
Comment[gl]=Unha extensión de Akonadi para serializar microblogues
Comment[ja]=ミニブログのための Akonadi シリアライザプラグイン
Comment[nds]=En Akonadi-Inreegmoduul för Microblog
Comment[pt]=Um 'plugin' de serialização do Akonadi para o Micro-blog
Comment[pt_BR]=Um 'plugin' de serialização do Akonadi para o Micro-blog
Comment[sv]=Ett insticksprogram till Akonadi för serialisering av mikrowebbjournaler
Comment[uk]=Додаток серіалізатора Akonadi для мікроблогів
Comment[x-test]=xxAn Akonadi serializer plugin for Microblogxx

[Plugin]
Type=application/x-vnd.kde.microblog
X-KDE-Library=akonadi_serializer_microblog
