[Desktop Entry]
Name=Distribution List File
Name[el]=Αρχείο λίστας διανομής
Name[et]=Postiloendi fail
Name[ga]=Comhad Liosta Dáilte
Name[gl]=Ficheiro de lista de distribución
Name[ja]=配布リストファイル
Name[nb]=Fil for distribusjonsliste
Name[nds]=Verdeellistdatei
Name[pt]=Ficheiro de Lista de Distribuição
Name[pt_BR]=Arquivo de lista de distribuição
Name[sv]=Fil med fördelningslista
Name[tr]=Dağıtım Listesi Dosyası
Name[uk]=Файл списку розповсюдження
Name[x-test]=xxDistribution List Filexx
Name[zh_TW]=分派清單檔
Comment=Loads data from a distribution list file
Comment[el]=Φόρτωση δεδομένων από ένα αρχείο λίστας διανομής
Comment[et]=Andmete laadimine postiloendi failist
Comment[ga]=Breiseán a luchtaíonn sonraí ó chomhad liosta dáilte
Comment[gl]=Carrega datos desde un ficheiro de lista de distribución
Comment[ja]=配布リストファイルからデータを読み込みます
Comment[nb]=Laster data fra en distribusjonsliste-fil
Comment[nds]=Laadt Daten ut en Verdeellistdatei
Comment[pt]=Carrega os dados a partir de um ficheiro de lista de distribuição
Comment[pt_BR]=Carrega os dados de um arquivo de lista de distribuição
Comment[sv]=Laddar data från en fil med en fördelningslista
Comment[tr]=Bir dağıtım listesi dosyasından veri yükler
Comment[uk]=Завантажує дані з файла списку розповсюдження
Comment[x-test]=xxLoads data from a distribution list filexx
Comment[zh_TW]=從分派清單檔載入資料
Type=AkonadiResource
Exec=akonadi_distlist_resource
Icon=x-mail-distribution-list

X-Akonadi-MimeTypes=application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_distlist_resource
