[Desktop Entry]
Name=Distribution List File
Comment=Loads data from a distribution list file
Type=AkonadiResource
Exec=akonadi_distlist_resource
Icon=x-mail-distribution-list

X-Akonadi-MimeTypes=application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_distlist_resource
