[Desktop Entry]
Name=Distributionlist File
Name[ca]=Fitxers de llistes de distribució
Name[da]=Distributionsliste-fil
Name[de]=Verteilerlistendatei
Name[el]=Αρχείο λίστας διανομής
Name[es]=Archivo de lista de distribución
Name[et]=Postiloendi fail
Name[fr]=Fichier de liste de distribution
Name[ga]=Comhad Liosta Dáilte
Name[gl]=Ficheiro Distributionlist
Name[it]=File lista di distribuzione
Name[ja]=配布リストファイル
Name[km]=ឯកសារ​បញ្ជី​ចែកចាយ
Name[ko]=분배 목록 파일
Name[lv]=Adresātu saraksta fails
Name[nb]=Fil for distribusjonsliste
Name[nds]=Verdeellistdatei
Name[nl]=Distributielijstbestand
Name[nn]=Distribusjonslistefil
Name[pa]=ਡਿਸਟਰੀਬਿਊਸ਼ਨ-ਲਿਸਟ ਫਾਇਲ
Name[pl]=Plik list dystrybucyjnych
Name[pt]=Ficheiro de Lista de Distribuição
Name[pt_BR]=Arquivo de lista de distribuição
Name[ro]=Fișier-listă distribuție
Name[sl]=Datoteka s seznamom za razpošiljanje
Name[sv]=Fil med fördelningslista
Name[tr]=Dağıtım Listesi Dosyası
Name[uk]=Файл списку розповсюдження
Name[x-test]=xxDistributionlist Filexx
Name[zh_CN]=分发列表文件
Name[zh_TW]=分派清單檔
Comment=Loads data from a distributionlist file
Comment[ca]=Carrega dades des d'un fitxer de llistes de distribució
Comment[da]=Indlæser data fra en distributionsliste-fil
Comment[de]=Daten werden aus einer Verteilerlistendatei geladen
Comment[el]=Φόρτωση δεδομένων από ένα αρχείο λίστας διανομής
Comment[es]=Carga datos desde un archivo de lista de distribución.
Comment[et]=Andmete laadimine postiloendi failist
Comment[fr]=Charger les données depuis un fichier de liste de distribution
Comment[ga]=Breiseán a luchtaíonn sonraí ó chomhad liosta dáilte
Comment[gl]=Carrega datos desde un ficheiro de distribución
Comment[it]=Carica dati da un file contenente una lista di distribuzione
Comment[ja]=配布リストファイルからデータを読み込みます
Comment[km]=ផ្ទុក​ទិន្នន័យ​ពី​​ឯកសារ​បញ្ជី​ចែកចាយ
Comment[ko]=분배 목록에서 데이터를 가져옵니다
Comment[lv]=Ielādē datus no adresātu saraksta faila
Comment[nb]=Laster data fra en distribusjonsliste-fil
Comment[nds]=Laadt Daten ut en Verdeellistdatei
Comment[nl]=Laadt gegevens van een distributielijstbestand
Comment[nn]=Lastar data frå ei distribusjonslistefil
Comment[pl]=Wczytuje dane z pliku list dystrybucyjnych
Comment[pt]=Carrega os dados a partir de um ficheiro de lista de distribuição
Comment[pt_BR]=Carrega os dados de um arquivo de lista de distribuição
Comment[ro]=Încarcă date dintr-un fișier distributionlist
Comment[sl]=Naloži podatke iz datoteke s seznamom za razpošiljanje
Comment[sv]=Laddar data från en fil med en fördelningslista
Comment[tr]=Bir dağıtım listesi dosyasından veri yükler
Comment[uk]=Завантажує дані з файла списку розповсюдження
Comment[x-test]=xxLoads data from a distributionlist filexx
Comment[zh_CN]=从分发列表文件载入数据
Comment[zh_TW]=從分派清單檔載入資料
Type=AkonadiResource
Exec=akonadi_distlist_resource
Icon=x-mail-distribution-list

X-Akonadi-MimeTypes=application/x-vnd.kde.contactgroup
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_distlist_resource
