[Desktop Entry]
Name=Maildir
Name[ar]=Maildir
Name[ca]=Maildir
Name[ca@valencia]=Maildir
Name[cs]=Maildir
Name[da]=Maildir
Name[de]=Maildir
Name[el]=Maildir
Name[en_GB]=Maildir
Name[eo]=Maildir
Name[es]=Maildir
Name[et]=Maildir
Name[fr]=Maildir
Name[ga]=Maildir
Name[gl]=Maildir
Name[hu]=Maildir
Name[it]=Maildir
Name[ja]=Maildir
Name[km]=ថត​សំបុត្រ
Name[ko]=Maildir
Name[lt]=Maildir
Name[lv]=Maildir
Name[nb]=Maildir
Name[nds]=Nettpostorner
Name[nl]=Maildir
Name[nn]=Maildir
Name[pa]=Maildir
Name[pl]=Maildir
Name[pt]=Maildir
Name[pt_BR]=Maildir
Name[ro]=Maildir
Name[ru]=Maildir
Name[sl]=Maildir
Name[sv]=Maildir
Name[tr]=Maildir
Name[uk]=Maildir
Name[x-test]=xxMaildirxx
Name[zh_CN]=邮件目录
Name[zh_TW]=Maildir
Icon=message-rfc822
Comment=Maildir account
Comment[pt]=Conta Maildir
Comment[sv]=Maildir-konto
Comment[uk]=Обліковий запис Maildir
Comment[x-test]=xxMaildir accountxx

[Wizard]
Type=message/rfc822
Script=maildirwizard.js

[Translate]
Filename=accountwizard_maildir
