[Desktop Entry]
Name=Maildir
Name[ar]=Maildir
Name[ca]=Maildir
Name[ca@valencia]=Maildir
Name[cs]=Maildir
Name[da]=Maildir
Name[de]=Maildir
Name[el]=Maildir
Name[en_GB]=Maildir
Name[eo]=Maildir
Name[es]=Maildir
Name[et]=Maildir
Name[fr]=Maildir
Name[ga]=Maildir
Name[gl]=Maildir
Name[hu]=Maildir
Name[it]=Maildir
Name[ja]=Maildir
Name[km]=ថត​សំបុត្រ
Name[ko]=Maildir
Name[lt]=Maildir
Name[lv]=Maildir
Name[nb]=Maildir
Name[nds]=Nettpostorner
Name[nl]=Maildir
Name[nn]=Maildir
Name[pa]=Maildir
Name[pl]=Maildir
Name[pt]=Maildir
Name[pt_BR]=Maildir
Name[ro]=Maildir
Name[ru]=Maildir
Name[sk]=Maildir
Name[sl]=Maildir
Name[sv]=Maildir
Name[tr]=Maildir
Name[uk]=Maildir
Name[x-test]=xxMaildirxx
Name[zh_CN]=邮件目录
Name[zh_TW]=Maildir
Icon=message-rfc822
Comment=Maildir account
Comment[ca]=Compte Maildir
Comment[ca@valencia]=Compte Maildir
Comment[da]=Maildir-konto
Comment[de]=Maildir-Zugang
Comment[en_GB]=Maildir account
Comment[es]=Cuenta de directorio de correo
Comment[fr]=Compte Maildir
Comment[ga]=Cuntas maildir
Comment[gl]=Conta de Maildir
Comment[it]=Account Maildir
Comment[ja]=Maildir アカウント
Comment[km]=គណនី Maildir
Comment[nb]=Maildir-konto
Comment[nds]=Nettpostkonto
Comment[nl]=Maildir-account
Comment[nn]=Maildir-konto
Comment[pa]=Maildir ਅਕਾਊਂਟ
Comment[pt]=Conta Maildir
Comment[pt_BR]=Conta Maildir
Comment[sv]=Maildir-konto
Comment[uk]=Обліковий запис Maildir
Comment[x-test]=xxMaildir accountxx
Comment[zh_CN]=Maildir 账户
Comment[zh_TW]=Maildir 帳號

[Wizard]
Type=message/rfc822
Script=maildirwizard.js

[Translate]
Filename=accountwizard_maildir
