[Desktop Entry]
Name=Akonadi Nepomuk Feeder
Name[bs]=Akonadi Nepomuk napajač
Name[ca]=Alimentador del Nepomuk per a l'Akonadi
Name[ca@valencia]=Alimentador del Nepomuk per a l'Akonadi
Name[cs]=Akonadi podavač Nepomuku
Name[da]=Akonadi Nepomuk-feeder
Name[de]=Nepomuk-Modul für Akonadi
Name[el]=Τροφοδότης Nepomuk του Akonadi
Name[en_GB]=Akonadi Nepomuk Feeder
Name[es]=Alimentador Nepomuk de Akonadi
Name[et]=Akonadi Nepomuki söötur
Name[fi]=Akonadi Nepomuk Feeder
Name[fr]=Connecteur Nepomuk pour Akonadi
Name[ga]=Fothaire Nepomuk Akonadi
Name[gl]=Alimentador de Nepomuk para Akonadi
Name[hu]=Akonadi Nepomuk feltöltő
Name[ia]=Syndication de Akonadi Nepomuk
Name[it]=Fornitore Akonadi per Nepomuk
Name[kk]=Nepomuk эл.пошта бергіші
Name[km]=កម្មវិធី​មតិ​ព័ត៌មាន Akonadi Nepomuk
Name[ko]=Akonadi Nepomuk 공급자
Name[lt]=Akonadi Nepomuk šaltinis
Name[lv]=Akonadi Nepomuk barotājs
Name[nb]=Akonadi innmating til Nepomuk
Name[nds]=Nepomuk-Ingaav för Akonadi
Name[nl]=Akonadi Nepumuk-feeder
Name[pl]=Podajnik Akonadi Nepomuk
Name[pt]=Fontes do Nepomuk para o Akonadi
Name[pt_BR]=Alimentador do Nepomuk para o Akonadi
Name[ru]=Akonadi Nepomuk Feeder
Name[sk]=Kŕmitko Nepomuk Akonadi
Name[sl]=Podajalnik za Nepomuk
Name[sr]=Непомуков уводник Аконадија
Name[sr@ijekavian]=Непомуков уводник Аконадија
Name[sr@ijekavianlatin]=Nepomukov uvodnik Akonadija
Name[sr@latin]=Nepomukov uvodnik Akonadija
Name[sv]=Akonadi-inmatning till Nepomuk
Name[tr]=Akonadi Nepomuk Besleyici
Name[uk]=Передавач даних Akonadi Nepomuk
Name[x-test]=xxAkonadi Nepomuk Feederxx
Name[zh_CN]=Akonadi Nepomuk 邮件采集器
Name[zh_TW]=Akonadi Nepomuk Feeder

Type=AkonadiAgent
Exec=akonadi_nepomuk_feeder
Icon=nepomuk

# This agent is disabled, do not autostart it.
# KDE5: remove this file
X-Akonadi-MimeTypes=
X-Akonadi-Capabilities=
X-Akonadi-Identifier=akonadi_nepomuk_feeder
