[Desktop Entry]
Name=Google Groupware
Name[ca]=Google Groupware
Name[ca@valencia]=Google Groupware
Name[cs]=Google Groupware
Name[es]=Google Groupware
Name[et]=Google Groupware
Name[fr]=Google Groupware
Name[it]=Google Groupware
Name[nl]=Google Groupware
Name[pt]='Groupware' do Google
Name[pt_BR]=Google Groupware
Name[ru]=Службы совместной работы Google
Name[sv]=Google grupprogram
Name[uk]=Групова робота у Google
Name[x-test]=xxGoogle Groupwarexx
Comment=Access your Google Calendars, Contacts and Tasks from KDE
Comment[ca]=Accediu als calendaris, contactes i tasques de Google des del KDE
Comment[ca@valencia]=Accediu als calendaris, contactes i tasques de Google des del KDE
Comment[cs]=Přistupujte ke k kalendářům, kontaktům a úkolům z KDE
Comment[es]=Acceda a sus calendarios, contactos y tareas de Google desde KDE
Comment[et]=Oma Google'i kalendrite, kontaktide ja ülesannete kasutamine otse KDE-st
Comment[fr]=Accès à vos agendas, contacts et tâches Google depuis KDE
Comment[it]=Accedi ai tuoi calendari, contatti e attività Google da KDE
Comment[nl]=Heb toegang tot uw Google agenda's, contactpersonen en taken vanuit KDE
Comment[pt]=Aceda aos seus calendários, contactos e tarefas da Google a partir do KDE
Comment[pt_BR]=Acesse seus calendários, contatos e tarefas do Google a partir do KDE
Comment[ru]=Доступ к контактам, задачам и календарям Google из KDE
Comment[sv]=Kom åt Google kalendrar, kontakter och uppgifter från KDE
Comment[uk]=Доступ до ваших календарів, записів контактів і завдань Google з KDE
Comment[x-test]=xxAccess your Google Calendars, Contacts and Tasks from KDExx
Type=AkonadiResource
Exec=akonadi_google_resource
X-Akonadi-MimeTypes=text/calendar,text/directory,application/x-vnd.akonadi.calendar.event,application/x-vnd.akonadi.calendar.todo,application/x-vnd.akonadi.calendar.freebusy
X-Akonadi-Capabilities=Resource,FreeBusyProvider
X-Akonadi-Identifier=akonadi_google_resource
X-Akonadi-Custom-KAccounts=google-contacts,google-calendar
Icon=im-google
