[Desktop Entry]
Name=KContactManager
Name[de]=Kontaktverwaltung
Name[pa]=ਕੇ-ਸੰਪਰਕ-ਮੈਨੇਜਰ
Name[ro]=KGestionarContacte
Name[sv]=Kcontactmanager
Name[x-test]=xxKContactManagerxx
Name[zh_TW]=Kontact 管理員
GenericName=Contact Manager
GenericName[br]=Merour an darempredoù
GenericName[ca]=Gestor de contactes
GenericName[da]=Kontakthåndtering
GenericName[de]=Kontaktverwaltung
GenericName[el]=Διαχειριστής επαφών
GenericName[es]=Gestor de contactos
GenericName[et]=Kontaktihaldur
GenericName[fi]=Yhteystietojen hallinta
GenericName[fr]=Gestionnaire de contacts
GenericName[ga]=Bainisteoir na dTeagmhálacha
GenericName[gl]=Xestor de Contactos
GenericName[it]=Gestione della rubrica
GenericName[ja]=連絡先マネージャ
GenericName[km]=កម្មវិធី​គ្រប់គ្រង​ទំនាក់ទំនង
GenericName[ko]=연락처 관리자
GenericName[lv]=Kontaktu pārvaldnieks
GenericName[nb]=Kontaktbehandler
GenericName[nds]=Kontaktenpleger
GenericName[nl]=Contactpersoonbeheerder
GenericName[nn]=Kontakthandsamar
GenericName[pa]=ਸੰਪਰਕ ਮੈਨੇਜਰ
GenericName[pl]=Zarządzanie kontaktami
GenericName[pt]=Gestor de Contactos
GenericName[pt_BR]=Gerenciador de contatos
GenericName[ro]=Gestionar de contacte
GenericName[ru]=Карточки и контакты
GenericName[sl]=Upravitelj stikov
GenericName[sv]=Kontakthantering
GenericName[th]=จัดการที่อยู่ติดต่อ
GenericName[tr]=Kişi Yöneticisi
GenericName[uk]=Менеджер контактів
GenericName[x-test]=xxContact Managerxx
GenericName[zh_CN]=联系人管理器
GenericName[zh_TW]=聯絡人管理員
Exec=kcontactmanager %u
Icon=office-address-book
Type=Application
X-DocPath=kcontactmanager/index.html
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;
