[Desktop Entry]
Name=KContactManager
Name[de]=Kontaktverwaltung
Name[sv]=Kcontactmanager
Name[x-test]=xxKContactManagerxx
Name[zh_TW]=Kontact 管理員
GenericName=Contact Manager
GenericName[br]=Merour an darempredoù
GenericName[ca]=Gestor de contactes
GenericName[de]=Kontaktverwaltung
GenericName[el]=Διαχειριστής επαφών
GenericName[es]=Gestor de contactos
GenericName[ga]=Bainisteoir Teagmhálacha
GenericName[ja]=連絡先マネージャ
GenericName[nl]=Contactpersoonbeheerder
GenericName[pt]=Gestor de Contactos
GenericName[pt_BR]=Gestor de Contactos
GenericName[sv]=Kontakthantering
GenericName[x-test]=xxContact Managerxx
GenericName[zh_CN]=联系人管理器
GenericName[zh_TW]=聯絡人管理員
Exec=kcontactmanager %u
Icon=kaddressbook
Type=Application
X-DocPath=kcontactmanager/index.html
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;
