[Desktop Entry]
Encoding=UTF-8
Name=KContactManager
Name[x-test]=xxKContactManagerxx
GenericName=Contact Manager
GenericName[x-test]=xxContact Managerxx
Exec=kcontactmanager %u
Icon=kaddressbook
Type=Application
DocPath=kcontactmanager/index.html
Terminal=false
X-KDE-StartupNotify=true
Categories=Qt;KDE;Office;
