[Desktop Entry]
Name=Account Wizard
Name[ca]=Assistent de comptes
Name[ca@valencia]=Assistent de comptes
Name[en_GB]=Account Wizard
Name[es]=Asistente de cuentas
Name[fr]=Assistant de comptes
Name[it]=Procedura guidata di creazione di un account
Name[km]=អ្នក​ជំនួយការ​គណនី
Name[nds]=Konto-Hölper
Name[nl]=Accountassistent
Name[pt]=Assistente de Contas
Name[pt_BR]=Assistente de contas
Name[sv]=Kontoguide
Name[uk]=Майстер облікових записів
Name[x-test]=xxAccount Wizardxx
Name[zh_CN]=账户向导
Name[zh_TW]=帳號精靈
Exec=accountwizard --package %f
Type=Application
NoDisplay=true
Comment=Launch the account wizard to configure PIM accounts.
Comment[ca]=Llança l'assistent de comptes per configurar comptes de PIM.
Comment[ca@valencia]=Llança l'assistent de comptes per configurar comptes de PIM.
Comment[en_GB]=Launch the account wizard to configure PIM accounts.
Comment[es]=Lanzar el asistente de cuentas para configurar las cuentas PIM.
Comment[fr]=Lancer l'assistant de compte pour configurer les comptes PIM
Comment[it]=Esegue la procedura guidata di creazione di un account per configurare gli account di PIM.
Comment[km]=ចាប់ផ្ដើម​អ្នក​ជំនួយការ​គណនី​ ដើម្បី​កំណត់​រចនាសម្ព័ន្ធ​គណនី PIM ។
Comment[nl]=Start de accountassistent om PIM-accounts in te stellen.
Comment[pt]=Lançar o assistente de contas para configurar as contas PIM.
Comment[pt_BR]=Executa o assistente para configuração das contas PIM.
Comment[sv]=Starta kontoguiden för att anpassa konton för personlig informationshantering.
Comment[uk]=Запустити майстер облікових записів для налаштування.
Comment[x-test]=xxLaunch the account wizard to configure PIM accounts.xx
Comment[zh_CN]=调用账户向导配置个人信息账户。
Comment[zh_TW]=啟動帳號精靈來設定 PIM 帳號
MimeType=application/x-accountwizard-package;
Terminal=false
