[Desktop Entry]
Name=Account Wizard
Name[pt]=Assistente de Contas
Name[pt_BR]=Assistente de Contas
Name[sv]=Kontoguide
Name[uk]=Майстер облікових записів
Name[x-test]=xxAccountWizardxx
Exec=accountwizard --package %f
Type=Application
NoDisplay=true;
Comment=Launch the account wizard to configure PIM accounts.
Comment[pt]=Lançar o assistente de contas para configurar as contas PIM.
Comment[pt_BR]=Executa o assistente para configuração das contas PIM.
Comment[sv]=Starta kontoguiden för att anpassa konton för personlig informationshantering.
Comment[uk]=Запустити майстер облікових записів для налаштування.
Comment[x-test]=xxLaunch the accountwizard to configure pim-accounts.xx
MimeType=application/x-accountwizard-package;
Terminal=false
