[Desktop Entry]
Name=Account Wizard
Name[bg]=Помощник за сметки
Name[bs]=Čarobnjak naloga
Name[ca]=Assistent de comptes
Name[ca@valencia]=Assistent de comptes
Name[cs]=Průvodce nastavením účtu
Name[da]=Kontoguide
Name[de]=Zugangsassistent 
Name[el]=Οδηγός Λογαριασμού
Name[en_GB]=Account Wizard
Name[es]=Asistente de cuentas
Name[et]=Kontonõustaja
Name[fi]=Opastettu tilien asetus
Name[fr]=Assistant de comptes
Name[ga]=Treoraí Cuntais
Name[gl]=Asistente de contas
Name[hu]=Azonosítóbeállító varázsló
Name[ia]=Assistente de conto
Name[it]=Procedura guidata per la creazione di account
Name[ja]=アカウントウィザード
Name[kk]=Тіркелгі шебері
Name[km]=អ្នក​ជំនួយការ​គណនី
Name[ko]=계정 마법사
Name[lt]=Paskyros vediklis
Name[lv]=Konta vednis
Name[mai]=खाता विजार्ड
Name[nb]=Konto-veiviser
Name[nds]=Konto-Hölper
Name[nl]=Accountassistent
Name[pa]=ਅਕਾਊਂਟ ਸਹਾਇਕ
Name[pl]=Pomocnik konta 
Name[pt]=Assistente de Contas
Name[pt_BR]=Assistente de contas
Name[ro]=Expert conturi
Name[ru]=Мастер учётных записей
Name[sk]=Sprievodca účtom
Name[sl]=Čarovnik za račune
Name[sr]=Чаробњак за налоге
Name[sr@ijekavian]=Чаробњак за налоге
Name[sr@ijekavianlatin]=Čarobnjak za naloge
Name[sr@latin]=Čarobnjak za naloge
Name[sv]=Kontoguide
Name[tr]=Hesap Sihirbazı
Name[ug]=زىيارەت يېتەكچىسى
Name[uk]=Майстер облікових записів
Name[x-test]=xxAccount Wizardxx
Name[zh_CN]=账户向导
Name[zh_TW]=帳號精靈
Exec=accountwizard --package %u
Type=Application
NoDisplay=true
Comment=Launch the account wizard to configure PIM accounts.
Comment[bs]=Pokreni čarobnjaka za naloge za konfigurisanje PIM naloga.
Comment[ca]=Llança l'assistent de comptes per a configurar comptes de PIM.
Comment[ca@valencia]=Llança l'assistent de comptes per a configurar comptes de PIM.
Comment[cs]=Spustit průvodce nastavením PIM účtů.
Comment[da]=Start kontoguiden for at konfigurere PIM-konti.
Comment[de]=Den Zugangsassistenten zum Einrichten von PIM-Zugängen starten.
Comment[el]=Εκτέλεση του οδηγού λογαριασμού για τη διαμόρφωση λογαριασμών PIM.
Comment[en_GB]=Launch the account wizard to configure PIM accounts.
Comment[es]=Lanzar el asistente de cuentas para configurar las cuentas PIM.
Comment[et]=Kontonõustaja käivitamine PIM-kontode seadistamiseks.
Comment[fi]=Käynnistä PIM-tilien opastettu asetus.
Comment[fr]=Lance l'assistant de compte pour configurer les comptes PIM.
Comment[gl]=Iniciar o asistente de contas para configurar as contas de información persoal
Comment[hu]=A PIM azonosítókat beállító varázsló elindítása.
Comment[ia]=Aperi le assistente de conto pro configurar contos del Administration de Informationes Personal
Comment[it]=Esegue la procedura guidata per la creazione di account per configurare gli account di PIM.
Comment[kk]=PIM тіркелгілерін баптау үшін шеберін жегеді.
Comment[km]=ចាប់ផ្ដើម​អ្នក​ជំនួយការ​គណនី​ ដើម្បី​កំណត់​រចនាសម្ព័ន្ធ​គណនី PIM ។
Comment[ko]=계정 마법사를 실행하여 PIM 계정을 설정합니다.
Comment[lt]=PIM paskyros nustatymui, paleisti paskyros vediklį.
Comment[lv]=Palaiž konta vedni, lai konfigurētu PIM kontus.
Comment[nb]=Start kontoveiviseren for å sette opp PIM-kontoer.
Comment[nds]=Konto-Hölper för't Inrichten vun PIM-Kontos starten
Comment[nl]=Start de accountassistent om PIM-accounts in te stellen.
Comment[pl]=Uruchom pomocnika konta, aby ustawić konta ZIO.
Comment[pt]=Lançar o assistente de contas para configurar as contas PIM.
Comment[pt_BR]=Executa o assistente para configuração das contas PIM.
Comment[ro]=Lansează expertul de conturi pentru a configura conturi noi.
Comment[ru]=Мастер для настройки учётных записей персонального информационного менеджера.
Comment[sk]=Spustí sprievodcu účtami na nasatavenie PIM účtov.
Comment[sl]=Zaženite čarovnika za nastavljanje računov za osebne podatke.
Comment[sr]=Покрените чаробњак да подесите ПИМ налоге.
Comment[sr@ijekavian]=Покрените чаробњак да подесите ПИМ налоге.
Comment[sr@ijekavianlatin]=Pokrenite čarobnjak da podesite PIM naloge.
Comment[sr@latin]=Pokrenite čarobnjak da podesite PIM naloge.
Comment[sv]=Starta kontoguiden för att anpassa konton för personlig informationshantering.
Comment[tr]=PIM hesaplarını düzenlemek için hesap sihirbazını başlat.
Comment[ug]=PIM ھېساباتلىرىنى سەپلەشتە ئىشلىتىدىغان ھېسابات يېتەكچىسىنى ئىجرا قىلىش
Comment[uk]=Запустити майстер облікових записів для налаштування.
Comment[x-test]=xxLaunch the account wizard to configure PIM accounts.xx
Comment[zh_CN]=调用账户向导配置个人信息账户。
Comment[zh_TW]=啟動帳號精靈來設定 PIM 帳號
MimeType=application/x-accountwizard-package;
Terminal=false
X-DBUS-StartupType=Unique
X-DBUS-ServiceName=org.kde.accountwizard
