[Desktop Entry]
Name=KJots plasmoid
Name[cs]=Plasmoid KJots
Name[de]=KJots-Plasmoid
Name[el]=Πλασμοειδές KJots
Name[es]=Plasmoide KJotsa
Name[et]=KJotsi plasmoid
Name[fr]=Plasmoïde KJots
Name[ga]=Plasmóid KJots
Name[gl]=Plasmoide de KJots
Name[nds]=KJots-Plasmoid
Name[pt]=Plasmóide do KJots
Name[pt_BR]=Plasmóide do KJots
Name[sv]=Kjots plasmoid
Name[tr]=KJots plasma programcığı
Name[uk]=Плазмоїд KJots
Name[x-test]=xxKJots plasmoidxx
Comment=KJots plasmoid
Comment[cs]=Plasmoid KJots
Comment[de]=KJots-Plasmoid
Comment[el]=Πλασμοειδές KJots
Comment[es]=Plasmoide KJotsa
Comment[et]=KJotsi plasmoid
Comment[fr]=Plasmoïde KJots
Comment[ga]=Plasmóid KJots
Comment[gl]=Plasmoide KJots
Comment[nds]=KJots-Plasma-Lüttprogramm
Comment[pt]=Plasmóide do KJots
Comment[pt_BR]=Plasmóide do KJots
Comment[sv]=Kjots plasmoid
Comment[tr]=KJots plasma programcığı
Comment[uk]=Плазмоїд KJots
Comment[x-test]=xxKJots plasmoidxx
Type=Service
Icon=kjots

X-KDE-ServiceTypes=Plasma/Applet
X-KDE-Library=plasma_applet_kjots
X-KDE-PluginInfo-Author=Stephen Kelly
X-KDE-PluginInfo-Email=steveire@gmail.com
X-KDE-PluginInfo-Name=kjots-plasmoid
X-KDE-PluginInfo-Version=0.1
X-KDE-PluginInfo-Website=http://pim.kde.org/kjots
X-KDE-PluginInfo-Category=PIM
X-KDE-PluginInfo-Depends=
X-KDE-PluginInfo-License=GPL
X-KDE-PluginInfo-EnabledByDefault=true
