[Desktop Entry]
Name=Akonadi TomboyNotes Resource
Name[ca]=Recurs TomboyNotes per a l'Akonadi
Name[ca@valencia]=Recurs TomboyNotes per a l'Akonadi
Name[cs]=Zdroj Akonadi TomboyNotes
Name[en_GB]=Akonadi TomboyNotes Resource
Name[es]=Recurso de notas de Tomboy de Akonadi
Name[it]=Risorsa note di Tomboy per Akonadi
Name[nl]=Akonadi Tomboy-notities-hulpbron
Name[pl]=Zasób notatek Tomboy Akonadi
Name[pt]=Recurso de Notas do Tomboy do Akonadi
Name[sl]=Vir Akonadi za sporočilca Tomboy
Name[sr]=Аконадијев ресурс Томице
Name[sr@ijekavian]=Аконадијев ресурс Томице
Name[sr@ijekavianlatin]=Akonadijev resurs Tomice
Name[sr@latin]=Akonadijev resurs Tomice
Name[sv]=Akonadi TomboyNotes-resurs
Name[uk]=Ресурс нотаток Tomboy Akonadi
Name[x-test]=xxAkonadi TomboyNotes Resourcexx
Comment=Resource for Tomboy compatible notes server
Comment[ca]=Recurs per a Tomboy compatible amb el servidor de notes
Comment[ca@valencia]=Recurs per a Tomboy compatible amb el servidor de notes
Comment[en_GB]=Resource for Tomboy compatible notes server
Comment[es]=Recurso para un servidor de notas compatible con Tomboy
Comment[it]=Risorsa per un server di note compatibile con Tomboy
Comment[nl]=Hulpbron voor Tomboy compatibele notities-server
Comment[pl]=Zasób dla zgodnego serwera notatek Tomboy
Comment[pt]=Recurso para um servidor de notas compatível com o Tomboy
Comment[sl]=Vir za strežnik združljiv s sporočilci Tomboy
Comment[sr]=Ресурс за сервер бележака сагласан са Томицом
Comment[sr@ijekavian]=Ресурс за сервер бележака сагласан са Томицом
Comment[sr@ijekavianlatin]=Resurs za server beležaka saglasan sa Tomicom
Comment[sr@latin]=Resurs za server beležaka saglasan sa Tomicom
Comment[sv]=Resurs för anteckningsserver kompatibel med Tomboy
Comment[uk]=Ресурс сервера нотаток, сумісного із Tomboy
Comment[x-test]=xxResource for Tomboy compatible notes serverxx
Type=AkonadiResource
Exec=akonadi_tomboynotes_resource
Icon=view-pim-notes

X-Akonadi-MimeTypes=text/x-vnd.akonadi.note
X-Akonadi-Capabilities=Resource,Notes
X-Akonadi-Identifier=akonadi_tomboynotes_resource
