[Desktop Entry]
Name=Akonadi TomboyNotes Resource
Comment=Resource for Tomboy compatible notes server
Type=AkonadiResource
Exec=akonadi_tomboynotes_resource
Icon=view-pim-notes

X-Akonadi-MimeTypes=text/x-vnd.akonadi.note
X-Akonadi-Capabilities=Resource,Notes
X-Akonadi-Identifier=akonadi_tomboynotes_resource
