[Desktop Entry]
Type=Application
Categories=Qt;KDE;Network;
Exec=akonaditray
Icon=akonadi
Name=Akonaditray
Name[de]=Akonadi-Miniprogramm
Name[fr]=Miniature Akonadi
Name[lt]=Akondi dėklas
Name[nl]=Akonadi-vak
Name[pa]=ਅਕੌਂਡੀ-ਟਰੇ
Name[ru]=Системный лоток для Akonadi
Name[sl]=Akonadi v sistemski vrstici
Name[sv]=Akonadi-bricka
Name[x-test]=xxAkonaditrayxx
Name[zh_CN]=Akonadi 托盘
GenericName=Akonadi Tray Utility
GenericName[ca]=Utilitat de la safata per a l'Akonadi
GenericName[da]=Akonadi-værktøj til statusområdet
GenericName[de]=Akonadi für die Kontrollleiste
GenericName[el]=Εργαλείο πλαισίου συστήματος του Akonadi
GenericName[es]=Utilidad de bandeja de sistema de Akonadi
GenericName[et]=Akonadi süsteemse salve tööriist
GenericName[fr]=Utilitaire miniature Akonadi
GenericName[ga]=Uirlis Tráidire Akonadi
GenericName[gl]=Utilidade de Bandexa de Akonadi
GenericName[it]=Utilità del vassoio di sistema di Akonadi
GenericName[ja]=Akonadi システムトレイユーティリティ
GenericName[km]=ឧបករណ៍​ប្រើប្រាស់​ថាស​ប្រព័ន្ធ​របស់ Akonadi
GenericName[ko]=Akonadi 트레이 유틸리티
GenericName[lt]=Akonadi dėklo priemonė
GenericName[lv]=Anokadi sistēmas ikonas utilīta
GenericName[nb]=Akonadi kurvverktøy
GenericName[nds]=Akonadi-Systeemafsnittprogramm
GenericName[nl]=Akonadi-vak hulpmiddel
GenericName[nn]=Akonadi trauverktøy
GenericName[pa]=ਅਕੌਂਡੀ ਟਰੇ ਸਹੂਲਤ
GenericName[pl]=Narzędzie Akonadi na tacce systemowej
GenericName[pt]=Utilitário da Bandeja do Akonadi
GenericName[pt_BR]=Utilitário de notificação do Akonadi
GenericName[ro]=Utilitar Akonadi pentru tavă
GenericName[ru]=Утилита системного лотка для Akonadi
GenericName[sl]=Akonadijevo orodje v sistemski vrstici
GenericName[sv]=Akonadi-brickverktyg
GenericName[tr]=Akonadi Sistem Çekmecesi Aracı
GenericName[uk]=Утиліта лотка Akonadi
GenericName[x-test]=xxAkonadi Tray Utilityxx
GenericName[zh_CN]=Akonadi 托盘工具
GenericName[zh_TW]=Akonadi 系統匣工具
