[Desktop Entry]
Type=Application
Categories=Qt;KDE;Network;
Exec=akonaditray
Name=Akonaditray
Name[de]=Akonadi-Miniprogramm
GenericName=Akonadi Tray Utility
GenericName[de]=Akonadi für die Kontrollleiste
GenericName[ga]=Uirlis Tráidire Akonadi
GenericName[km]=ឧបករណ៍​ប្រើប្រាស់​ថាស​ប្រព័ន្ធ​របស់ Akonadi
GenericName[zh_TW]=Akonadi 系統匣工具
