[Desktop Entry]
Name=Birthdays & Anniversaries
Name[da]=Fødselsdag og mærkedage
Name[de]=Geburtstage und Jahrestage
Name[el]=Γενέθλια & επέτειοι
Name[es]=Cumpleaños y aniversarios
Name[et]=Sünni- ja aastapäevad
Name[gl]=Cumpreanos e aniversarios
Name[it]=Compleanni e anniversari
Name[ja]=誕生日と記念日
Name[km]=បុណ្យ​ខួប និង​បុណ្យ​ខួប​កំណើត
Name[lv]=Dzimšanas un svētku dienas
Name[nb]=Vis fødselsdager og bryllupsdager
Name[nds]=Geboorts- un Johrdaag
Name[nl]=Verjaardagen & trouwdagen
Name[nn]=Fødselsdagar og bryllaupsdagar
Name[pt]=Datas de Nascimento & Aniversários
Name[pt_BR]=Aniversários e aniversários de casamento
Name[ru]=Праздники
Name[sv]=Födelsedagar och årsdagar
Name[tr]=Doğumgünleri & Yıldönümleri
Name[uk]=Дні народження і річниці
Name[x-test]=xxBirthdays & Anniversariesxx
Name[zh_CN]=生日和纪念日
Name[zh_TW]=生日與紀念日
Comment=Provides access to birthday and anniversary dates of contacts in your address book as calendar events
Comment[da]=Giver adgang til fødsels- og mærkedage-datoer for kontakter i din adressebog som kalenderbegivenheder
Comment[de]=Ermöglicht den Zugriff auf Geburtstage und Jahrestage von Kontakten aus dem KDE-Adressbuch in Form von Kalendereinträgen.
Comment[el]=Προσφέρει πρόσβαση σε γενέθλια και επετείους επαφών του βιβλίου διευθύνσεών σας ως γεγονότα ημερολογίου
Comment[es]=Provee acceso a las fechas de cumpleaños  y aniversarios de los contactos en la libreta de direcciones como eventos de calendario
Comment[et]=Võimaldab kasutada KDE aadressiraamatusse kalendrisündmustena salvestatud kontaktide sünni- ja aastapäevi
Comment[gl]=Permite acceder ás datas de cumpreanos e aniversarios dos contactos do caderno de enderezos como eventos do calendario
Comment[it]=Consente l'accesso alle date di nascita ed agli anniversari dei contatti della rubrica di KDE come eventi di calendario.
Comment[ja]=アドレス帳にカレンダーイベントとして保存されている誕生日と記念日へのアクセスを提供します
Comment[km]=ផ្ដល់​សិទ្ធិ​ចូល​ដំណើរការ​ទៅកាន់​កាលបរិច្ឆេទ​ថ្ងៃ​ខួប​កំណើត​នៃ​ទំនាក់ទំនង​នៅ​ក្នុង​សៀវភៅ​អាសយដ្ឋាន KDE ជា​ព្រឹត្តិការណ៍​ប្រតិទិន
Comment[lv]=Nodrošina piekļuvi KDE adrešu grāmatas kontaktu dzimšanas dienu datumiem kā kalendāra notikumiem
Comment[nb]=Gir tilgang til bursdager og bryllupsdager for kontakter i adresseboka, som kalenderhendelser
Comment[nds]=Stellt Togriep op Geboorts- un Johrdaag vun Kontakten binnen Dien Adressbook as Kalenner-Begeevnissen praat
Comment[nl]=Geeft toegang tot verjaar- en trouwdata van contactpersonen in uw adresboek als agenda-items
Comment[nn]=Gjev tilgang til fødselsdagane og bryllaupsdagane til kontaktar i adresseboka som kalenderhendingar
Comment[pt]=Oferece o acesso às datas de nascimento e aniversário dos contactos no livro de endereços como eventos do calendário
Comment[pt_BR]=Fornece acesso às datas de aniversário e de casamento de contatos do seu livro de endereços como eventos de calendário
Comment[ru]=Доступ к информации о днях рождения из адресной книги KDE как к событиям календаря
Comment[sv]=Ger tillgång till datum för födelsedagar och årsdagar för kontakter i KDE:s adressbok som kalenderhändelser
Comment[tr]=Adres defterindeki kişilerin doğumgünleri ve yıldönümlerine takvim olayları olarak erişmeyi sağlar
Comment[uk]=Надає доступ до дат днів народження і річниць, які зберігаються у вашій адресній книзі як події календаря
Comment[x-test]=xxProvides access to birthday and anniversary dates of contacts in your address book as calendar eventsxx
Comment[zh_CN]=提供对存储在 KDE 地址簿文件夹中的联系人生日和纪念日的访问支持，并将其作为日历中的事件
Comment[zh_TW]=提供存取儲存通訊錄中的生日與紀念日日期，做為行事曆的事件
Type=AkonadiResource
Exec=akonadi_birthdays_resource
Icon=preferences-web-browser-cookies

X-Akonadi-MimeTypes=text/calendar,application/x-vnd.akonadi.calendar.event
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_birthdays_resource
