[Desktop Entry]
Name=New Email Notifier
Name[ia]=Notificator de nove messages de e-posta
Name[pt]=Notificação de Correio Novo
Name[sv]=Ny brevunderrättelse
Name[uk]=Сповіщувач про нові повідомлення
Name[x-test]=xxNew Email Notifierxx
Comment=Notifications about newly received emails
Comment[ia]=Notificationes re nove e-postas recipite
Comment[nl]=Meldingen over nieuw ontvangen e-mails
Comment[pt]=Notificações acerca do correio novo recebido
Comment[sv]=Underrättelser om nyss mottagen e-post
Comment[uk]=Сповіщення щодо щойно отриманих повідомлень
Comment[x-test]=xxNotifications about newly received emailsxx
Comment[zh_TW]=收到新郵件的通知
Icon=mail-unread-new
Type=AkonadiAgent
Exec=newmailnotifieragent

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_newmailnotifier_agent
X-Akonadi-LaunchMethod=AgentServer
