[Desktop Entry]
Name=New Email Notifier
Name[x-test]=xxNew Email Notifierxx
Comment=Notifications about newly received emails
Comment[x-test]=xxNotifications about newly received emailsxx
Icon=mail-unread-new
Type=AkonadiAgent
Exec=newmailnotifieragent

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_newmailnotifier_agent
X-Akonadi-LaunchMethod=AgentServer
