[Desktop Entry]
Name=Microblog (Twitter and Identi.ca)
Name[et]=Mikroblogi (Twitter ja Identi.ca)
Name[ga]=Micreabhlagadóireacht (Twitter agus Identi.ca)
Name[gl]=Microblogue (Twitter e Identi.ca)
Name[nds]=Microblog (Twitter un Identi.ca)
Name[pt]=Micro-blog (Twitter e Identi.ca)
Name[pt_BR]=Micro-blog (Twitter e Identi.ca)
Name[sv]=Mikrowebbjournal (Twitter och Identi.ca)
Name[uk]=Міктоблог (Twitter і Identi.ca)
Comment=Shows your microblog data from Twitter or Identi.ca.
Comment[et]=Näitab mikroblogi andmeid Twitterist või Identi.ca-st
Comment[ga]=Taispeáin do shonraí micreabhlagadóireachta ó Twitter nó Identi.ca.
Comment[gl]=Mostra os datos do seu microblogue Twitter ou Identi.ca.
Comment[nds]=Wiest Dien Mikroblog-Daten vun Twitter oder Identi.ca.
Comment[pt]=Mostra os dados do seu micro-blog do Twitter ou do Identi.ca.
Comment[pt_BR]=Mostra os dados do seu micro-blog do Twitter ou do Identi.ca.
Comment[sv]=Visar data från Twitter eller Identi.ca mikrowebbjournaler.
Comment[uk]=Показує ваші дані з мікроблогу Twitter або Identi.ca.
Type=AkonadiResource
Exec=akonadi_microblog_resource

X-Akonadi-MimeTypes=application/x-vnd.kde.microblog
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_microblog_resource
