[Desktop Entry]
Name=Microblog (Twitter and Identi.ca)
Name[ar]=التدوين المصغر ( تويتر و Identi.ca )
Name[bs]=Mikroblog (Twitter i Identi.ca)
Name[ca]=Microbloc (Twitter i Identi.ca)
Name[ca@valencia]=Microbloc (Twitter i Identi.ca)
Name[da]=Microblog (Twitter og Identi.ca)
Name[de]=Microblog (Twitter und Identi.ca)
Name[el]=Microblog (Twitter και Identi.ca)
Name[en_GB]=Microblog (Twitter and Identi.ca)
Name[es]=Microblog (Twitter e Identi.ca)
Name[et]=Mikroblogi (Twitter ja Identi.ca)
Name[fi]=Mikroblogaus (Twitter ja Identi.ca)
Name[fr]=Microblog (Twitter et Identi.ca)
Name[ga]=Micreabhlagadóireacht (Twitter agus Identi.ca)
Name[gl]=Microblog (Twitter e Identi.ca)
Name[hu]=Microblog (Twitter, Identi.ca)
Name[ia]=Microblot (Twitter e Identi.ca)
Name[it]=Microblog (Twitter e Identi.ca)
Name[ja]=マイクロブログ (Twitter や Identi.ca)
Name[kk]=Микроблог (Twitter және Identi.ca)
Name[km]=Microblog (Twitter និង Identi.ca)
Name[lt]=Mikrotinklaraštis (Twitter ir Identi.ca)
Name[lv]=Mikroblogi (Twitter un Identi.ca)
Name[nb]=Mikroblogging (Twitter og Identi.ca)
Name[nds]=Lüttdaagbook (Twitter un Identi.ca)
Name[nl]=Microblog (Twitter en Identi.ca)
Name[nn]=Mikroblogging (Twitter og Identi.ca)
Name[pa]=ਮਾਈਕਰੋਬਲੌਗ (ਟਵਿੱਟਰ ਅਤੇ Identi.ca)
Name[pl]=Mikroblog (Twitter i Identi.ca)
Name[pt]=Micro-blog (Twitter e Identi.ca)
Name[pt_BR]=Microblog (Twitter e Identi.ca)
Name[ro]=Microblog (Twitter și Identi.ca)
Name[ru]=Микроблог (Twitter и Identi.ca)
Name[sl]=Mikroblog (identi.ca in Twitter)
Name[sv]=Mikroblogg (Twitter och Identi.ca)
Name[tr]=Mini günlük (Twitter ve Identi.ca)
Name[uk]=Міктоблог (Twitter і Identi.ca)
Name[x-test]=xxMicroblog (Twitter and Identi.ca)xx
Name[zh_CN]=微博客(Twitter 和 Identi.ca 等)
Name[zh_TW]=Microblog（Twitter 與 Identi.ca）
Comment=Shows your microblog data from Twitter or Identi.ca.
Comment[ar]=تظهر بيانات التدوين المصغر من Twitter أو Identi.ca .
Comment[bs]=Prikazuje vaše mikroblog podatke sa Twittera ili Identi.ca-e.
Comment[ca]=Mostra les vostres dades d'un microbloc de Twitter o Identi.ca.
Comment[ca@valencia]=Mostra les vostres dades d'un microbloc de Twitter o Identi.ca.
Comment[da]=Viser dine microblog-data fra Twitter eller Identi.ca.
Comment[de]=Zeigt Microblog-Daten aus Twitter oder Identi.ca an.
Comment[el]=Εμφάνιση των δεδομένων σας από το Twitter ή το Identi.ca.
Comment[en_GB]=Shows your microblog data from Twitter or Identi.ca.
Comment[es]=Muestra sus datos microblog desde Twitter o Identi.ca.
Comment[et]=Näitab mikroblogi andmeid Twitterist või Identi.ca-st
Comment[fi]=Näyttää mikroblogitietosi Twitteristä tai Identi.casta.
Comment[fr]=Affiche vos informations de Twitter ou Identi.ca
Comment[ga]=Taispeáin do shonraí micreabhlagadóireachta ó Twitter nó Identi.ca.
Comment[gl]=Mostra os seus datos de microblog de Twitter ou Identi.ca.
Comment[hu]=Megjeleníti a Twitter vagy az Identi.ca adatait.
Comment[ia]=Monstra tu datos de microblog de Twitter o Identi.ca.
Comment[it]=Mostra i dati di microblog da Twitter o Identi.ca.
Comment[ja]=Twitter や Identi.ca からマイクロブログを表示します。
Comment[kk]=Twitter не Identi.ca.микроблогтарыңызды көрсету
Comment[km]=បង្ហាញ​ទិន្នន័យ microblog របស់​អ្នក​ពី Twitter ឬ Identi.ca ។
Comment[lt]=Rodo mikrotinklaraščio duomenis iš Twitter arba Identi.ca.
Comment[lv]=Rāda jūsu mikrobliogu datus no Twitter un Identi.ca.
Comment[nb]=Viser dine mikrobloggdata fra Twitter eller Identi.ca
Comment[nds]=Wiest Dien Lüttdaagbook-Daten ut Twitter un Identi.ca.
Comment[nl]=Toont uw microblog gegevens uit Twitter of Identi.ca.
Comment[nn]=Viser mikrobloggdata frå Twitter eller Identi.ca.
Comment[pl]=Pokazuje dane mikroblogów z Twittera lub Identi.ca.
Comment[pt]=Mostra os seus dados dos micro-blogs Twitter ou Identi.ca.
Comment[pt_BR]=Exibr os dados do seu microblog do Twitter ou Identi.ca.
Comment[ro]=Vă arată datele de microblog de pe Twitter și Identi.ca.
Comment[ru]=Показывать ваши данные с микроблогов Twitter или Identi.ca.
Comment[sl]=Prikazuje podatke z vašega računa pri identi.ca in Twitter.
Comment[sv]=Visar data från din blogg hos Twitter eller Identi.ca.
Comment[tr]=Twitter veya Identi.ca servislerinde bulunan mini günlük verilerinizi gösterir.
Comment[uk]=Показує ваші дані з мікроблогу Twitter або Identi.ca.
Comment[x-test]=xxShows your microblog data from Twitter or Identi.ca.xx
Comment[zh_CN]=显示您在 Twitter 或 Identi.ca 上的微博客数据
Comment[zh_TW]=顯示從 Twitter 或 Identi.ca 來的 microblog 資料
Type=AkonadiResource
Exec=akonadi_microblog_resource

X-Akonadi-MimeTypes=application/x-vnd.kde.microblog
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_microblog_resource
