[Desktop Entry]
Name=Microblog (Twitter and Identi.ca)
Name[da]=Microblog (Twitter og Identi.ca)
Name[el]=Microblog (Twitter και Identi.ca)
Name[et]=Mikroblogi (Twitter ja Identi.ca)
Name[ga]=Micreabhlagadóireacht (Twitter agus Identi.ca)
Name[gl]=Microblog (Twitter e Identi.ca)
Name[km]=Microblog (Twitter និង Identi.ca)
Name[lv]=Mikroblogi (Twitter un Identi.ca)
Name[nb]=Microblog (Twitter og Identi.ca)
Name[nds]=Lüttdaagbook (Twitter un Identi.ca)
Name[nn]=Mikroblogging (Twitter og Identi.ca)
Name[pt]=Micro-blog (Twitter e Identi.ca)
Name[pt_BR]=Microblog (Twitter e Identi.ca)
Name[ru]=Микроблог (Twitter и Identi.ca)
Name[sv]=Mikrowebbjournal (Twitter och Identi.ca)
Name[tr]=Mini günlük (Twitter ve Identi.ca)
Name[uk]=Міктоблог (Twitter і Identi.ca)
Name[x-test]=xxMicroblog (Twitter and Identi.ca)xx
Name[zh_CN]=微博客(Twitter 和 Identi.ca 等)
Name[zh_TW]=Microblog（Twitter 與 Identi.ca）
Comment=Shows your microblog data from Twitter or Identi.ca.
Comment[da]=Viser dine microblog-data fra Twitter eller Identi.ca.
Comment[el]=Εμφάνιση των δεδομένων σας microblog από το Twitter ή Identi.ca.
Comment[et]=Näitab mikroblogi andmeid Twitterist või Identi.ca-st
Comment[gl]=Mostra os seus datos de microblog de Twitter ou Identi.ca.
Comment[km]=បង្ហាញ​ទិន្នន័យ microblog របស់​អ្នក​ពី Twitter ឬ Identi.ca ។
Comment[lv]=Rāda jūsu mikrobliogu datus no Twitter un Identi.ca.
Comment[nb]=Viser dine mikrobloggdata fra Twitter eller Identi.ca
Comment[nds]=Wiest Dien Lüttdaagbook-Daten ut Twitter un Identi.ca.
Comment[nn]=Viser mikrobloggdata frå Twitter eller Identi.ca.
Comment[pt]=Mostra os seus dados dos micro-blogs Twitter ou Identi.ca.
Comment[pt_BR]=Exibr os dados do seu microblog do Twitter ou Identi.ca.
Comment[ru]=Показывать ваши данные с микроблогов Twitter или Identi.ca.
Comment[sv]=Visar data från din mikrowebbjournal hos Twitter eller Identi.ca.
Comment[tr]=Twitter veya Identi.ca servislerinde bulunan mini günlük verilerinizi gösterir.
Comment[uk]=Показує ваші дані з мікроблогу Twitter або Identi.ca.
Comment[x-test]=xxShows your microblog data from Twitter or Identi.ca.xx
Comment[zh_CN]=显示您在 Twitter 或 Identi.ca 上的微博客数据
Comment[zh_TW]=顯示從 Twitter 或 Identi.ca 來的 microblog 資料
Type=AkonadiResource
Exec=akonadi_microblog_resource

X-Akonadi-MimeTypes=application/x-vnd.kde.microblog
X-Akonadi-Capabilities=Resource
X-Akonadi-Identifier=akonadi_microblog_resource
