[Desktop Entry]
Name=Mail Dispatcher Agent
Name[es]=Agente despachador de correo
Name[nb]=Agent for e-postsending
Name[nds]=Nettpostverdeel-Hölper
Name[pt]=Agente de Despacho do Correio
Name[pt_BR]=Agente de despacho de e-mails
Name[sv]=E-postsändningsmodul
Name[tr]=E-posta Yönetim Aracı
Name[uk]=Агент розподілу пошти
Name[x-test]=xxMail Dispatcher Agentxx
Name[zh_TW]=郵件配送代理程式
Type=AkonadiAgent
Exec=akonadi_maildispatcher_agent
Icon=mail-folder-outbox

X-Akonadi-MimeTypes=message/rfc822
X-Akonadi-Capabilities=Unique,Autostart,NoConfig
X-Akonadi-Identifier=akonadi_maildispatcher_agent
