[Desktop Entry]
Name=Citadel
Name[ca]=Citadel
Name[cs]=Citadel
Name[da]=Citadel
Name[el]=Citadel
Name[ia]=Citadel
Name[nds]=Citadel
Name[nl]=Citadel
Name[pt]=Citadel
Name[pt_BR]=Citadel
Name[sv]=Citadel
Name[uk]=Citadel
Name[x-test]=xxCitadelxx
Name[zh_TW]=Citadel
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=GroupDav
X-DavGroupware-GroupDavPath=/groupdav
