[Desktop Entry]
Name=Citadel
Name[ca]=Citadel
Name[ca@valencia]=Citadel
Name[cs]=Citadel
Name[da]=Citadel
Name[de]=Citadel
Name[el]=Citadel
Name[es]=Citadel
Name[et]=Citadel
Name[ia]=Citadel
Name[it]=Citadel
Name[kk]=Citadel
Name[km]=Citadel
Name[nb]=Citadel
Name[nds]=Citadel
Name[nl]=Citadel
Name[pt]=Citadel
Name[pt_BR]=Citadel
Name[ro]=Citadel
Name[ru]=Citadel
Name[sv]=Citadel
Name[uk]=Citadel
Name[x-test]=xxCitadelxx
Name[zh_TW]=Citadel
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=GroupDav
X-DavGroupware-GroupDavPath=/groupdav
