[Desktop Entry]
Name=Davical
Name[ca]=Davical
Name[cs]=Davical
Name[el]=Davical
Name[ia]=Davical
Name[nds]=DAVical
Name[nl]=Davical
Name[pt]=Davical
Name[pt_BR]=Davical
Name[sv]=Davical
Name[uk]=Davical
Name[x-test]=xxDavicalxx
Name[zh_TW]=Davical
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav
X-DavGroupware-CalDavPath=/caldav.php
