[Desktop Entry]
Name=eGroupware
Name[ca]=eGroupware
Name[da]=eGroupware
Name[el]=eGroupware
Name[es]=eGroupware
Name[ia]=eGroupware
Name[nb]=eGroupware
Name[nds]=eGroupware
Name[nl]=eGroupware
Name[pt]=eGroupware
Name[pt_BR]=eGroupware
Name[ru]=eGroupware
Name[sv]=eGroupware
Name[uk]=eGroupware
Name[x-test]=xxeGroupwarexx
Name[zh_TW]=eGroupware
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-CalDavPath=/groupdav.php
X-DavGroupware-CardDavPath=/groupdav.php
