[Desktop Entry]
Name=eGroupware
Name[nl]=eGroupware
Name[pt]=eGroupware
Name[sv]=eGroupware
Name[uk]=eGroupware
Name[x-test]=xxeGroupwarexx
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-CalDavPath=/groupdav.php
X-DavGroupware-CardDavPath=/groupdav.php
