[Desktop Entry]
Name=Fastmail
Name[ca]=Fastmail
Name[es]=Fastmail
Name[gl]=Fastmail
Name[ka]=Fastmail
Name[nl]=Fastmail
Name[sl]=Fastmail
Name[tr]=Fastmail
Name[uk]=Fastmail
Name[x-test]=xxFastmailxx
Type=Service
Icon=account-fastmail

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-ProviderUsesSSL=1
X-DavGroupware-CalDavHost=caldav.fastmail.com
X-DavGroupware-CardDavHost=carddav.fastmail.com
