[Desktop Entry]
Name=Fastmail
Name[ar]=Fastmail
Name[bg]=Fastmail
Name[ca]=Fastmail
Name[ca@valencia]=Fastmail
Name[es]=Fastmail
Name[eu]=Fastmail
Name[fi]=Fastmail
Name[fr]=Fastmail
Name[gl]=Fastmail
Name[he]=Fastmail
Name[ia]=Fastmail
Name[it]=Fastmail
Name[ka]=Fastmail
Name[ko]=Fastmail
Name[lv]=Fastmail
Name[nl]=Fastmail
Name[pl]=Fastmail
Name[pt_BR]=Fastmail
Name[sl]=Fastmail
Name[sv]=Fastmail
Name[tr]=Fastmail
Name[uk]=Fastmail
Name[x-test]=xxFastmailxx
Name[zh_CN]=Fastmail
Name[zh_TW]=Fastmail
Type=Service
Icon=account-fastmail

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-ProviderUsesSSL=1
X-DavGroupware-CalDavHost=caldav.fastmail.com
X-DavGroupware-CardDavHost=carddav.fastmail.com
