[Desktop Entry]
Name=Kopano
Name[ar]=Kopano
Name[bg]=Kopano
Name[ca]=Kopano
Name[ca@valencia]=Kopano
Name[es]=Kopano
Name[gl]=Kopano
Name[he]=Kopano
Name[it]=Kopano
Name[ka]=Kopano
Name[nl]=Kopano
Name[sl]=Kopano
Name[tr]=Kopano
Name[uk]=Kopano
Name[x-test]=xxKopanoxx
Name[zh_TW]=Kopano
Type=Service
Icon=account-kopano

X-DavGroupware-SupportedProtocols=CalDav
X-DavGroupware-CalDavPath=/caldav/$user$
