[Desktop Entry]
Name=Kopano
Name[ar]=Kopano
Name[bg]=Kopano
Name[ca]=Kopano
Name[ca@valencia]=Kopano
Name[es]=Kopano
Name[eu]=Kopano
Name[fi]=Kopano
Name[fr]=Kopano
Name[gl]=Kopano
Name[he]=Kopano
Name[ia]=Kopano
Name[it]=Kopano
Name[ka]=Kopano
Name[ko]=Kopano
Name[lv]=Kopano
Name[nl]=Kopano
Name[pl]=Kopano
Name[pt_BR]=Kopano
Name[sl]=Kopano
Name[sv]=Kopano
Name[tr]=Kopano
Name[uk]=Kopano
Name[zh_CN]=Kopano
Name[zh_TW]=Kopano
Type=Service
Icon=account-kopano

X-DavGroupware-SupportedProtocols=CalDav
X-DavGroupware-CalDavPath=/caldav/$user$
