[Desktop Entry]
Name=Nextcloud
Name[ca]=Nextcloud
Name[ca@valencia]=Nextcloud
Name[cs]=NextCloud
Name[es]=Nextcloud
Name[fr]=Nextcloud
Name[it]=Nextcloud
Name[nl]=Nextcloud
Name[pt]=Nextcloud
Name[pt_BR]=Nextcloud
Name[sv]=Nextcloud
Name[uk]=Nextcloud
Name[x-test]=xxNextcloudxx
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-CalDavPath=/remote.php/dav
X-DavGroupware-CardDavPath=/remote.php/dav
