[Desktop Entry]
Name=OpenGroupware
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=GroupDav
X-DavGroupware-GroupDavPath=/zidestore/dav/$user
