[Desktop Entry]
Name=OpenGroupware
Name[bg]=OpenGroupware
Name[ca]=OpenGroupware
Name[ca@valencia]=OpenGroupware
Name[cs]=OpenGroupware
Name[da]=OpenGroupware
Name[de]=OpenGroupware
Name[el]=OpenGroupware
Name[es]=OpenGroupware
Name[et]=OpenGroupware
Name[fi]=OpenGroupware
Name[ia]=OpenGroupware
Name[it]=OpenGroupware
Name[kk]=OpenGroupware
Name[km]=OpenGroupware
Name[lt]=OpenGroupware
Name[nb]=OpenGroupware
Name[nds]=OpenGroupware
Name[nl]=OpenGroupware
Name[pl]=OpenGroupware
Name[pt]=OpenGroupware
Name[pt_BR]=OpenGroupware
Name[ro]=OpenGroupware
Name[ru]=OpenGroupware
Name[sv]=OpenGroupware
Name[uk]=OpenGroupware
Name[x-test]=xxOpenGroupwarexx
Name[zh_TW]=OpenGroupware
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=GroupDav
X-DavGroupware-GroupDavPath=/zidestore/dav/$user
