[Desktop Entry]
Name=ownCloud (> 5.0 and < 9.0)
Name[ca]=ownCloud (> 5.0 i < 9.0)
Name[ca@valencia]=ownCloud (> 5.0 i < 9.0)
Name[nl]=ownCloud (> 5.0 en < 9.0)
Name[pt]=ownCloud (> 5.0 e < 9.0)
Name[sl]=ownCloud (> 5.0 in < 9.0)
Name[sv]=ownCloud (> 5.0 och < 9.0)
Name[uk]=ownCloud (> 5.0 і < 9.0)
Name[x-test]=xxownCloud (> 5.0 and < 9.0)xx
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-CalDavPath=/remote.php/caldav
X-DavGroupware-CardDavPath=/remote.php/carddav
