[Desktop Entry]
Name=ownCloud
Name[el]=ownCloud
Name[es]=Nube propia
Name[ia]=proprie Nebula (ownCloud)
Name[lt]=ownCloud
Name[nb]=ownCloud
Name[nds]=ownCloud
Name[nl]=ownCloud
Name[pt]=ownCloud
Name[pt_BR]=ownCloud
Name[sv]=ownCloud
Name[uk]=ownCloud
Name[x-test]=xxownCloudxx
Name[zh_CN]=ownCloud
Name[zh_TW]=ownCloud
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-CalDavPath=/apps/calendar/caldav.php
X-DavGroupware-CardDavPath=/apps/contacts/carddav.php
