[Desktop Entry]
Name=ScalableOGo
Name[ca]=ScalableOGo
Name[ca@valencia]=ScalableOGo
Name[cs]=ScalableOGo
Name[da]=ScalableOGo
Name[de]=ScalableOGo
Name[el]=ScalableOGo
Name[es]=ScalableOGo
Name[ia]=ScalableOGo
Name[nb]=ScalableOGo
Name[nds]=ScalableOGo
Name[nl]=ScalableOGo
Name[pt]=ScalableOGo
Name[pt_BR]=ScalableOGo
Name[ru]=ScalableOGo
Name[sv]=ScalableOGo
Name[uk]=ScalableOGo
Name[x-test]=xxScalableOGoxx
Name[zh_TW]=ScalableOGo
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-InstallationPath=/SOGo
X-DavGroupware-CalDavPath=/dav/$user$/Calendar
X-DavGroupware-CardDavPath=/dav/$user$/Contacts
