[Desktop Entry]
Name=Yahoo!
Name[cs]=Yahoo!
Name[ia]=Yahoo!
Name[nds]=Yahoo!
Name[nl]=Yahoo!
Name[pt]=Yahoo!
Name[pt_BR]=Yahoo!
Name[sv]=Yahoo!
Name[uk]=Yahoo!
Name[x-test]=xxYahoo!xx
Name[zh_TW]=Yahoo!
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-ProviderUsesSSL=1
X-DavGroupware-CalDavHost=caldav.calendar.yahoo.com
X-DavGroupware-CalDavPath=/principals/users/$user$
X-DavGroupware-CardDavHost=carddav.address.yahoo.com
X-DavGroupware-CardDavPath=/principals/users/$user$
