[Desktop Entry]
Name=Zarafa
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav
X-DavGroupware-CalDavPath=/caldav/$user$
