[Desktop Entry]
Name=Zarafa
Name[cs]=Zarafa
Name[ia]=Zarafa
Name[nds]=Zarafa
Name[nl]=Zarafa
Name[pt]=Zarafa
Name[pt_BR]=Zarafa
Name[sv]=Zarafa
Name[uk]=Zarafa
Name[x-test]=xxZarafaxx
Name[zh_TW]=Zarafa
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav
X-DavGroupware-CalDavPath=/caldav/$user$
