[Desktop Entry]
Name=Zimbra
Name[ca]=Zimbra
Name[cs]=Zimbra
Name[da]=Zimbra
Name[el]=Zimbra
Name[es]=Zimbra
Name[ia]=Zimbra
Name[nds]=Zimbra
Name[nl]=Zimbra
Name[pt]=Zimbra
Name[pt_BR]=Zimbra
Name[sv]=Zimbra
Name[uk]=Zimbra
Name[x-test]=xxZimbraxx
Name[zh_TW]=Zimbra
Type=Service
X-KDE-ServiceTypes=DavGroupwareProvider

X-DavGroupware-SupportedProtocols=CalDav,CardDav
X-DavGroupware-CalDavPath=/principals/users/$user$
X-DavGroupware-CardDavPath=/principals/users/$user$
