[Desktop Entry]
Name=Zoho
Name[ar]=زوهو
Name[bg]=Zoho
Name[ca]=Zoho
Name[ca@valencia]=Zoho
Name[es]=Zoho
Name[eu]=Zoho
Name[fi]=Zoho
Name[fr]=Zoho
Name[gl]=Zoho
Name[he]=Zoho
Name[ia]=Zoho
Name[it]=Zoho
Name[ka]=Zoho
Name[ko]=Zoho
Name[lv]=Zoho
Name[nl]=Zoho
Name[pl]=Zoho
Name[pt_BR]=Zoho
Name[sl]=Zoho
Name[sv]=Zoho
Name[tr]=Zoho
Name[uk]=Zoho
Name[x-test]=xxZohoxx
Name[zh_CN]=Zoho
Name[zh_TW]=Zoho
Type=Service
Icon=account-zoho

X-DavGroupware-Provider=Zoho
X-DavGroupware-ProviderUsesSSL=1
X-DavGroupware-SupportedProtocols=CalDav
X-DavGroupware-CalDavHost=calendar.zoho.com
